<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baoxiang_open_effect0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,196},{113,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,95}}</string>
                <key>sourceSize</key>
                <string>{113,95}</string>
            </dict>
            <key>baoxiang_open_effect0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,99},{113,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,95}}</string>
                <key>sourceSize</key>
                <string>{113,95}</string>
            </dict>
            <key>baoxiang_open_effect0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,99},{113,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,95}}</string>
                <key>sourceSize</key>
                <string>{113,95}</string>
            </dict>
            <key>baoxiang_open_effect0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,99},{113,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,95}}</string>
                <key>sourceSize</key>
                <string>{113,95}</string>
            </dict>
            <key>baoxiang_open_effect0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{113,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,95}}</string>
                <key>sourceSize</key>
                <string>{113,95}</string>
            </dict>
            <key>baoxiang_open_effect0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{113,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,95}}</string>
                <key>sourceSize</key>
                <string>{113,95}</string>
            </dict>
            <key>baoxiang_open_effect0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{113,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,95}}</string>
                <key>sourceSize</key>
                <string>{113,95}</string>
            </dict>
            <key>baoxiang_open_effect0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,2},{113,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,95}}</string>
                <key>sourceSize</key>
                <string>{113,95}</string>
            </dict>
            <key>baoxiang_open_effect0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{113,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,95}}</string>
                <key>sourceSize</key>
                <string>{113,95}</string>
            </dict>
            <key>baoxiang_open_effect0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{113,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,95}}</string>
                <key>sourceSize</key>
                <string>{113,95}</string>
            </dict>
            <key>baoxiang_open_effect0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{113,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,95}}</string>
                <key>sourceSize</key>
                <string>{113,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baoxiang_open.png</string>
            <key>size</key>
            <string>{462,444}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc078af5fe099ec1820514b9453a2ded$</string>
            <key>textureFileName</key>
            <string>baoxiang_open.png</string>
        </dict>
    </dict>
</plist>
