<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOSS_034_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,151}}</string>
                <key>sourceSize</key>
                <string>{172,151}</string>
            </dict>
            <key>BOSS_034_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{132,135}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{132,135}}</string>
                <key>sourceSize</key>
                <string>{172,151}</string>
            </dict>
            <key>BOSS_034_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,127},{130,127}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{130,127}}</string>
                <key>sourceSize</key>
                <string>{172,151}</string>
            </dict>
            <key>BOSS_034_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,139},{136,115}}</string>
                <key>offset</key>
                <string>{-12,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,23},{136,115}}</string>
                <key>sourceSize</key>
                <string>{172,151}</string>
            </dict>
            <key>BOSS_034_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{146,123}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{146,123}}</string>
                <key>sourceSize</key>
                <string>{172,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_034.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d959543451ccf38d9fede848b2046ee$</string>
            <key>textureFileName</key>
            <string>BOSS_034.png</string>
        </dict>
    </dict>
</plist>
