<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOSS_054_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{155,57}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{155,57}}</string>
                <key>sourceSize</key>
                <string>{169,73}</string>
            </dict>
            <key>BOSS_054_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{153,53}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{153,53}}</string>
                <key>sourceSize</key>
                <string>{169,73}</string>
            </dict>
            <key>BOSS_054_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{159,43}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{159,43}}</string>
                <key>sourceSize</key>
                <string>{169,73}</string>
            </dict>
            <key>BOSS_054_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,61},{163,41}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{163,41}}</string>
                <key>sourceSize</key>
                <string>{169,73}</string>
            </dict>
            <key>BOSS_054_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{169,57}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{169,57}}</string>
                <key>sourceSize</key>
                <string>{169,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_054.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78eeb51f264203809fe797cb927799ae$</string>
            <key>textureFileName</key>
            <string>BOSS_054.png</string>
        </dict>
    </dict>
</plist>
