<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOSS_057_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{244,215}}</string>
                <key>offset</key>
                <string>{46,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,1},{244,215}}</string>
                <key>sourceSize</key>
                <string>{340,259}</string>
            </dict>
            <key>BOSS_057_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{306,227}}</string>
                <key>offset</key>
                <string>{-16,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,26},{306,227}}</string>
                <key>sourceSize</key>
                <string>{340,259}</string>
            </dict>
            <key>BOSS_057_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{240,193}}</string>
                <key>offset</key>
                <string>{-18,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,36},{240,193}}</string>
                <key>sourceSize</key>
                <string>{340,259}</string>
            </dict>
            <key>BOSS_057_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,244},{160,157}}</string>
                <key>offset</key>
                <string>{-24,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,42},{160,157}}</string>
                <key>sourceSize</key>
                <string>{340,259}</string>
            </dict>
            <key>BOSS_057_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,403},{106,123}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,55},{106,123}}</string>
                <key>sourceSize</key>
                <string>{340,259}</string>
            </dict>
            <key>BOSS_057_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{110,113}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,68},{110,113}}</string>
                <key>sourceSize</key>
                <string>{340,259}</string>
            </dict>
            <key>BOSS_057_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,403},{106,121}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,60},{106,121}}</string>
                <key>sourceSize</key>
                <string>{340,259}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_057.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:295a80a7ac4674119c81b88d650c9143$</string>
            <key>textureFileName</key>
            <string>BOSS_057.png</string>
        </dict>
    </dict>
</plist>
