<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOSS_027_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{56,28}}</string>
                <key>offset</key>
                <string>{50,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,94},{56,28}}</string>
                <key>sourceSize</key>
                <string>{156,122}</string>
            </dict>
            <key>BOSS_027_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{126,92}}</string>
                <key>offset</key>
                <string>{13,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,30},{126,92}}</string>
                <key>sourceSize</key>
                <string>{156,122}</string>
            </dict>
            <key>BOSS_027_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,122}}</string>
                <key>sourceSize</key>
                <string>{156,122}</string>
            </dict>
            <key>BOSS_027_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{148,114}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{148,114}}</string>
                <key>sourceSize</key>
                <string>{156,122}</string>
            </dict>
            <key>BOSS_027_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,130},{124,90}}</string>
                <key>offset</key>
                <string>{16,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,31},{124,90}}</string>
                <key>sourceSize</key>
                <string>{156,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_027.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91296adcc835801a009033013360a8db$</string>
            <key>textureFileName</key>
            <string>BOSS_027.png</string>
        </dict>
    </dict>
</plist>
