<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOSS_061_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,456},{252,222}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{252,222}}</string>
                <key>sourceSize</key>
                <string>{260,230}</string>
            </dict>
            <key>BOSS_061_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{252,222}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{252,222}}</string>
                <key>sourceSize</key>
                <string>{260,230}</string>
            </dict>
            <key>BOSS_061_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,230},{252,224}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{252,224}}</string>
                <key>sourceSize</key>
                <string>{260,230}</string>
            </dict>
            <key>BOSS_061_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{252,224}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{252,224}}</string>
                <key>sourceSize</key>
                <string>{260,230}</string>
            </dict>
            <key>BOSS_061_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{252,226}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{252,226}}</string>
                <key>sourceSize</key>
                <string>{260,230}</string>
            </dict>
            <key>BOSS_061_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,226}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{252,226}}</string>
                <key>sourceSize</key>
                <string>{260,230}</string>
            </dict>
            <key>BOSS_061_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,680},{252,220}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{252,220}}</string>
                <key>sourceSize</key>
                <string>{260,230}</string>
            </dict>
            <key>BOSS_061_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{252,220}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{252,220}}</string>
                <key>sourceSize</key>
                <string>{260,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_061.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f507278a1ef1cd265537cd543cb75446$</string>
            <key>textureFileName</key>
            <string>BOSS_061.png</string>
        </dict>
    </dict>
</plist>
