<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOSS_025_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,2},{92,101}}</string>
                <key>offset</key>
                <string>{-21,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,25},{92,101}}</string>
                <key>sourceSize</key>
                <string>{204,197}</string>
            </dict>
            <key>BOSS_025_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{106,129}}</string>
                <key>offset</key>
                <string>{-30,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{106,129}}</string>
                <key>sourceSize</key>
                <string>{204,197}</string>
            </dict>
            <key>BOSS_025_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,346},{118,125}}</string>
                <key>offset</key>
                <string>{-23,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{118,125}}</string>
                <key>sourceSize</key>
                <string>{204,197}</string>
            </dict>
            <key>BOSS_025_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,181}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{166,181}}</string>
                <key>sourceSize</key>
                <string>{204,197}</string>
            </dict>
            <key>BOSS_025_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{146,159}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,30},{146,159}}</string>
                <key>sourceSize</key>
                <string>{204,197}</string>
            </dict>
            <key>BOSS_025_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,185},{120,121}}</string>
                <key>offset</key>
                <string>{16,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,61},{120,121}}</string>
                <key>sourceSize</key>
                <string>{204,197}</string>
            </dict>
            <key>BOSS_025_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{112,117}}</string>
                <key>offset</key>
                <string>{30,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,74},{112,117}}</string>
                <key>sourceSize</key>
                <string>{204,197}</string>
            </dict>
            <key>BOSS_025_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,308},{112,107}}</string>
                <key>offset</key>
                <string>{29,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,80},{112,107}}</string>
                <key>sourceSize</key>
                <string>{204,197}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_025.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6019c4bb046eaa69948c02779abe078$</string>
            <key>textureFileName</key>
            <string>BOSS_025.png</string>
        </dict>
    </dict>
</plist>
