<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOSS_118_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,422},{362,418}}</string>
                <key>offset</key>
                <string>{69,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,35},{362,418}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>BOSS_118_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{370,418}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,35},{370,418}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>BOSS_118_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{354,420}}</string>
                <key>offset</key>
                <string>{70,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,34},{354,420}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>BOSS_118_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{394,418}}</string>
                <key>offset</key>
                <string>{22,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,35},{394,418}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>BOSS_118_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,844},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_118.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1882342e90b76712e5e09107a80eae97$</string>
            <key>textureFileName</key>
            <string>BOSS_118.png</string>
        </dict>
    </dict>
</plist>
