<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOSS_021_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{101,81}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{101,81}}</string>
                <key>sourceSize</key>
                <string>{115,83}</string>
            </dict>
            <key>BOSS_021_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{109,83}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,83}}</string>
                <key>sourceSize</key>
                <string>{115,83}</string>
            </dict>
            <key>BOSS_021_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{105,83}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,83}}</string>
                <key>sourceSize</key>
                <string>{115,83}</string>
            </dict>
            <key>BOSS_021_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{113,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,83}}</string>
                <key>sourceSize</key>
                <string>{115,83}</string>
            </dict>
            <key>BOSS_021_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,158},{101,83}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,83}}</string>
                <key>sourceSize</key>
                <string>{115,83}</string>
            </dict>
            <key>BOSS_021_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,243},{97,73}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{97,73}}</string>
                <key>sourceSize</key>
                <string>{115,83}</string>
            </dict>
            <key>BOSS_021_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,87},{105,69}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{105,69}}</string>
                <key>sourceSize</key>
                <string>{115,83}</string>
            </dict>
            <key>BOSS_021_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{77,69}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,12},{77,69}}</string>
                <key>sourceSize</key>
                <string>{115,83}</string>
            </dict>
            <key>BOSS_021_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,318},{61,67}}</string>
                <key>offset</key>
                <string>{25,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,14},{61,67}}</string>
                <key>sourceSize</key>
                <string>{115,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_021.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1dc8796b33033978311b36798ac6c6c$</string>
            <key>textureFileName</key>
            <string>BOSS_021.png</string>
        </dict>
    </dict>
</plist>
