<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOSS_048_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{128,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{128,54}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>BOSS_048_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,56}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{128,56}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>BOSS_048_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{128,54}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{128,54}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>BOSS_048_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{122,54}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{122,54}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>BOSS_048_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{118,54}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{118,54}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>BOSS_048_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,114},{120,54}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{120,54}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>BOSS_048_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,58},{120,54}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{120,54}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>BOSS_048_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,170},{118,56}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{118,56}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_048.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:467ffdc6a38461fd31f5bcea64180b1d$</string>
            <key>textureFileName</key>
            <string>BOSS_048.png</string>
        </dict>
    </dict>
</plist>
