<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOSS_045_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,85}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{56,85}}</string>
                <key>sourceSize</key>
                <string>{64,89}</string>
            </dict>
            <key>BOSS_045_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,42},{44,67}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{44,67}}</string>
                <key>sourceSize</key>
                <string>{64,89}</string>
            </dict>
            <key>BOSS_045_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{38,61}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,16},{38,61}}</string>
                <key>sourceSize</key>
                <string>{64,89}</string>
            </dict>
            <key>BOSS_045_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{28,53}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,16},{28,53}}</string>
                <key>sourceSize</key>
                <string>{64,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_045.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbb292084d68cc07f13441e66293e468$</string>
            <key>textureFileName</key>
            <string>BOSS_045.png</string>
        </dict>
    </dict>
</plist>
