<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOSS_009_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,98}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{96,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>BOSS_009_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{92,94}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{92,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>BOSS_009_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{86,88}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{86,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>BOSS_009_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,92},{80,82}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{80,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>BOSS_009_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,176},{74,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{74,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>BOSS_009_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{66,68}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{66,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_009.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:148d381909a452e7b27c2bc372455218$</string>
            <key>textureFileName</key>
            <string>BOSS_009.png</string>
        </dict>
    </dict>
</plist>
