<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOSS_102_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{52,144}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,25},{52,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>BOSS_102_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,300},{86,146}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,31},{86,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>BOSS_102_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{104,172}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,22},{104,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>BOSS_102_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{92,176}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,9},{92,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>BOSS_102_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,198}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,0},{96,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>BOSS_102_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{94,166}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,17},{94,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>BOSS_102_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,388},{96,140}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,41},{96,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>BOSS_102_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,148},{74,116}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,41},{74,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>BOSS_102_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,194},{1,1}}</string>
                <key>offset</key>
                <string>{-99.5,99.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_102.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc5d624663f0fc445fe2619904cadf29$</string>
            <key>textureFileName</key>
            <string>BOSS_102.png</string>
        </dict>
    </dict>
</plist>
