<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOSS_058_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{218,151}}</string>
                <key>offset</key>
                <string>{20,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,44},{218,151}}</string>
                <key>sourceSize</key>
                <string>{340,259}</string>
            </dict>
            <key>BOSS_058_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{254,193}}</string>
                <key>offset</key>
                <string>{20,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,25},{254,193}}</string>
                <key>sourceSize</key>
                <string>{340,259}</string>
            </dict>
            <key>BOSS_058_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{322,243}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{322,243}}</string>
                <key>sourceSize</key>
                <string>{340,259}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_058.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:787944a35d9824581fc13f30ef38a36e$</string>
            <key>textureFileName</key>
            <string>BOSS_058.png</string>
        </dict>
    </dict>
</plist>
