<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOSS_050_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{101,126}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,20},{101,126}}</string>
                <key>sourceSize</key>
                <string>{221,200}</string>
            </dict>
            <key>BOSS_050_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,2},{151,142}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,9},{151,142}}</string>
                <key>sourceSize</key>
                <string>{221,200}</string>
            </dict>
            <key>BOSS_050_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{195,128}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,30},{195,128}}</string>
                <key>sourceSize</key>
                <string>{221,200}</string>
            </dict>
            <key>BOSS_050_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,202},{81,134}}</string>
                <key>offset</key>
                <string>{-67,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,56},{81,134}}</string>
                <key>sourceSize</key>
                <string>{221,200}</string>
            </dict>
            <key>BOSS_050_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{121,146}}</string>
                <key>offset</key>
                <string>{-50,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{121,146}}</string>
                <key>sourceSize</key>
                <string>{221,200}</string>
            </dict>
            <key>BOSS_050_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,2},{129,156}}</string>
                <key>offset</key>
                <string>{-46,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{129,156}}</string>
                <key>sourceSize</key>
                <string>{221,200}</string>
            </dict>
            <key>BOSS_050_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,358},{117,108}}</string>
                <key>offset</key>
                <string>{-51,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,56},{117,108}}</string>
                <key>sourceSize</key>
                <string>{221,200}</string>
            </dict>
            <key>BOSS_050_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,146},{135,120}}</string>
                <key>offset</key>
                <string>{-31,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,43},{135,120}}</string>
                <key>sourceSize</key>
                <string>{221,200}</string>
            </dict>
            <key>BOSS_050_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,133},{67,136}}</string>
                <key>offset</key>
                <string>{-1,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,63},{67,136}}</string>
                <key>sourceSize</key>
                <string>{221,200}</string>
            </dict>
            <key>BOSS_050_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{123,92}}</string>
                <key>offset</key>
                <string>{-21,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,49},{123,92}}</string>
                <key>sourceSize</key>
                <string>{221,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_050.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77fba34c8a1c9ed1a67b978f4f19e3b1$</string>
            <key>textureFileName</key>
            <string>BOSS_050.png</string>
        </dict>
    </dict>
</plist>
