<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOSS_001_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,183}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{154,183}}</string>
                <key>sourceSize</key>
                <string>{168,193}</string>
            </dict>
            <key>BOSS_001_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{168,179}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{168,179}}</string>
                <key>sourceSize</key>
                <string>{168,193}</string>
            </dict>
            <key>BOSS_001_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{168,181}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{168,181}}</string>
                <key>sourceSize</key>
                <string>{168,193}</string>
            </dict>
            <key>BOSS_001_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{162,181}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{162,181}}</string>
                <key>sourceSize</key>
                <string>{168,193}</string>
            </dict>
            <key>BOSS_001_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,172},{156,177}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,16},{156,177}}</string>
                <key>sourceSize</key>
                <string>{168,193}</string>
            </dict>
            <key>BOSS_001_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,330},{156,169}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,21},{156,169}}</string>
                <key>sourceSize</key>
                <string>{168,193}</string>
            </dict>
            <key>BOSS_001_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{122,151}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,28},{122,151}}</string>
                <key>sourceSize</key>
                <string>{168,193}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_001.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88111371839fd28042a352e16a5e3d2e$</string>
            <key>textureFileName</key>
            <string>BOSS_001.png</string>
        </dict>
    </dict>
</plist>
