<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOSS_036_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,326},{161,160}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,12},{161,160}}</string>
                <key>sourceSize</key>
                <string>{171,182}</string>
            </dict>
            <key>BOSS_036_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,164},{161,160}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{161,160}}</string>
                <key>sourceSize</key>
                <string>{171,182}</string>
            </dict>
            <key>BOSS_036_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,164},{161,160}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{161,160}}</string>
                <key>sourceSize</key>
                <string>{171,182}</string>
            </dict>
            <key>BOSS_036_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,327},{161,160}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,12},{161,160}}</string>
                <key>sourceSize</key>
                <string>{171,182}</string>
            </dict>
            <key>BOSS_036_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{161,160}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,12},{161,160}}</string>
                <key>sourceSize</key>
                <string>{171,182}</string>
            </dict>
            <key>BOSS_036_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{161,160}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{161,160}}</string>
                <key>sourceSize</key>
                <string>{171,182}</string>
            </dict>
            <key>BOSS_036_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{161,160}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{161,160}}</string>
                <key>sourceSize</key>
                <string>{171,182}</string>
            </dict>
            <key>BOSS_036_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{161,160}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{161,160}}</string>
                <key>sourceSize</key>
                <string>{171,182}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_036.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:278a3d098d4b19e92fa4cc13d5ede748$</string>
            <key>textureFileName</key>
            <string>BOSS_036.png</string>
        </dict>
    </dict>
</plist>
