<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOSS_069_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{181,195}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{181,195}}</string>
                <key>sourceSize</key>
                <string>{197,199}</string>
            </dict>
            <key>BOSS_069_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,2},{179,179}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,20},{179,179}}</string>
                <key>sourceSize</key>
                <string>{197,199}</string>
            </dict>
            <key>BOSS_069_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,199},{187,171}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,28},{187,171}}</string>
                <key>sourceSize</key>
                <string>{197,199}</string>
            </dict>
            <key>BOSS_069_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{189,155}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,37},{189,155}}</string>
                <key>sourceSize</key>
                <string>{197,199}</string>
            </dict>
            <key>BOSS_069_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{139,135}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,41},{139,135}}</string>
                <key>sourceSize</key>
                <string>{197,199}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_069.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc7bfcefa18246c6d5657c65e12929b4$</string>
            <key>textureFileName</key>
            <string>BOSS_069.png</string>
        </dict>
    </dict>
</plist>
