<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOSS_042_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,102},{175,172}}</string>
                <key>offset</key>
                <string>{-59,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{175,172}}</string>
                <key>sourceSize</key>
                <string>{299,248}</string>
            </dict>
            <key>BOSS_042_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{257,188}}</string>
                <key>offset</key>
                <string>{-6,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,59},{257,188}}</string>
                <key>sourceSize</key>
                <string>{299,248}</string>
            </dict>
            <key>BOSS_042_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,2},{225,98}}</string>
                <key>offset</key>
                <string>{20,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,150},{225,98}}</string>
                <key>sourceSize</key>
                <string>{299,248}</string>
            </dict>
            <key>BOSS_042_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{151,136}}</string>
                <key>offset</key>
                <string>{70,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,106},{151,136}}</string>
                <key>sourceSize</key>
                <string>{299,248}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_042.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c7eac74a33ffeb9a143498a6f77ab6d$</string>
            <key>textureFileName</key>
            <string>BOSS_042.png</string>
        </dict>
    </dict>
</plist>
