<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOSS_066_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{247,261}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,261}}</string>
                <key>sourceSize</key>
                <string>{257,263}</string>
            </dict>
            <key>BOSS_066_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,500},{249,251}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{249,251}}</string>
                <key>sourceSize</key>
                <string>{257,263}</string>
            </dict>
            <key>BOSS_066_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,757},{255,255}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{255,255}}</string>
                <key>sourceSize</key>
                <string>{257,263}</string>
            </dict>
            <key>BOSS_066_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{247,261}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,261}}</string>
                <key>sourceSize</key>
                <string>{257,263}</string>
            </dict>
            <key>BOSS_066_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{255,257}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{255,257}}</string>
                <key>sourceSize</key>
                <string>{257,263}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_066.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2c5b1e8d58d6f7bd2bb519fb224f490$</string>
            <key>textureFileName</key>
            <string>BOSS_066.png</string>
        </dict>
    </dict>
</plist>
