<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOSS_083_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{170,63}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{170,63}}</string>
                <key>sourceSize</key>
                <string>{170,65}</string>
            </dict>
            <key>BOSS_083_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{170,63}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{170,63}}</string>
                <key>sourceSize</key>
                <string>{170,65}</string>
            </dict>
            <key>BOSS_083_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{170,55}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{170,55}}</string>
                <key>sourceSize</key>
                <string>{170,65}</string>
            </dict>
            <key>BOSS_083_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,174},{170,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{170,57}}</string>
                <key>sourceSize</key>
                <string>{170,65}</string>
            </dict>
            <key>BOSS_083_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{170,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{170,61}}</string>
                <key>sourceSize</key>
                <string>{170,65}</string>
            </dict>
            <key>BOSS_083_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{170,63}}</string>
                <key>sourceSize</key>
                <string>{170,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_083.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e41ec6c222c610736675a2bf3e966de4$</string>
            <key>textureFileName</key>
            <string>BOSS_083.png</string>
        </dict>
    </dict>
</plist>
