<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOSS_093_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{72,330}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{72,330}}</string>
                <key>sourceSize</key>
                <string>{90,330}</string>
            </dict>
            <key>BOSS_093_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{82,282}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,48},{82,282}}</string>
                <key>sourceSize</key>
                <string>{90,330}</string>
            </dict>
            <key>BOSS_093_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,262}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{90,262}}</string>
                <key>sourceSize</key>
                <string>{90,330}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_093.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c376d47c6b55531d65430449f5ecd689$</string>
            <key>textureFileName</key>
            <string>BOSS_093.png</string>
        </dict>
    </dict>
</plist>
