<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOSS_092_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{13,568}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,568}}</string>
                <key>sourceSize</key>
                <string>{15,568}</string>
            </dict>
            <key>BOSS_092_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{13,568}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,568}}</string>
                <key>sourceSize</key>
                <string>{15,568}</string>
            </dict>
            <key>BOSS_092_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{13,568}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,568}}</string>
                <key>sourceSize</key>
                <string>{15,568}</string>
            </dict>
            <key>BOSS_092_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{13,568}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,568}}</string>
                <key>sourceSize</key>
                <string>{15,568}</string>
            </dict>
            <key>BOSS_092_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,2},{13,568}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,568}}</string>
                <key>sourceSize</key>
                <string>{15,568}</string>
            </dict>
            <key>BOSS_092_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,2},{13,568}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,568}}</string>
                <key>sourceSize</key>
                <string>{15,568}</string>
            </dict>
            <key>BOSS_092_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{17,2},{13,568}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,568}}</string>
                <key>sourceSize</key>
                <string>{15,568}</string>
            </dict>
            <key>BOSS_092_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{13,568}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,568}}</string>
                <key>sourceSize</key>
                <string>{15,568}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_092.png</string>
            <key>size</key>
            <string>{128,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:121e3ad3ec697f4829e3df40bafc8476$</string>
            <key>textureFileName</key>
            <string>BOSS_092.png</string>
        </dict>
    </dict>
</plist>
