<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOSS_139_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,152},{1,1}}</string>
                <key>offset</key>
                <string>{-139.5,99.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{280,200}</string>
            </dict>
            <key>BOSS_139_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,300},{60,38}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,87},{60,38}}</string>
                <key>sourceSize</key>
                <string>{280,200}</string>
            </dict>
            <key>BOSS_139_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,156},{76,48}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,82},{76,48}}</string>
                <key>sourceSize</key>
                <string>{280,200}</string>
            </dict>
            <key>BOSS_139_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,312},{88,58}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,77},{88,58}}</string>
                <key>sourceSize</key>
                <string>{280,200}</string>
            </dict>
            <key>BOSS_139_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,206},{104,70}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,71},{104,70}}</string>
                <key>sourceSize</key>
                <string>{280,200}</string>
            </dict>
            <key>BOSS_139_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,372},{120,82}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,65},{120,82}}</string>
                <key>sourceSize</key>
                <string>{280,200}</string>
            </dict>
            <key>BOSS_139_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,494},{136,104}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,48},{136,104}}</string>
                <key>sourceSize</key>
                <string>{280,200}</string>
            </dict>
            <key>BOSS_139_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,430},{154,118}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,47},{154,118}}</string>
                <key>sourceSize</key>
                <string>{280,200}</string>
            </dict>
            <key>BOSS_139_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{172,122}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,45},{172,122}}</string>
                <key>sourceSize</key>
                <string>{280,200}</string>
            </dict>
            <key>BOSS_139_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,296},{192,132}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,39},{192,132}}</string>
                <key>sourceSize</key>
                <string>{280,200}</string>
            </dict>
            <key>BOSS_139_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,156},{204,138}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{204,138}}</string>
                <key>sourceSize</key>
                <string>{280,200}</string>
            </dict>
            <key>BOSS_139_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{220,146}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,31},{220,146}}</string>
                <key>sourceSize</key>
                <string>{280,200}</string>
            </dict>
            <key>BOSS_139_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{232,152}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,28},{232,152}}</string>
                <key>sourceSize</key>
                <string>{280,200}</string>
            </dict>
            <key>BOSS_139_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,148}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,30},{240,148}}</string>
                <key>sourceSize</key>
                <string>{280,200}</string>
            </dict>
            <key>BOSS_139_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,550},{120,110}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,51},{120,110}}</string>
                <key>sourceSize</key>
                <string>{280,200}</string>
            </dict>
            <key>BOSS_139_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{170,138}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,35},{170,138}}</string>
                <key>sourceSize</key>
                <string>{280,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_139.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8e503b343ee5d4f304eda2880b1afc3$</string>
            <key>textureFileName</key>
            <string>BOSS_139.png</string>
        </dict>
    </dict>
</plist>
