<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOSS_086_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,254},{126,98}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{126,98}}</string>
                <key>sourceSize</key>
                <string>{152,100}</string>
            </dict>
            <key>BOSS_086_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{150,98}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,98}}</string>
                <key>sourceSize</key>
                <string>{152,100}</string>
            </dict>
            <key>BOSS_086_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{126,98}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{126,98}}</string>
                <key>sourceSize</key>
                <string>{152,100}</string>
            </dict>
            <key>BOSS_086_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{98,96}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,1},{98,96}}</string>
                <key>sourceSize</key>
                <string>{152,100}</string>
            </dict>
            <key>BOSS_086_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,154},{124,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{124,98}}</string>
                <key>sourceSize</key>
                <string>{152,100}</string>
            </dict>
            <key>BOSS_086_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,98}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,98}}</string>
                <key>sourceSize</key>
                <string>{152,100}</string>
            </dict>
            <key>BOSS_086_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{126,98}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{126,98}}</string>
                <key>sourceSize</key>
                <string>{152,100}</string>
            </dict>
            <key>BOSS_086_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{98,96}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,1},{98,96}}</string>
                <key>sourceSize</key>
                <string>{152,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_086.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea993f18264807abd980a68c0714f0bf$</string>
            <key>textureFileName</key>
            <string>BOSS_086.png</string>
        </dict>
    </dict>
</plist>
