<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOSS_020_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{118,79}}</string>
                <key>offset</key>
                <string>{-12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{118,79}}</string>
                <key>sourceSize</key>
                <string>{150,113}</string>
            </dict>
            <key>BOSS_020_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,83}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{126,83}}</string>
                <key>sourceSize</key>
                <string>{150,113}</string>
            </dict>
            <key>BOSS_020_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{122,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{122,87}}</string>
                <key>sourceSize</key>
                <string>{150,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_020.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de99b5e81a5b976e44590904be256de7$</string>
            <key>textureFileName</key>
            <string>BOSS_020.png</string>
        </dict>
    </dict>
</plist>
