<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOSS_097_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,593},{195,207}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{195,207}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>BOSS_097_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,396},{195,207}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{195,207}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>BOSS_097_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{195,207}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{195,207}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>BOSS_097_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,199},{195,207}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{195,207}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>BOSS_097_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{195,207}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{195,207}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>BOSS_097_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,2},{195,207}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{195,207}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>BOSS_097_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{195,207}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{195,207}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_097.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:088c137d3858271098fdbd33fe5656c7$</string>
            <key>textureFileName</key>
            <string>BOSS_097.png</string>
        </dict>
    </dict>
</plist>
