<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOSS_052_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{85,47}}</string>
                <key>offset</key>
                <string>{23,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,58},{85,47}}</string>
                <key>sourceSize</key>
                <string>{323,105}</string>
            </dict>
            <key>BOSS_052_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,293},{211,99}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,6},{211,99}}</string>
                <key>sourceSize</key>
                <string>{323,105}</string>
            </dict>
            <key>BOSS_052_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,2},{247,103}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,2},{247,103}}</string>
                <key>sourceSize</key>
                <string>{323,105}</string>
            </dict>
            <key>BOSS_052_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{275,95}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,10},{275,95}}</string>
                <key>sourceSize</key>
                <string>{323,105}</string>
            </dict>
            <key>BOSS_052_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{293,95}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{293,95}}</string>
                <key>sourceSize</key>
                <string>{323,105}</string>
            </dict>
            <key>BOSS_052_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{309,95}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{309,95}}</string>
                <key>sourceSize</key>
                <string>{323,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_052.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a72782818e159384fdc42b249413c837$</string>
            <key>textureFileName</key>
            <string>BOSS_052.png</string>
        </dict>
    </dict>
</plist>
