<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOSS_062_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,39}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{52,39}}</string>
                <key>sourceSize</key>
                <string>{68,53}</string>
            </dict>
            <key>BOSS_062_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{42,39}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{42,39}}</string>
                <key>sourceSize</key>
                <string>{68,53}</string>
            </dict>
            <key>BOSS_062_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{38,43}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{38,43}}</string>
                <key>sourceSize</key>
                <string>{68,53}</string>
            </dict>
            <key>BOSS_062_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{38,43}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{38,43}}</string>
                <key>sourceSize</key>
                <string>{68,53}</string>
            </dict>
            <key>BOSS_062_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{42,45}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{42,45}}</string>
                <key>sourceSize</key>
                <string>{68,53}</string>
            </dict>
            <key>BOSS_062_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,43},{44,49}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,49}}</string>
                <key>sourceSize</key>
                <string>{68,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_062.png</string>
            <key>size</key>
            <string>{64,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9e9a39f284057192063a34f8d494104$</string>
            <key>textureFileName</key>
            <string>BOSS_062.png</string>
        </dict>
    </dict>
</plist>
