<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOSS_084_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,114}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{120,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>BOSS_084_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,114}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{120,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_084.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96fb01c1ba5969aebcae252b95db7f99$</string>
            <key>textureFileName</key>
            <string>BOSS_084.png</string>
        </dict>
    </dict>
</plist>
