<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOSS_044_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{79,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{79,78}}</string>
                <key>sourceSize</key>
                <string>{85,82}</string>
            </dict>
            <key>BOSS_044_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{77,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{77,78}}</string>
                <key>sourceSize</key>
                <string>{85,82}</string>
            </dict>
            <key>BOSS_044_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,80}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{81,80}}</string>
                <key>sourceSize</key>
                <string>{85,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_044.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:508d584da60a63bd8e86c437bfda11ed$</string>
            <key>textureFileName</key>
            <string>BOSS_044.png</string>
        </dict>
    </dict>
</plist>
