<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOSS_019_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,103}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{138,103}}</string>
                <key>sourceSize</key>
                <string>{150,113}</string>
            </dict>
            <key>BOSS_019_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{114,105}}</string>
                <key>offset</key>
                <string>{-12,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{114,105}}</string>
                <key>sourceSize</key>
                <string>{150,113}</string>
            </dict>
            <key>BOSS_019_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{96,87}}</string>
                <key>offset</key>
                <string>{-26,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,14},{96,87}}</string>
                <key>sourceSize</key>
                <string>{150,113}</string>
            </dict>
            <key>BOSS_019_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,118},{86,89}}</string>
                <key>offset</key>
                <string>{-32,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{86,89}}</string>
                <key>sourceSize</key>
                <string>{150,113}</string>
            </dict>
            <key>BOSS_019_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,118},{72,93}}</string>
                <key>offset</key>
                <string>{-28,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{72,93}}</string>
                <key>sourceSize</key>
                <string>{150,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_019.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e478b5e229af372b029e7e94bd8cb757$</string>
            <key>textureFileName</key>
            <string>BOSS_019.png</string>
        </dict>
    </dict>
</plist>
