<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOSS_024_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{94,92}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{94,92}}</string>
                <key>sourceSize</key>
                <string>{124,104}</string>
            </dict>
            <key>BOSS_024_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,198},{90,84}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{90,84}}</string>
                <key>sourceSize</key>
                <string>{124,104}</string>
            </dict>
            <key>BOSS_024_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{106,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{106,84}}</string>
                <key>sourceSize</key>
                <string>{124,104}</string>
            </dict>
            <key>BOSS_024_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,102},{114,94}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{114,94}}</string>
                <key>sourceSize</key>
                <string>{124,104}</string>
            </dict>
            <key>BOSS_024_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{120,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{120,98}}</string>
                <key>sourceSize</key>
                <string>{124,104}</string>
            </dict>
            <key>BOSS_024_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,102}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,102}}</string>
                <key>sourceSize</key>
                <string>{124,104}</string>
            </dict>
            <key>BOSS_024_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,284},{76,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,18},{76,66}}</string>
                <key>sourceSize</key>
                <string>{124,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_024.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8593d5228f7e51fa43dd09bfbe32a4db$</string>
            <key>textureFileName</key>
            <string>BOSS_024.png</string>
        </dict>
    </dict>
</plist>
