<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOSS_112_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{286,132}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{286,132}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>BOSS_112_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{286,130}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,18},{286,130}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>BOSS_112_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,268},{244,100}}</string>
                <key>offset</key>
                <string>{18,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,17},{244,100}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>BOSS_112_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{270,94}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{270,94}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>BOSS_112_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{264,134}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,16},{264,134}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>BOSS_112_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,268},{266,132}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,18},{266,132}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_112.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c153ffe870cde425ee1ff1825163c0b$</string>
            <key>textureFileName</key>
            <string>BOSS_112.png</string>
        </dict>
    </dict>
</plist>
