<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOSS_103_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,154}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,31},{212,154}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>BOSS_103_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{208,150}}</string>
                <key>offset</key>
                <string>{14,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,33},{208,150}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>BOSS_103_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,302},{206,148}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,33},{206,148}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>BOSS_103_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{212,144}}</string>
                <key>offset</key>
                <string>{12,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,35},{212,144}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>BOSS_103_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,302},{196,148}}</string>
                <key>offset</key>
                <string>{20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,33},{196,148}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>BOSS_103_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,148},{210,152}}</string>
                <key>offset</key>
                <string>{13,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,31},{210,152}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>BOSS_103_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,154}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,31},{212,154}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_103.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2858a6ca7925f4e93a1c2e72c71f3bc8$</string>
            <key>textureFileName</key>
            <string>BOSS_103.png</string>
        </dict>
    </dict>
</plist>
