<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOSS_122_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,670},{336,288}}</string>
                <key>offset</key>
                <string>{-21,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,23},{336,288}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>BOSS_122_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,296},{350,292}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,17},{350,292}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>BOSS_122_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{342,284}}</string>
                <key>offset</key>
                <string>{-16,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{342,284}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>BOSS_122_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{366,292}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{366,292}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>BOSS_122_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{368,300}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,5},{368,300}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>BOSS_122_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,670},{332,302}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{332,302}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>BOSS_122_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,320},{348,296}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{348,296}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>BOSS_122_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{316,276}}</string>
                <key>offset</key>
                <string>{-30,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,17},{316,276}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>BOSS_122_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{318,270}}</string>
                <key>offset</key>
                <string>{-31,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,22},{318,270}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_122.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3121632d6da36c0f5cb5d52e68faa3ca$</string>
            <key>textureFileName</key>
            <string>BOSS_122.png</string>
        </dict>
    </dict>
</plist>
