<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOSS_109_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1652},{436,238}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,11},{436,238}}</string>
                <key>sourceSize</key>
                <string>{600,260}</string>
            </dict>
            <key>BOSS_109_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1412},{446,238}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,10},{446,238}}</string>
                <key>sourceSize</key>
                <string>{600,260}</string>
            </dict>
            <key>BOSS_109_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1456},{444,240}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,8},{444,240}}</string>
                <key>sourceSize</key>
                <string>{600,260}</string>
            </dict>
            <key>BOSS_109_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,1216},{466,238}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,15},{466,238}}</string>
                <key>sourceSize</key>
                <string>{600,260}</string>
            </dict>
            <key>BOSS_109_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{478,250}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,5},{478,250}}</string>
                <key>sourceSize</key>
                <string>{600,260}</string>
            </dict>
            <key>BOSS_109_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,494},{486,248}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,5},{486,248}}</string>
                <key>sourceSize</key>
                <string>{600,260}</string>
            </dict>
            <key>BOSS_109_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1168},{466,242}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,11},{466,242}}</string>
                <key>sourceSize</key>
                <string>{600,260}</string>
            </dict>
            <key>BOSS_109_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,940},{474,226}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,11},{474,226}}</string>
                <key>sourceSize</key>
                <string>{600,260}</string>
            </dict>
            <key>BOSS_109_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,978},{470,236}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,10},{470,236}}</string>
                <key>sourceSize</key>
                <string>{600,260}</string>
            </dict>
            <key>BOSS_109_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,254},{478,238}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,10},{478,238}}</string>
                <key>sourceSize</key>
                <string>{600,260}</string>
            </dict>
            <key>BOSS_109_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,744},{474,232}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,14},{474,232}}</string>
                <key>sourceSize</key>
                <string>{600,260}</string>
            </dict>
            <key>BOSS_109_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{482,230}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,16},{482,230}}</string>
                <key>sourceSize</key>
                <string>{600,260}</string>
            </dict>
            <key>BOSS_109_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{528,220}}</string>
                <key>offset</key>
                <string>{-24,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{528,220}}</string>
                <key>sourceSize</key>
                <string>{600,260}</string>
            </dict>
            <key>BOSS_109_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{538,234}}</string>
                <key>offset</key>
                <string>{-31,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{538,234}}</string>
                <key>sourceSize</key>
                <string>{600,260}</string>
            </dict>
            <key>BOSS_109_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{540,246}}</string>
                <key>offset</key>
                <string>{-30,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{540,246}}</string>
                <key>sourceSize</key>
                <string>{600,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_109.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2b6221de551ae63be547312df438c2b$</string>
            <key>textureFileName</key>
            <string>BOSS_109.png</string>
        </dict>
    </dict>
</plist>
