<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOSS_140_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,902},{148,116}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,31},{148,116}}</string>
                <key>sourceSize</key>
                <string>{250,180}</string>
            </dict>
            <key>BOSS_140_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,778},{156,122}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,28},{156,122}}</string>
                <key>sourceSize</key>
                <string>{250,180}</string>
            </dict>
            <key>BOSS_140_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,828},{166,130}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,24},{166,130}}</string>
                <key>sourceSize</key>
                <string>{250,180}</string>
            </dict>
            <key>BOSS_140_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{174,138}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,20},{174,138}}</string>
                <key>sourceSize</key>
                <string>{250,180}</string>
            </dict>
            <key>BOSS_140_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{184,146}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,15},{184,146}}</string>
                <key>sourceSize</key>
                <string>{250,180}</string>
            </dict>
            <key>BOSS_140_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,624},{192,152}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,13},{192,152}}</string>
                <key>sourceSize</key>
                <string>{250,180}</string>
            </dict>
            <key>BOSS_140_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{200,166}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,3},{200,166}}</string>
                <key>sourceSize</key>
                <string>{250,180}</string>
            </dict>
            <key>BOSS_140_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,454},{208,168}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{208,168}}</string>
                <key>sourceSize</key>
                <string>{250,180}</string>
            </dict>
            <key>BOSS_140_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{216,168}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{216,168}}</string>
                <key>sourceSize</key>
                <string>{250,180}</string>
            </dict>
            <key>BOSS_140_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{224,176}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{224,176}}</string>
                <key>sourceSize</key>
                <string>{250,180}</string>
            </dict>
            <key>BOSS_140_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,160}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{226,160}}</string>
                <key>sourceSize</key>
                <string>{250,180}</string>
            </dict>
            <key>BOSS_140_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{226,156}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{226,156}}</string>
                <key>sourceSize</key>
                <string>{250,180}</string>
            </dict>
            <key>BOSS_140_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,160},{226,150}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{226,150}}</string>
                <key>sourceSize</key>
                <string>{250,180}</string>
            </dict>
            <key>BOSS_140_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,312},{224,140}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,19},{224,140}}</string>
                <key>sourceSize</key>
                <string>{250,180}</string>
            </dict>
            <key>BOSS_140_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,624},{112,102}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,40},{112,102}}</string>
                <key>sourceSize</key>
                <string>{250,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_140.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13d304e25d213df68ee908b757df785c$</string>
            <key>textureFileName</key>
            <string>BOSS_140.png</string>
        </dict>
    </dict>
</plist>
