<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOSS_064_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{84,86}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{84,86}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>BOSS_064_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,260},{82,86}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{82,86}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>BOSS_064_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,174},{84,88}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,22},{84,88}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>BOSS_064_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{84,98}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,11},{84,98}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>BOSS_064_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{84,96}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{84,96}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>BOSS_064_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,88},{84,96}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{84,96}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
            <key>BOSS_064_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,98}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,98}}</string>
                <key>sourceSize</key>
                <string>{90,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BOSS_064.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1b512cf0ac621bd9ed8447c34ffbec1$</string>
            <key>textureFileName</key>
            <string>BOSS_064.png</string>
        </dict>
    </dict>
</plist>
