<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chongci_effect0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,266},{256,176}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,41},{256,176}}</string>
                <key>sourceSize</key>
                <string>{270,250}</string>
            </dict>
            <key>chongci_effect0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{256,172}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,43},{256,172}}</string>
                <key>sourceSize</key>
                <string>{270,250}</string>
            </dict>
            <key>chongci_effect0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{266,172}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,45},{266,172}}</string>
                <key>sourceSize</key>
                <string>{270,250}</string>
            </dict>
            <key>chongci_effect0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{266,174}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{266,174}}</string>
                <key>sourceSize</key>
                <string>{270,250}</string>
            </dict>
            <key>chongci_effect0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{262,180}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,40},{262,180}}</string>
                <key>sourceSize</key>
                <string>{270,250}</string>
            </dict>
            <key>chongci_effect0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,266},{256,176}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,41},{256,176}}</string>
                <key>sourceSize</key>
                <string>{270,250}</string>
            </dict>
            <key>chongci_effect0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{256,172}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,43},{256,172}}</string>
                <key>sourceSize</key>
                <string>{270,250}</string>
            </dict>
            <key>chongci_effect0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{266,172}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,45},{266,172}}</string>
                <key>sourceSize</key>
                <string>{270,250}</string>
            </dict>
            <key>chongci_effect0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{266,174}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{266,174}}</string>
                <key>sourceSize</key>
                <string>{270,250}</string>
            </dict>
            <key>chongci_effect0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{262,180}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,40},{262,180}}</string>
                <key>sourceSize</key>
                <string>{270,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chongci.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c96fd60574960b2e717f30cfb9fea71$</string>
            <key>textureFileName</key>
            <string>chongci.png</string>
        </dict>
    </dict>
</plist>
