<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chongci_liuxian_effect0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{187,125}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,36},{187,125}}</string>
                <key>sourceSize</key>
                <string>{205,207}</string>
            </dict>
            <key>chongci_liuxian_effect0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{205,101}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{205,101}}</string>
                <key>sourceSize</key>
                <string>{205,207}</string>
            </dict>
            <key>chongci_liuxian_effect0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{169,99}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,41},{169,99}}</string>
                <key>sourceSize</key>
                <string>{205,207}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chongci_liuxian.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93da93cc8d0e2940c9fcd00f22f281a0$</string>
            <key>textureFileName</key>
            <string>chongci_liuxian.png</string>
        </dict>
    </dict>
</plist>
