<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_104_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{56,52}}</string>
                <key>offset</key>
                <string>{26,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,5},{56,52}}</string>
                <key>sourceSize</key>
                <string>{110,70}</string>
            </dict>
            <key>effect_104_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{88,64}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{88,64}}</string>
                <key>sourceSize</key>
                <string>{110,70}</string>
            </dict>
            <key>effect_104_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,58}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{96,58}}</string>
                <key>sourceSize</key>
                <string>{110,70}</string>
            </dict>
            <key>effect_104_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,52},{82,56}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,8},{82,56}}</string>
                <key>sourceSize</key>
                <string>{110,70}</string>
            </dict>
            <key>effect_104_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{86,54}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{86,54}}</string>
                <key>sourceSize</key>
                <string>{110,70}</string>
            </dict>
            <key>effect_104_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{74,54}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{74,54}}</string>
                <key>sourceSize</key>
                <string>{110,70}</string>
            </dict>
            <key>effect_104_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,68},{74,54}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{74,54}}</string>
                <key>sourceSize</key>
                <string>{110,70}</string>
            </dict>
            <key>effect_104_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{58,48}}</string>
                <key>offset</key>
                <string>{-22,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{58,48}}</string>
                <key>sourceSize</key>
                <string>{110,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_104.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b00e6d4ba8d908289f952da0c58a171$</string>
            <key>textureFileName</key>
            <string>effect_104.png</string>
        </dict>
    </dict>
</plist>
