<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_435_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,283},{314,99}}</string>
                <key>offset</key>
                <string>{8,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,56},{314,99}}</string>
                <key>sourceSize</key>
                <string>{352,169}</string>
            </dict>
            <key>effect_435_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{318,89}}</string>
                <key>offset</key>
                <string>{8,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,57},{318,89}}</string>
                <key>sourceSize</key>
                <string>{352,169}</string>
            </dict>
            <key>effect_435_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{330,97}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,56},{330,97}}</string>
                <key>sourceSize</key>
                <string>{352,169}</string>
            </dict>
            <key>effect_435_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,306},{308,143}}</string>
                <key>offset</key>
                <string>{13,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,9},{308,143}}</string>
                <key>sourceSize</key>
                <string>{352,169}</string>
            </dict>
            <key>effect_435_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{302,145}}</string>
                <key>offset</key>
                <string>{16,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,11},{302,145}}</string>
                <key>sourceSize</key>
                <string>{352,169}</string>
            </dict>
            <key>effect_435_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{302,139}}</string>
                <key>offset</key>
                <string>{16,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,21},{302,139}}</string>
                <key>sourceSize</key>
                <string>{352,169}</string>
            </dict>
            <key>effect_435_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,487},{306,127}}</string>
                <key>offset</key>
                <string>{12,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,36},{306,127}}</string>
                <key>sourceSize</key>
                <string>{352,169}</string>
            </dict>
            <key>effect_435_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{310,101}}</string>
                <key>offset</key>
                <string>{10,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,54},{310,101}}</string>
                <key>sourceSize</key>
                <string>{352,169}</string>
            </dict>
            <key>effect_435_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{316,89}}</string>
                <key>offset</key>
                <string>{7,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,61},{316,89}}</string>
                <key>sourceSize</key>
                <string>{352,169}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_435.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1618019a1b54a21a7571b1aaf2c0821$</string>
            <key>textureFileName</key>
            <string>effect_435.png</string>
        </dict>
    </dict>
</plist>
