<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_364_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,76}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,23},{56,76}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>effect_364_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{56,70}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,25},{56,70}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>effect_364_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{56,72}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{56,72}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>effect_364_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{56,68}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,12},{56,68}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>effect_364_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{58,60}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{58,60}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>effect_364_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,66},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,19},{62,62}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>effect_364_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,60},{62,64}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,17},{62,64}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>effect_364_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{62,64}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,16},{62,64}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>effect_364_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,128},{60,52}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{60,52}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>effect_364_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,64},{62,54}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,15},{62,54}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_364.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52e33d8c4b9b726a1f41fd4ed0df30b4$</string>
            <key>textureFileName</key>
            <string>effect_364.png</string>
        </dict>
    </dict>
</plist>
