<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_339_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{124,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{124,150}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
            <key>effect_339_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,154},{124,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{124,150}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
            <key>effect_339_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,306},{122,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{122,150}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
            <key>effect_339_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{120,150}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{120,150}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
            <key>effect_339_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,154},{120,150}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{120,150}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
            <key>effect_339_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,306},{122,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{122,150}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
            <key>effect_339_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{124,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{124,150}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
            <key>effect_339_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{124,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{124,150}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
            <key>effect_339_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{128,150}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_339.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d464fcc3702113361180b621612b0d98$</string>
            <key>textureFileName</key>
            <string>effect_339.png</string>
        </dict>
    </dict>
</plist>
