<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_169_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{39,36}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{39,36}}</string>
                <key>sourceSize</key>
                <string>{45,40}</string>
            </dict>
            <key>effect_169_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{45,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,40}}</string>
                <key>sourceSize</key>
                <string>{45,40}</string>
            </dict>
            <key>effect_169_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{45,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,38}}</string>
                <key>sourceSize</key>
                <string>{45,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_169.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94abc4083cfdb9344ee3291af051b7f9$</string>
            <key>textureFileName</key>
            <string>effect_169.png</string>
        </dict>
    </dict>
</plist>
