<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_398_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{306,101}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{306,101}}</string>
                <key>sourceSize</key>
                <string>{310,105}</string>
            </dict>
            <key>effect_398_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{306,101}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{306,101}}</string>
                <key>sourceSize</key>
                <string>{310,105}</string>
            </dict>
            <key>effect_398_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{306,101}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{306,101}}</string>
                <key>sourceSize</key>
                <string>{310,105}</string>
            </dict>
            <key>effect_398_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{306,101}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{306,101}}</string>
                <key>sourceSize</key>
                <string>{310,105}</string>
            </dict>
            <key>effect_398_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,517},{302,101}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{302,101}}</string>
                <key>sourceSize</key>
                <string>{310,105}</string>
            </dict>
            <key>effect_398_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{302,101}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{302,101}}</string>
                <key>sourceSize</key>
                <string>{310,105}</string>
            </dict>
            <key>effect_398_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{302,101}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{302,101}}</string>
                <key>sourceSize</key>
                <string>{310,105}</string>
            </dict>
            <key>effect_398_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,310},{302,101}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{302,101}}</string>
                <key>sourceSize</key>
                <string>{310,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_398.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:789942a93f84112238c5cdaf0d203c06$</string>
            <key>textureFileName</key>
            <string>effect_398.png</string>
        </dict>
    </dict>
</plist>
