<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_341_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,130},{110,61}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{110,61}}</string>
                <key>sourceSize</key>
                <string>{130,65}</string>
            </dict>
            <key>effect_341_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{120,61}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{120,61}}</string>
                <key>sourceSize</key>
                <string>{130,65}</string>
            </dict>
            <key>effect_341_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{88,63}}</string>
                <key>offset</key>
                <string>{21,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{88,63}}</string>
                <key>sourceSize</key>
                <string>{130,65}</string>
            </dict>
            <key>effect_341_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,193},{100,63}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{100,63}}</string>
                <key>sourceSize</key>
                <string>{130,65}</string>
            </dict>
            <key>effect_341_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{110,63}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{110,63}}</string>
                <key>sourceSize</key>
                <string>{130,65}</string>
            </dict>
            <key>effect_341_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{104,63}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{104,63}}</string>
                <key>sourceSize</key>
                <string>{130,65}</string>
            </dict>
            <key>effect_341_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,65},{118,63}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{118,63}}</string>
                <key>sourceSize</key>
                <string>{130,65}</string>
            </dict>
            <key>effect_341_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,63}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{124,63}}</string>
                <key>sourceSize</key>
                <string>{130,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_341.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f2ebad2d4a643df5279db681a64cb95$</string>
            <key>textureFileName</key>
            <string>effect_341.png</string>
        </dict>
    </dict>
</plist>
