<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_211_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,426},{34,140}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,73},{34,140}}</string>
                <key>sourceSize</key>
                <string>{180,220}</string>
            </dict>
            <key>effect_211_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,204},{86,180}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,36},{86,180}}</string>
                <key>sourceSize</key>
                <string>{180,220}</string>
            </dict>
            <key>effect_211_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{122,200}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,18},{122,200}}</string>
                <key>sourceSize</key>
                <string>{180,220}</string>
            </dict>
            <key>effect_211_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{130,220}}</string>
                <key>sourceSize</key>
                <string>{180,220}</string>
            </dict>
            <key>effect_211_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{168,200}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{168,200}}</string>
                <key>sourceSize</key>
                <string>{180,220}</string>
            </dict>
            <key>effect_211_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{116,142}}</string>
                <key>offset</key>
                <string>{-5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,65},{116,142}}</string>
                <key>sourceSize</key>
                <string>{180,220}</string>
            </dict>
            <key>effect_211_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{114,120}}</string>
                <key>offset</key>
                <string>{-5,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,75},{114,120}}</string>
                <key>sourceSize</key>
                <string>{180,220}</string>
            </dict>
            <key>effect_211_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{116,42}}</string>
                <key>offset</key>
                <string>{-6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,76},{116,42}}</string>
                <key>sourceSize</key>
                <string>{180,220}</string>
            </dict>
            <key>effect_211_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{114,40}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,82},{114,40}}</string>
                <key>sourceSize</key>
                <string>{180,220}</string>
            </dict>
            <key>effect_211_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,470},{104,40}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,82},{104,40}}</string>
                <key>sourceSize</key>
                <string>{180,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_211.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27abd82f4e33d409e8cbf709bf081101$</string>
            <key>textureFileName</key>
            <string>effect_211.png</string>
        </dict>
    </dict>
</plist>
