<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_explore_shuijin2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,80},{80,76}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,44},{80,76}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>effect_explore_shuijin2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{82,76}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,44},{82,76}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>effect_explore_shuijin2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{82,78}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,42},{82,78}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>effect_explore_shuijin2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{82,78}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,42},{82,78}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>effect_explore_shuijin2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,78}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,42},{82,78}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>effect_explore_shuijin2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,392},{60,78}}</string>
                <key>offset</key>
                <string>{12,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,41},{60,78}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>effect_explore_shuijin2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,312},{76,78}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,42},{76,78}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>effect_explore_shuijin2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{76,78}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,42},{76,78}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>effect_explore_shuijin2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,82},{76,80}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,40},{76,80}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>effect_explore_shuijin2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,82},{76,80}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,40},{76,80}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>effect_explore_shuijin2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{76,80}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,40},{76,80}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>effect_explore_shuijin2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,160},{70,80}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,40},{70,80}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>effect_explore_shuijin2_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,80},{76,80}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,40},{76,80}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>effect_explore_shuijin2_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,80},{76,80}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,39},{76,80}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>effect_explore_shuijin2_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{76,78}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,39},{76,78}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>effect_explore_shuijin2_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,234},{76,78}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,39},{76,78}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>effect_explore_shuijin2_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{76,78}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,39},{76,78}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>effect_explore_shuijin2_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,232},{76,78}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,39},{76,78}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>effect_explore_shuijin2_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,234},{76,58}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,59},{76,58}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>effect_explore_shuijin2_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,310},{76,70}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,47},{76,70}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>effect_explore_shuijin2_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,312},{78,70}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,47},{78,70}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>effect_explore_shuijin2_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,392},{78,70}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,47},{78,70}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>effect_explore_shuijin2_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,392},{78,72}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,46},{78,72}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>effect_explore_shuijin2_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,160},{80,72}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,46},{80,72}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>effect_explore_shuijin2_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{80,72}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,46},{80,72}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>effect_explore_shuijin2_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,158},{80,74}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,45},{80,74}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>effect_explore_shuijin2_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,158},{80,74}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,45},{80,74}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>effect_explore_shuijin2_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,158},{80,74}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,45},{80,74}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>effect_explore_shuijin2_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{80,76}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,43},{80,76}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>effect_explore_shuijin2_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{80,76}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,43},{80,76}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_explore_shuijin2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91eed77e2bc91ddbe45a696bf5ac40bc$</string>
            <key>textureFileName</key>
            <string>effect_explore_shuijin2.png</string>
        </dict>
    </dict>
</plist>
