<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_222_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{153,149}}</string>
                <key>offset</key>
                <string>{-52,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,51},{153,149}}</string>
                <key>sourceSize</key>
                <string>{275,265}</string>
            </dict>
            <key>effect_222_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,432},{187,179}}</string>
                <key>offset</key>
                <string>{-32,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,28},{187,179}}</string>
                <key>sourceSize</key>
                <string>{275,265}</string>
            </dict>
            <key>effect_222_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,223},{209,207}}</string>
                <key>offset</key>
                <string>{-16,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{209,207}}</string>
                <key>sourceSize</key>
                <string>{275,265}</string>
            </dict>
            <key>effect_222_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,2},{219,249}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,6},{219,249}}</string>
                <key>sourceSize</key>
                <string>{275,265}</string>
            </dict>
            <key>effect_222_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{249,229}}</string>
                <key>offset</key>
                <string>{13,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{249,229}}</string>
                <key>sourceSize</key>
                <string>{275,265}</string>
            </dict>
            <key>effect_222_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{115,199}}</string>
                <key>offset</key>
                <string>{-50,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,37},{115,199}}</string>
                <key>sourceSize</key>
                <string>{275,265}</string>
            </dict>
            <key>effect_222_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{117,207}}</string>
                <key>offset</key>
                <string>{-47,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,36},{117,207}}</string>
                <key>sourceSize</key>
                <string>{275,265}</string>
            </dict>
            <key>effect_222_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,603},{109,163}}</string>
                <key>offset</key>
                <string>{-37,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,32},{109,163}}</string>
                <key>sourceSize</key>
                <string>{275,265}</string>
            </dict>
            <key>effect_222_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,432},{111,169}}</string>
                <key>offset</key>
                <string>{-33,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,31},{111,169}}</string>
                <key>sourceSize</key>
                <string>{275,265}</string>
            </dict>
            <key>effect_222_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,469},{99,175}}</string>
                <key>offset</key>
                <string>{-22,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,28},{99,175}}</string>
                <key>sourceSize</key>
                <string>{275,265}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_222.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf3e2df2db9a2a72c9dab9fc08174ae7$</string>
            <key>textureFileName</key>
            <string>effect_222.png</string>
        </dict>
    </dict>
</plist>
