<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_394_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,260},{126,102}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{126,102}}</string>
                <key>sourceSize</key>
                <string>{130,110}</string>
            </dict>
            <key>effect_394_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{128,102}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{128,102}}</string>
                <key>sourceSize</key>
                <string>{130,110}</string>
            </dict>
            <key>effect_394_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,130},{128,104}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{128,104}}</string>
                <key>sourceSize</key>
                <string>{130,110}</string>
            </dict>
            <key>effect_394_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{128,106}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{128,106}}</string>
                <key>sourceSize</key>
                <string>{130,110}</string>
            </dict>
            <key>effect_394_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{126,106}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{126,106}}</string>
                <key>sourceSize</key>
                <string>{130,110}</string>
            </dict>
            <key>effect_394_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,106}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{128,106}}</string>
                <key>sourceSize</key>
                <string>{130,110}</string>
            </dict>
            <key>effect_394_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,108},{128,104}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{128,104}}</string>
                <key>sourceSize</key>
                <string>{130,110}</string>
            </dict>
            <key>effect_394_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{128,104}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{128,104}}</string>
                <key>sourceSize</key>
                <string>{130,110}</string>
            </dict>
            <key>effect_394_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{126,102}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{126,102}}</string>
                <key>sourceSize</key>
                <string>{130,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_394.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f458257e37686001af0491add38d3092$</string>
            <key>textureFileName</key>
            <string>effect_394.png</string>
        </dict>
    </dict>
</plist>
