<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_xuyuanshu_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,730},{180,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,104}}</string>
                <key>sourceSize</key>
                <string>{180,104}</string>
            </dict>
            <key>effect_xuyuanshu_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,638},{180,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,104}}</string>
                <key>sourceSize</key>
                <string>{180,104}</string>
            </dict>
            <key>effect_xuyuanshu_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{180,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,104}}</string>
                <key>sourceSize</key>
                <string>{180,104}</string>
            </dict>
            <key>effect_xuyuanshu_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{180,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,104}}</string>
                <key>sourceSize</key>
                <string>{180,104}</string>
            </dict>
            <key>effect_xuyuanshu_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,548},{180,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,104}}</string>
                <key>sourceSize</key>
                <string>{180,104}</string>
            </dict>
            <key>effect_xuyuanshu_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,532},{180,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,104}}</string>
                <key>sourceSize</key>
                <string>{180,104}</string>
            </dict>
            <key>effect_xuyuanshu_2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{180,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,104}}</string>
                <key>sourceSize</key>
                <string>{180,104}</string>
            </dict>
            <key>effect_xuyuanshu_2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,426},{180,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,104}}</string>
                <key>sourceSize</key>
                <string>{180,104}</string>
            </dict>
            <key>effect_xuyuanshu_2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{180,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,104}}</string>
                <key>sourceSize</key>
                <string>{180,104}</string>
            </dict>
            <key>effect_xuyuanshu_2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,366},{180,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,104}}</string>
                <key>sourceSize</key>
                <string>{180,104}</string>
            </dict>
            <key>effect_xuyuanshu_2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,320},{180,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,104}}</string>
                <key>sourceSize</key>
                <string>{180,104}</string>
            </dict>
            <key>effect_xuyuanshu_2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{180,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,104}}</string>
                <key>sourceSize</key>
                <string>{180,104}</string>
            </dict>
            <key>effect_xuyuanshu_2_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,214},{180,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,104}}</string>
                <key>sourceSize</key>
                <string>{180,104}</string>
            </dict>
            <key>effect_xuyuanshu_2_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{180,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,104}}</string>
                <key>sourceSize</key>
                <string>{180,104}</string>
            </dict>
            <key>effect_xuyuanshu_2_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,184},{180,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,104}}</string>
                <key>sourceSize</key>
                <string>{180,104}</string>
            </dict>
            <key>effect_xuyuanshu_2_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,108},{180,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,104}}</string>
                <key>sourceSize</key>
                <string>{180,104}</string>
            </dict>
            <key>effect_xuyuanshu_2_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{180,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,104}}</string>
                <key>sourceSize</key>
                <string>{180,104}</string>
            </dict>
            <key>effect_xuyuanshu_2_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{180,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,104}}</string>
                <key>sourceSize</key>
                <string>{180,104}</string>
            </dict>
            <key>effect_xuyuanshu_2_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{180,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,104}}</string>
                <key>sourceSize</key>
                <string>{180,104}</string>
            </dict>
            <key>effect_xuyuanshu_2_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,104}}</string>
                <key>sourceSize</key>
                <string>{180,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_xuyuanshu_2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b61bbbe614523d9f2451031f2139bd4$</string>
            <key>textureFileName</key>
            <string>effect_xuyuanshu_2.png</string>
        </dict>
    </dict>
</plist>
