<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_450_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{274,74}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{159,613},{274,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_450_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{274,74}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{159,613},{274,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_450_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{274,74}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{159,613},{274,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_450_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{274,74}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{159,613},{274,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_450_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{274,74}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{235,613},{274,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_450_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{274,74}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{1,1179},{274,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_450_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{274,74}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{77,1171},{274,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_450_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{274,74}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{153,889},{274,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_450_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{274,74}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{1,1455},{274,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_450_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{274,74}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{77,1447},{274,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_450_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{274,74}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{153,1165},{274,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_450_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{274,74}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{229,889},{274,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_450_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{274,74}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{153,1441},{274,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_450_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{274,74}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{229,1165},{274,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_450_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{274,74}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{229,1441},{274,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_450_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{274,74}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{1,1731},{274,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_450_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{274,74}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{1,1807},{274,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_450_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{274,74}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{1,1883},{274,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_450_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{274,80}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{77,613},{274,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_450_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{274,82}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{1,529},{274,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_450_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,7}</string>
                <key>spriteSize</key>
                <string>{276,86}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{1,441},{276,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_450_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,7}</string>
                <key>spriteSize</key>
                <string>{278,86}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{1,177},{278,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_450_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,7}</string>
                <key>spriteSize</key>
                <string>{278,86}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{1,265},{278,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_450_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,7}</string>
                <key>spriteSize</key>
                <string>{278,86}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{1,353},{278,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_450_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,7}</string>
                <key>spriteSize</key>
                <string>{280,86}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{280,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_450_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,7}</string>
                <key>spriteSize</key>
                <string>{280,86}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{1,89},{280,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_450_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{280,74}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{1,897},{280,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_450_0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{282,74}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{1,613},{282,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_450_0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{280,74}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{77,889},{280,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_450_0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{274,74}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{159,613},{274,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effect_450.png</string>
            <key>size</key>
            <string>{310,1958}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b4f5aee4aaa1cf889c5f7ddf19ee2db:b46a498c01b3092c4540eef492d9b7cf:a00af75cf4221960db16bab173d13878$</string>
            <key>textureFileName</key>
            <string>effect_450.png</string>
        </dict>
    </dict>
</plist>
