<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_452_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{130,54}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,16},{130,54}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>effect_452_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,134},{130,48}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,18},{130,48}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>effect_452_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{130,54}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{130,54}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>effect_452_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{130,50}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{130,50}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>effect_452_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{130,54}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{130,54}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>effect_452_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{130,56}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{130,56}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>effect_452_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,58}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{130,58}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>effect_452_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,134},{130,50}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,19},{130,50}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>effect_452_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{130,48}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{130,48}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>effect_452_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,266},{128,44}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,19},{128,44}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_452.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5330d30582808f9ad18f98683c5892d$</string>
            <key>textureFileName</key>
            <string>effect_452.png</string>
        </dict>
    </dict>
</plist>
