<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_138_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{80,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,350}}</string>
                <key>sourceSize</key>
                <string>{80,350}</string>
            </dict>
            <key>effect_138_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{80,350}</string>
            </dict>
            <key>effect_138_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{80,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,350}}</string>
                <key>sourceSize</key>
                <string>{80,350}</string>
            </dict>
            <key>effect_138_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{80,350}</string>
            </dict>
            <key>effect_138_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{80,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,350}}</string>
                <key>sourceSize</key>
                <string>{80,350}</string>
            </dict>
            <key>effect_138_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{80,350}</string>
            </dict>
            <key>effect_138_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{80,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,350}}</string>
                <key>sourceSize</key>
                <string>{80,350}</string>
            </dict>
            <key>effect_138_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{80,350}</string>
            </dict>
            <key>effect_138_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{80,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,350}}</string>
                <key>sourceSize</key>
                <string>{80,350}</string>
            </dict>
            <key>effect_138_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,350}}</string>
                <key>sourceSize</key>
                <string>{80,350}</string>
            </dict>
            <key>effect_138_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{74,350}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{74,350}}</string>
                <key>sourceSize</key>
                <string>{80,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_138.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d80ba3079d08bffb59328f0f4c558056$</string>
            <key>textureFileName</key>
            <string>effect_138.png</string>
        </dict>
    </dict>
</plist>
