<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_511_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,318},{156,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{156,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_511_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,160},{156,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,21},{156,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_511_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,320},{156,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{156,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_511_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,160},{156,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{156,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_511_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{156,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,21},{156,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_511_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{156,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,21},{156,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_511_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{156,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{156,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_511_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{156,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{156,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_511_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{156,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_511.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b33b77006aead17edc10754b4eabd22$</string>
            <key>textureFileName</key>
            <string>effect_511.png</string>
        </dict>
    </dict>
</plist>
