<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_365_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{88,29}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{88,29}}</string>
                <key>sourceSize</key>
                <string>{100,45}</string>
            </dict>
            <key>effect_365_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{92,35}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{92,35}}</string>
                <key>sourceSize</key>
                <string>{100,45}</string>
            </dict>
            <key>effect_365_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,43}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,43}}</string>
                <key>sourceSize</key>
                <string>{100,45}</string>
            </dict>
            <key>effect_365_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{90,31}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{90,31}}</string>
                <key>sourceSize</key>
                <string>{100,45}</string>
            </dict>
            <key>effect_365_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,47},{88,29}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,14},{88,29}}</string>
                <key>sourceSize</key>
                <string>{100,45}</string>
            </dict>
            <key>effect_365_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,137},{82,31}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{82,31}}</string>
                <key>sourceSize</key>
                <string>{100,45}</string>
            </dict>
            <key>effect_365_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{78,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{78,39}}</string>
                <key>sourceSize</key>
                <string>{100,45}</string>
            </dict>
            <key>effect_365_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{74,31}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{74,31}}</string>
                <key>sourceSize</key>
                <string>{100,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_365.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4de677ae2278e4a49e11ec3ad89ad130$</string>
            <key>textureFileName</key>
            <string>effect_365.png</string>
        </dict>
    </dict>
</plist>
