<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_060_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1783},{237,210}}</string>
                <key>offset</key>
                <string>{99,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,58},{237,210}}</string>
                <key>sourceSize</key>
                <string>{473,276}</string>
            </dict>
            <key>effect_060_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1476},{305,216}}</string>
                <key>offset</key>
                <string>{63,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,56},{305,216}}</string>
                <key>sourceSize</key>
                <string>{473,276}</string>
            </dict>
            <key>effect_060_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1252},{377,222}}</string>
                <key>offset</key>
                <string>{35,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,37},{377,222}}</string>
                <key>sourceSize</key>
                <string>{473,276}</string>
            </dict>
            <key>effect_060_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,684},{439,228}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,33},{439,228}}</string>
                <key>sourceSize</key>
                <string>{473,276}</string>
            </dict>
            <key>effect_060_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,218},{455,224}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,30},{455,224}}</string>
                <key>sourceSize</key>
                <string>{473,276}</string>
            </dict>
            <key>effect_060_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,2},{463,214}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,37},{463,214}}</string>
                <key>sourceSize</key>
                <string>{473,276}</string>
            </dict>
            <key>effect_060_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{469,216}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,42},{469,216}}</string>
                <key>sourceSize</key>
                <string>{473,276}</string>
            </dict>
            <key>effect_060_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{443,218}}</string>
                <key>offset</key>
                <string>{-8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,39},{443,218}}</string>
                <key>sourceSize</key>
                <string>{473,276}</string>
            </dict>
            <key>effect_060_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,444},{443,238}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,33},{443,238}}</string>
                <key>sourceSize</key>
                <string>{473,276}</string>
            </dict>
            <key>effect_060_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{449,262}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{449,262}}</string>
                <key>sourceSize</key>
                <string>{473,276}</string>
            </dict>
            <key>effect_060_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{433,274}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{433,274}}</string>
                <key>sourceSize</key>
                <string>{473,276}</string>
            </dict>
            <key>effect_060_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,980},{427,270}}</string>
                <key>offset</key>
                <string>{-19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{427,270}}</string>
                <key>sourceSize</key>
                <string>{473,276}</string>
            </dict>
            <key>effect_060_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,914},{429,256}}</string>
                <key>offset</key>
                <string>{-17,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{429,256}}</string>
                <key>sourceSize</key>
                <string>{473,276}</string>
            </dict>
            <key>effect_060_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,1172},{425,168}}</string>
                <key>offset</key>
                <string>{-17,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,79},{425,168}}</string>
                <key>sourceSize</key>
                <string>{473,276}</string>
            </dict>
            <key>effect_060_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,444},{121,166}}</string>
                <key>offset</key>
                <string>{-166,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,80},{121,166}}</string>
                <key>sourceSize</key>
                <string>{473,276}</string>
            </dict>
            <key>effect_060_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,612},{113,166}}</string>
                <key>offset</key>
                <string>{-162,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,80},{113,166}}</string>
                <key>sourceSize</key>
                <string>{473,276}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_060.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09f4a27e31ebf34430e4dbaad8629e9b$</string>
            <key>textureFileName</key>
            <string>effect_060.png</string>
        </dict>
    </dict>
</plist>
