<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_382_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,154},{143,74}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{143,74}}</string>
                <key>sourceSize</key>
                <string>{155,74}</string>
            </dict>
            <key>effect_382_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,78},{143,74}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{143,74}}</string>
                <key>sourceSize</key>
                <string>{155,74}</string>
            </dict>
            <key>effect_382_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,78},{147,74}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{147,74}}</string>
                <key>sourceSize</key>
                <string>{155,74}</string>
            </dict>
            <key>effect_382_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,380},{147,74}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{147,74}}</string>
                <key>sourceSize</key>
                <string>{155,74}</string>
            </dict>
            <key>effect_382_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,229},{149,74}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{149,74}}</string>
                <key>sourceSize</key>
                <string>{155,74}</string>
            </dict>
            <key>effect_382_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,78},{149,74}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{149,74}}</string>
                <key>sourceSize</key>
                <string>{155,74}</string>
            </dict>
            <key>effect_382_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{149,74}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{149,74}}</string>
                <key>sourceSize</key>
                <string>{155,74}</string>
            </dict>
            <key>effect_382_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{149,74}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{149,74}}</string>
                <key>sourceSize</key>
                <string>{155,74}</string>
            </dict>
            <key>effect_382_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{149,74}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{149,74}}</string>
                <key>sourceSize</key>
                <string>{155,74}</string>
            </dict>
            <key>effect_382_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{149,74}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{149,74}}</string>
                <key>sourceSize</key>
                <string>{155,74}</string>
            </dict>
            <key>effect_382_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{153,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{153,74}}</string>
                <key>sourceSize</key>
                <string>{155,74}</string>
            </dict>
            <key>effect_382_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{153,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{153,74}}</string>
                <key>sourceSize</key>
                <string>{155,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_382.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd468264b68ed7d344d109111516fdee$</string>
            <key>textureFileName</key>
            <string>effect_382.png</string>
        </dict>
    </dict>
</plist>
