<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_298_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,306},{154,150}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{154,150}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>effect_298_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{146,160}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,18},{146,160}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>effect_298_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,310},{144,150}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,16},{144,150}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>effect_298_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,456},{146,142}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{146,142}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>effect_298_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,160}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,14},{156,160}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>effect_298_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,160},{156,148}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{156,148}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>effect_298_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,150},{158,154}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{158,154}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>effect_298_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{126,158}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,11},{126,158}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>effect_298_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{158,156}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{158,156}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>effect_298_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{156,150}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{156,150}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>effect_298_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{152,150}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{152,150}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_298.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:726520d871eeeb2d8f5c1bc6aae35f9f$</string>
            <key>textureFileName</key>
            <string>effect_298.png</string>
        </dict>
    </dict>
</plist>
