<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_078_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{104,46}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{104,46}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>effect_078_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{104,46}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{104,46}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>effect_078_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,46}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{104,46}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_078.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c244449f843543511f2340c5985674c7$</string>
            <key>textureFileName</key>
            <string>effect_078.png</string>
        </dict>
    </dict>
</plist>
