<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_023_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{60,74}}</string>
                <key>offset</key>
                <string>{-24,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,68},{60,74}}</string>
                <key>sourceSize</key>
                <string>{180,192}</string>
            </dict>
            <key>effect_023_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{134,178}}</string>
                <key>offset</key>
                <string>{-16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{134,178}}</string>
                <key>sourceSize</key>
                <string>{180,192}</string>
            </dict>
            <key>effect_023_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{146,188}}</string>
                <key>offset</key>
                <string>{-15,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{146,188}}</string>
                <key>sourceSize</key>
                <string>{180,192}</string>
            </dict>
            <key>effect_023_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,188}}</string>
                <key>offset</key>
                <string>{-13,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,188}}</string>
                <key>sourceSize</key>
                <string>{180,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_023.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c8f4393b8c065100e0e5f3e55eec097$</string>
            <key>textureFileName</key>
            <string>effect_023.png</string>
        </dict>
    </dict>
</plist>
