<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_523_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,460},{150,152}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{150,152}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>effect_523_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,154}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,12},{152,154}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>effect_523_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,310},{150,152}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{150,152}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>effect_523_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,156},{152,152}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{152,152}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>effect_523_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{152,152}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{152,152}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>effect_523_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{150,152}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,14},{150,152}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>effect_523_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{152,152}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{152,152}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>effect_523_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,308},{150,152}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{150,152}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>effect_523_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{152,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{152,152}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>effect_523_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,156},{150,152}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{150,152}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_523.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63ab74735a7243b0c3b5afac4985a950$</string>
            <key>textureFileName</key>
            <string>effect_523.png</string>
        </dict>
    </dict>
</plist>
