<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_fire_small_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,256},{80,46}}</string>
                <key>offset</key>
                <string>{2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,49},{80,46}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_fire_small_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,162},{84,46}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,49},{84,46}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_fire_small_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{92,50}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,45},{92,50}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_fire_small_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,60},{98,56}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,37},{98,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_fire_small_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{98,56}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,37},{98,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_fire_small_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,58}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{100,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_fire_small_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{98,54}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,39},{98,54}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_fire_small_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{96,60}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,34},{96,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_fire_small_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,118},{90,66}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,28},{90,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_fire_small_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{86,64}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,30},{86,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_fire_small_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,304},{78,64}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,30},{78,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_fire_small_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{70,70}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,24},{70,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_fire_small_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,186},{68,82}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,14},{68,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_fire_small_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{66,82}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,14},{66,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_fire_small_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,248},{66,80}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,15},{66,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_fire_small_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,96},{64,50}}</string>
                <key>offset</key>
                <string>{7,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,45},{64,50}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_fire_small.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3d050d4bc4feed62f98b182e2a2373c$</string>
            <key>textureFileName</key>
            <string>effect_fire_small.png</string>
        </dict>
    </dict>
</plist>
