<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_154_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{141,173}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{141,173}}</string>
                <key>sourceSize</key>
                <string>{145,175}</string>
            </dict>
            <key>effect_154_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{143,171}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{143,171}}</string>
                <key>sourceSize</key>
                <string>{145,175}</string>
            </dict>
            <key>effect_154_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{141,171}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{141,171}}</string>
                <key>sourceSize</key>
                <string>{145,175}</string>
            </dict>
            <key>effect_154_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,175},{133,165}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{133,165}}</string>
                <key>sourceSize</key>
                <string>{145,175}</string>
            </dict>
            <key>effect_154_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,350},{113,139}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{113,139}}</string>
                <key>sourceSize</key>
                <string>{145,175}</string>
            </dict>
            <key>effect_154_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{101,141}}</string>
                <key>offset</key>
                <string>{-6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,34},{101,141}}</string>
                <key>sourceSize</key>
                <string>{145,175}</string>
            </dict>
            <key>effect_154_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,272},{65,63}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,40},{65,63}}</string>
                <key>sourceSize</key>
                <string>{145,175}</string>
            </dict>
            <key>effect_154_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,175},{95,91}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,26},{95,91}}</string>
                <key>sourceSize</key>
                <string>{145,175}</string>
            </dict>
            <key>effect_154_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,342},{109,105}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,19},{109,105}}</string>
                <key>sourceSize</key>
                <string>{145,175}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_154.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3dedeed77dab4d78889422af36a92dd$</string>
            <key>textureFileName</key>
            <string>effect_154.png</string>
        </dict>
    </dict>
</plist>
