<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_495_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,534},{168,64}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,21},{168,64}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>effect_495_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,492},{214,76}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,14},{214,76}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>effect_495_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,2},{246,88}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,8},{246,88}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>effect_495_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{300,98}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{300,98}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>effect_495_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{310,100}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{310,100}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>effect_495_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{296,94}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{296,94}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>effect_495_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,488},{282,76}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,16},{282,76}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>effect_495_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{282,76}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,16},{282,76}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>effect_495_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,414},{282,76}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,16},{282,76}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>effect_495_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,410},{282,76}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,16},{282,76}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>effect_495_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{282,76}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,16},{282,76}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>effect_495_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,336},{282,76}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,16},{282,76}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>effect_495_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,332},{282,76}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,16},{282,76}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>effect_495_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{282,76}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,16},{282,76}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>effect_495_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,258},{282,76}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,16},{282,76}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>effect_495_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,254},{282,76}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,16},{282,76}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>effect_495_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,250},{282,76}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,16},{282,76}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>effect_495_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{282,76}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,16},{282,76}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>effect_495_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,180},{282,76}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,16},{282,76}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>effect_495_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,176},{282,76}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,16},{282,76}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>effect_495_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{282,76}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,16},{282,76}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>effect_495_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,102},{282,76}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,16},{282,76}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>effect_495_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,98},{282,76}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,16},{282,76}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>effect_495_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,98},{282,76}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,16},{282,76}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_495.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97ebbbc2081db7e9e8d8425532ef8922$</string>
            <key>textureFileName</key>
            <string>effect_495.png</string>
        </dict>
    </dict>
</plist>
