<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_hulusaoguang_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{161,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{161,157}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>effect_hulusaoguang_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{161,157}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{161,157}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>effect_hulusaoguang_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,477},{159,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{159,155}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>effect_hulusaoguang_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,477},{159,155}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{159,155}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>effect_hulusaoguang_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,161},{157,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{157,161}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>effect_hulusaoguang_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,320},{155,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{155,161}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>effect_hulusaoguang_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,634},{155,159}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{155,159}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>effect_hulusaoguang_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{161,157}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{161,157}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>effect_hulusaoguang_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,320},{161,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{161,155}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>effect_hulusaoguang_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{161,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{161,155}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>effect_hulusaoguang_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,477},{159,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{159,155}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>effect_hulusaoguang_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,161},{157,161}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{157,161}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>effect_hulusaoguang_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,795},{155,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{155,159}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>effect_hulusaoguang_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{155,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{155,159}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>effect_hulusaoguang_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{161,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{161,157}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_hulusaoguang.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f57788693e24848ccc3e264b0ac9c68$</string>
            <key>textureFileName</key>
            <string>effect_hulusaoguang.png</string>
        </dict>
    </dict>
</plist>
