<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_zhuzi_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,214},{200,224}}</string>
                <key>offset</key>
                <string>{-21,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,18},{200,224}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>effect_zhuzi_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,210},{202,224}}</string>
                <key>offset</key>
                <string>{-19,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,18},{202,224}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>effect_zhuzi_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{206,224}}</string>
                <key>offset</key>
                <string>{-18,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,18},{206,224}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>effect_zhuzi_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{208,224}}</string>
                <key>offset</key>
                <string>{-16,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,18},{208,224}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>effect_zhuzi_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{210,224}}</string>
                <key>offset</key>
                <string>{-15,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,18},{210,224}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>effect_zhuzi_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,224}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,18},{214,224}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>effect_zhuzi_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1172},{174,224}}</string>
                <key>offset</key>
                <string>{-34,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,18},{174,224}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>effect_zhuzi_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1172},{176,224}}</string>
                <key>offset</key>
                <string>{-33,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,18},{176,224}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>effect_zhuzi_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,990},{178,224}}</string>
                <key>offset</key>
                <string>{-31,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,18},{178,224}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>effect_zhuzi_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,990},{180,224}}</string>
                <key>offset</key>
                <string>{-30,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,18},{180,224}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>effect_zhuzi_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,988},{182,224}}</string>
                <key>offset</key>
                <string>{-29,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,18},{182,224}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>effect_zhuzi_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,804},{184,224}}</string>
                <key>offset</key>
                <string>{-28,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,18},{184,224}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>effect_zhuzi_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{186,224}}</string>
                <key>offset</key>
                <string>{-27,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,18},{186,224}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>effect_zhuzi_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,614},{188,224}}</string>
                <key>offset</key>
                <string>{-26,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,18},{188,224}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>effect_zhuzi_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,610},{192,224}}</string>
                <key>offset</key>
                <string>{-25,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,18},{192,224}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>effect_zhuzi_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,414},{194,224}}</string>
                <key>offset</key>
                <string>{-24,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,18},{194,224}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>effect_zhuzi_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,416},{196,224}}</string>
                <key>offset</key>
                <string>{-23,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,18},{196,224}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>effect_zhuzi_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{198,224}}</string>
                <key>offset</key>
                <string>{-22,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,18},{198,224}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>effect_zhuzi_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,212},{200,224}}</string>
                <key>offset</key>
                <string>{-21,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,18},{200,224}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>effect_zhuzi_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1348},{168,224}}</string>
                <key>offset</key>
                <string>{-37,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,18},{168,224}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>effect_zhuzi_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1346},{170,224}}</string>
                <key>offset</key>
                <string>{-36,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,18},{170,224}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>effect_zhuzi_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1172},{172,224}}</string>
                <key>offset</key>
                <string>{-34,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,18},{172,224}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>effect_zhuzi_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1170},{176,224}}</string>
                <key>offset</key>
                <string>{-33,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,18},{176,224}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>effect_zhuzi_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{178,224}}</string>
                <key>offset</key>
                <string>{-31,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,18},{178,224}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>effect_zhuzi_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,804},{182,224}}</string>
                <key>offset</key>
                <string>{-30,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,18},{182,224}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>effect_zhuzi_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,804},{184,224}}</string>
                <key>offset</key>
                <string>{-28,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,18},{184,224}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>effect_zhuzi_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{188,224}}</string>
                <key>offset</key>
                <string>{-27,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,18},{188,224}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>effect_zhuzi_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,612},{190,224}}</string>
                <key>offset</key>
                <string>{-25,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,18},{190,224}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>effect_zhuzi_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{194,224}}</string>
                <key>offset</key>
                <string>{-24,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,18},{194,224}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>effect_zhuzi_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,414},{196,224}}</string>
                <key>offset</key>
                <string>{-22,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,18},{196,224}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_zhuzi.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12c57551647a8f985942c49f6cef5d5e$</string>
            <key>textureFileName</key>
            <string>effect_zhuzi.png</string>
        </dict>
    </dict>
</plist>
