<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_yezhu_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,451},{228,151}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{228,151}}</string>
                <key>sourceSize</key>
                <string>{240,165}</string>
            </dict>
            <key>effect_yezhu_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{228,151}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{228,151}}</string>
                <key>sourceSize</key>
                <string>{240,165}</string>
            </dict>
            <key>effect_yezhu_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{240,153}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,153}}</string>
                <key>sourceSize</key>
                <string>{240,165}</string>
            </dict>
            <key>effect_yezhu_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,153}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,153}}</string>
                <key>sourceSize</key>
                <string>{240,165}</string>
            </dict>
            <key>effect_yezhu_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,157},{240,151}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,151}}</string>
                <key>sourceSize</key>
                <string>{240,165}</string>
            </dict>
            <key>effect_yezhu_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{240,151}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,151}}</string>
                <key>sourceSize</key>
                <string>{240,165}</string>
            </dict>
            <key>effect_yezhu_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,310},{238,139}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{238,139}}</string>
                <key>sourceSize</key>
                <string>{240,165}</string>
            </dict>
            <key>effect_yezhu_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{238,139}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{238,139}}</string>
                <key>sourceSize</key>
                <string>{240,165}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_yezhu.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbc77b4fe7d3e8fe9878f7fb68d7c465$</string>
            <key>textureFileName</key>
            <string>effect_yezhu.png</string>
        </dict>
    </dict>
</plist>
