<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_460_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{263,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,82},{263,267}}</string>
                <key>sourceSize</key>
                <string>{431,431}</string>
            </dict>
            <key>effect_460_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,267},{251,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,88},{251,255}}</string>
                <key>sourceSize</key>
                <string>{431,431}</string>
            </dict>
            <key>effect_460_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,2},{167,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,130},{167,171}}</string>
                <key>sourceSize</key>
                <string>{431,431}</string>
            </dict>
            <key>effect_460_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,171},{81,85}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,173},{81,85}}</string>
                <key>sourceSize</key>
                <string>{431,431}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_460.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c56518ae69526f657d1f200851b9fbe0$</string>
            <key>textureFileName</key>
            <string>effect_460.png</string>
        </dict>
    </dict>
</plist>
