<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_378_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,114},{112,81}}</string>
                <key>offset</key>
                <string>{0,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,101},{112,81}}</string>
                <key>sourceSize</key>
                <string>{220,195}</string>
            </dict>
            <key>effect_378_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{110,87}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,90},{110,87}}</string>
                <key>sourceSize</key>
                <string>{220,195}</string>
            </dict>
            <key>effect_378_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,302},{158,97}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,80},{158,97}}</string>
                <key>sourceSize</key>
                <string>{220,195}</string>
            </dict>
            <key>effect_378_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{194,127}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,59},{194,127}}</string>
                <key>sourceSize</key>
                <string>{220,195}</string>
            </dict>
            <key>effect_378_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,169}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{220,169}}</string>
                <key>sourceSize</key>
                <string>{220,195}</string>
            </dict>
            <key>effect_378_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{194,187}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{194,187}}</string>
                <key>sourceSize</key>
                <string>{220,195}</string>
            </dict>
            <key>effect_378_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{186,191}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{186,191}}</string>
                <key>sourceSize</key>
                <string>{220,195}</string>
            </dict>
            <key>effect_378_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,325},{142,99}}</string>
                <key>offset</key>
                <string>{-4,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,81},{142,99}}</string>
                <key>sourceSize</key>
                <string>{220,195}</string>
            </dict>
            <key>effect_378_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,191},{148,101}}</string>
                <key>offset</key>
                <string>{-2,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,88},{148,101}}</string>
                <key>sourceSize</key>
                <string>{220,195}</string>
            </dict>
            <key>effect_378_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,228},{146,95}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,97},{146,95}}</string>
                <key>sourceSize</key>
                <string>{220,195}</string>
            </dict>
            <key>effect_378_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,462},{36,37}}</string>
                <key>offset</key>
                <string>{39,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,134},{36,37}}</string>
                <key>sourceSize</key>
                <string>{220,195}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_378.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f34bc9bab888e4a810b97a421e0d83b$</string>
            <key>textureFileName</key>
            <string>effect_378.png</string>
        </dict>
    </dict>
</plist>
