<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_317_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{242,188}}</string>
                <key>offset</key>
                <string>{7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,33},{242,188}}</string>
                <key>sourceSize</key>
                <string>{360,280}</string>
            </dict>
            <key>effect_317_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,368},{250,222}}</string>
                <key>offset</key>
                <string>{14,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,11},{250,222}}</string>
                <key>sourceSize</key>
                <string>{360,280}</string>
            </dict>
            <key>effect_317_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{252,238}}</string>
                <key>offset</key>
                <string>{17,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,10},{252,238}}</string>
                <key>sourceSize</key>
                <string>{360,280}</string>
            </dict>
            <key>effect_317_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,250},{324,240}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{324,240}}</string>
                <key>sourceSize</key>
                <string>{360,280}</string>
            </dict>
            <key>effect_317_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{326,246}}</string>
                <key>offset</key>
                <string>{-11,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{326,246}}</string>
                <key>sourceSize</key>
                <string>{360,280}</string>
            </dict>
            <key>effect_317_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,134},{326,232}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,22},{326,232}}</string>
                <key>sourceSize</key>
                <string>{360,280}</string>
            </dict>
            <key>effect_317_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{346,274}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{346,274}}</string>
                <key>sourceSize</key>
                <string>{360,280}</string>
            </dict>
            <key>effect_317_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{328,130}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,53},{328,130}}</string>
                <key>sourceSize</key>
                <string>{360,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_317.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80807e4b826cfd4a7e662c251bcd36c2$</string>
            <key>textureFileName</key>
            <string>effect_317.png</string>
        </dict>
    </dict>
</plist>
