<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_428_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,88},{176,84}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{176,84}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>effect_428_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{176,84}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{176,84}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>effect_428_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,88}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{178,88}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>effect_428_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,174},{174,84}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{174,84}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>effect_428_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{174,86}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{174,86}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>effect_428_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{174,86}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,10},{174,86}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_428.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c561d258c3f4dae1fed39dbc252eed3c$</string>
            <key>textureFileName</key>
            <string>effect_428.png</string>
        </dict>
    </dict>
</plist>
