<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_103_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{79,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{79,78}}</string>
                <key>sourceSize</key>
                <string>{89,80}</string>
            </dict>
            <key>effect_103_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{75,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{75,74}}</string>
                <key>sourceSize</key>
                <string>{89,80}</string>
            </dict>
            <key>effect_103_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,80},{73,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{73,72}}</string>
                <key>sourceSize</key>
                <string>{89,80}</string>
            </dict>
            <key>effect_103_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{69,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{69,68}}</string>
                <key>sourceSize</key>
                <string>{89,80}</string>
            </dict>
            <key>effect_103_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,154},{65,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{65,64}}</string>
                <key>sourceSize</key>
                <string>{89,80}</string>
            </dict>
            <key>effect_103_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,218},{61,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{61,60}}</string>
                <key>sourceSize</key>
                <string>{89,80}</string>
            </dict>
            <key>effect_103_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,152},{65,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{65,64}}</string>
                <key>sourceSize</key>
                <string>{89,80}</string>
            </dict>
            <key>effect_103_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{69,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{69,68}}</string>
                <key>sourceSize</key>
                <string>{89,80}</string>
            </dict>
            <key>effect_103_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,78},{73,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{73,72}}</string>
                <key>sourceSize</key>
                <string>{89,80}</string>
            </dict>
            <key>effect_103_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,2},{77,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{77,76}}</string>
                <key>sourceSize</key>
                <string>{89,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_103.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c87c223306b864363e8431691f8a1ed4$</string>
            <key>textureFileName</key>
            <string>effect_103.png</string>
        </dict>
    </dict>
</plist>
