<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_402_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{32,40}}</string>
                <key>offset</key>
                <string>{2,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,129},{32,40}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>effect_402_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,154},{72,92}}</string>
                <key>offset</key>
                <string>{1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,76},{72,92}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>effect_402_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,168}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{124,168}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>effect_402_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{132,160}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{132,160}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>effect_402_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{132,150}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,27},{132,150}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>effect_402_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,334},{118,128}}</string>
                <key>offset</key>
                <string>{8,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,38},{118,128}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>effect_402_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{108,138}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,28},{108,138}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>effect_402_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,154},{92,84}}</string>
                <key>offset</key>
                <string>{-6,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,17},{92,84}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>effect_402_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,248},{78,76}}</string>
                <key>offset</key>
                <string>{-8,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,21},{78,76}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>effect_402_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,248},{76,58}}</string>
                <key>offset</key>
                <string>{-3,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,29},{76,58}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>effect_402_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{62,52}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,28},{62,52}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>effect_402_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,66},{56,54}}</string>
                <key>offset</key>
                <string>{-4,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,25},{56,54}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_402.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c385fc89943b2c031ace70c66a29424$</string>
            <key>textureFileName</key>
            <string>effect_402.png</string>
        </dict>
    </dict>
</plist>
