<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_nxz_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,578},{102,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,48},{102,102}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_nxz_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,460},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,42},{116,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_nxz_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,332},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,37},{126,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_nxz_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,186},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,34},{132,132}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_nxz_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,186},{142,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,28},{142,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_nxz_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,522},{148,148}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,26},{148,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_nxz_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,682},{152,152}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,24},{152,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_nxz_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,364},{156,156}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{156,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_nxz_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,532},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{162,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_nxz_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,364},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{166,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_nxz_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,352},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{170,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_nxz_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{174,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{174,174}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_nxz_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,184},{178,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{178,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_nxz_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{180,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_nxz_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,2},{182,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{182,182}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_nxz_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,766},{182,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{182,182}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_nxz_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,580},{184,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{184,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_nxz_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,774},{186,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{186,186}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_nxz_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{188,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_nxz_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,584},{186,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{186,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_nxz_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{188,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{188,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_nxz_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{190,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{190,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_nxz_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{192,192}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{192,192}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_nxz_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{192,194}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_nxz_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,188},{184,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{184,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_nxz_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,392},{186,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{186,186}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_nxz_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{184,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{184,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_nxz_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,766},{182,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{182,182}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_nxz_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,178},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{172,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_nxz_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,578},{102,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,48},{102,102}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_nxz.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3b15cbb72a9f8532a477fd441a2acfc$</string>
            <key>textureFileName</key>
            <string>effect_nxz.png</string>
        </dict>
    </dict>
</plist>
