<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_qicai_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,126},{100,122}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{100,122}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>effect_qicai_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,142},{100,124}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{100,124}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>effect_qicai_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{100,136}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{100,136}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>effect_qicai_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{100,138}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{100,138}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>effect_qicai_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,138}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{102,138}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>effect_qicai_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,392},{102,108}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,35},{102,108}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>effect_qicai_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,250},{102,98}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,43},{102,98}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>effect_qicai_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,354},{102,98}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,40},{102,98}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>effect_qicai_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,250},{102,98}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,38},{102,98}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>effect_qicai_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{102,92}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,41},{102,92}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>effect_qicai_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{100,94}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,36},{100,94}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>effect_qicai_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,96},{100,98}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,29},{100,98}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>effect_qicai_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{100,108}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,22},{100,108}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>effect_qicai_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,268},{100,122}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,20},{100,122}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>effect_qicai_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{100,122}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,19},{100,122}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_qicai.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78b094e2e2e9496e4314e497b3f0ba8b$</string>
            <key>textureFileName</key>
            <string>effect_qicai.png</string>
        </dict>
    </dict>
</plist>
