<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_085_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>effect_085_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{78,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{78,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>effect_085_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>effect_085_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{82,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{82,78}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>effect_085_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{82,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{82,80}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_085.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf8db77072007ca2aa8f7d86960a3c8a$</string>
            <key>textureFileName</key>
            <string>effect_085.png</string>
        </dict>
    </dict>
</plist>
