<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_406_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,709},{326,99}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,99}}</string>
                <key>sourceSize</key>
                <string>{334,99}</string>
            </dict>
            <key>effect_406_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,670},{326,99}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,99}}</string>
                <key>sourceSize</key>
                <string>{334,99}</string>
            </dict>
            <key>effect_406_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,909},{326,97}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,97}}</string>
                <key>sourceSize</key>
                <string>{334,99}</string>
            </dict>
            <key>effect_406_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{326,97}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,97}}</string>
                <key>sourceSize</key>
                <string>{334,99}</string>
            </dict>
            <key>effect_406_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{326,99}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,99}}</string>
                <key>sourceSize</key>
                <string>{334,99}</string>
            </dict>
            <key>effect_406_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{328,99}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,99}}</string>
                <key>sourceSize</key>
                <string>{334,99}</string>
            </dict>
            <key>effect_406_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,338},{330,99}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,99}}</string>
                <key>sourceSize</key>
                <string>{334,99}</string>
            </dict>
            <key>effect_406_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,305},{332,99}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,99}}</string>
                <key>sourceSize</key>
                <string>{334,99}</string>
            </dict>
            <key>effect_406_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{334,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,99}}</string>
                <key>sourceSize</key>
                <string>{334,99}</string>
            </dict>
            <key>effect_406_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{334,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,99}}</string>
                <key>sourceSize</key>
                <string>{334,99}</string>
            </dict>
            <key>effect_406_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{334,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,99}}</string>
                <key>sourceSize</key>
                <string>{334,99}</string>
            </dict>
            <key>effect_406_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{334,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,99}}</string>
                <key>sourceSize</key>
                <string>{334,99}</string>
            </dict>
            <key>effect_406_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,507},{326,99}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,99}}</string>
                <key>sourceSize</key>
                <string>{334,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_406.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45baa68ae4675b3eb7b4e6a82bcb646b$</string>
            <key>textureFileName</key>
            <string>effect_406.png</string>
        </dict>
    </dict>
</plist>
