<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_062_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{544,39}}</string>
                <key>offset</key>
                <string>{-209,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{544,39}}</string>
                <key>sourceSize</key>
                <string>{962,65}</string>
            </dict>
            <key>effect_062_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,2},{620,27}}</string>
                <key>offset</key>
                <string>{-70,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,18},{620,27}}</string>
                <key>sourceSize</key>
                <string>{962,65}</string>
            </dict>
            <key>effect_062_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{716,23}}</string>
                <key>offset</key>
                <string>{123,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,19},{716,23}}</string>
                <key>sourceSize</key>
                <string>{962,65}</string>
            </dict>
            <key>effect_062_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{610,21}}</string>
                <key>offset</key>
                <string>{176,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{352,20},{610,21}}</string>
                <key>sourceSize</key>
                <string>{962,65}</string>
            </dict>
            <key>effect_062_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{364,15}}</string>
                <key>offset</key>
                <string>{299,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{598,22},{364,15}}</string>
                <key>sourceSize</key>
                <string>{962,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_062.png</string>
            <key>size</key>
            <string>{128,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:162eb3742227a88438aad1f10bf4e8ef$</string>
            <key>textureFileName</key>
            <string>effect_062.png</string>
        </dict>
    </dict>
</plist>
