<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_432_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{197,110}}</string>
                <key>offset</key>
                <string>{-12,-202}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,430},{197,110}}</string>
                <key>sourceSize</key>
                <string>{269,566}</string>
            </dict>
            <key>effect_432_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,213},{217,284}}</string>
                <key>offset</key>
                <string>{-11,-130}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,271},{217,284}}</string>
                <key>sourceSize</key>
                <string>{269,566}</string>
            </dict>
            <key>effect_432_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,2},{219,382}}</string>
                <key>offset</key>
                <string>{-6,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,151},{219,382}}</string>
                <key>sourceSize</key>
                <string>{269,566}</string>
            </dict>
            <key>effect_432_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{223,428}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,89},{223,428}}</string>
                <key>sourceSize</key>
                <string>{269,566}</string>
            </dict>
            <key>effect_432_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{227,468}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,37},{227,468}}</string>
                <key>sourceSize</key>
                <string>{269,566}</string>
            </dict>
            <key>effect_432_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,472},{219,422}}</string>
                <key>offset</key>
                <string>{12,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,26},{219,422}}</string>
                <key>sourceSize</key>
                <string>{269,566}</string>
            </dict>
            <key>effect_432_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,2},{209,376}}</string>
                <key>offset</key>
                <string>{20,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,16},{209,376}}</string>
                <key>sourceSize</key>
                <string>{269,566}</string>
            </dict>
            <key>effect_432_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,902},{99,326}}</string>
                <key>offset</key>
                <string>{-20,115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,5},{99,326}}</string>
                <key>sourceSize</key>
                <string>{269,566}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_432.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a290d00c12d316d98ca461b01f8edc9c$</string>
            <key>textureFileName</key>
            <string>effect_432.png</string>
        </dict>
    </dict>
</plist>
