<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_482_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{166,128}}</string>
                <key>offset</key>
                <string>{17,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,52},{166,128}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>effect_482_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,450},{146,168}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,12},{146,168}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>effect_482_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{184,132}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,51},{184,132}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>effect_482_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{184,132}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,49},{184,132}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>effect_482_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{178,144}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,45},{178,144}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>effect_482_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,516},{164,146}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,40},{164,146}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>effect_482_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,598},{162,146}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,36},{162,146}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>effect_482_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,136},{178,152}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,30},{178,152}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>effect_482_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,188},{142,150}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,27},{142,150}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>effect_482_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{140,162}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,17},{140,162}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>effect_482_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,340},{150,174}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,7},{150,174}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>effect_482_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,290},{158,176}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,7},{158,176}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>effect_482_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{172,170}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{172,170}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>effect_482_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,170}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{184,170}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>effect_482_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,664},{126,124}}</string>
                <key>offset</key>
                <string>{13,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,7},{126,124}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_482.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcde6282a669ef26fb5e2c913af48430$</string>
            <key>textureFileName</key>
            <string>effect_482.png</string>
        </dict>
    </dict>
</plist>
