<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_374_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{120,124}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,7},{120,124}}</string>
                <key>sourceSize</key>
                <string>{140,148}</string>
            </dict>
            <key>effect_374_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{120,114}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{120,114}}</string>
                <key>sourceSize</key>
                <string>{140,148}</string>
            </dict>
            <key>effect_374_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,122},{122,138}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,10},{122,138}}</string>
                <key>sourceSize</key>
                <string>{140,148}</string>
            </dict>
            <key>effect_374_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,122},{122,138}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,10},{122,138}}</string>
                <key>sourceSize</key>
                <string>{140,148}</string>
            </dict>
            <key>effect_374_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{140,120}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{140,120}}</string>
                <key>sourceSize</key>
                <string>{140,148}</string>
            </dict>
            <key>effect_374_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{118,138}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{118,138}}</string>
                <key>sourceSize</key>
                <string>{140,148}</string>
            </dict>
            <key>effect_374_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,124},{140,128}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,128}}</string>
                <key>sourceSize</key>
                <string>{140,148}</string>
            </dict>
            <key>effect_374_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,104}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{118,104}}</string>
                <key>sourceSize</key>
                <string>{140,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_374.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:897a80be904996d56745fbe22e66344b$</string>
            <key>textureFileName</key>
            <string>effect_374.png</string>
        </dict>
    </dict>
</plist>
