<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_345_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{186,196}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,19},{186,196}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>effect_345_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{202,190}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{202,190}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>effect_345_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,210},{204,196}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,18},{204,196}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>effect_345_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,408},{190,198}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,17},{190,198}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>effect_345_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{208,206}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{208,206}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>effect_345_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,218}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{216,218}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_345.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:edcd29da8f606f3453ee9d41bca0a5d7$</string>
            <key>textureFileName</key>
            <string>effect_345.png</string>
        </dict>
    </dict>
</plist>
