<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_054_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,708},{640,132}}</string>
                <key>offset</key>
                <string>{31,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,6},{640,132}}</string>
                <key>sourceSize</key>
                <string>{704,144}</string>
            </dict>
            <key>effect_054_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{704,132}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{704,132}}</string>
                <key>sourceSize</key>
                <string>{704,144}</string>
            </dict>
            <key>effect_054_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,2},{704,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{704,132}}</string>
                <key>sourceSize</key>
                <string>{704,144}</string>
            </dict>
            <key>effect_054_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{644,132}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,6},{644,132}}</string>
                <key>sourceSize</key>
                <string>{704,144}</string>
            </dict>
            <key>effect_054_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{702,132}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{702,132}}</string>
                <key>sourceSize</key>
                <string>{704,144}</string>
            </dict>
            <key>effect_054_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{704,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{704,132}}</string>
                <key>sourceSize</key>
                <string>{704,144}</string>
            </dict>
            <key>effect_054_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{580,132}}</string>
                <key>offset</key>
                <string>{57,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,6},{580,132}}</string>
                <key>sourceSize</key>
                <string>{704,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_054.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db7755433375257220a54a393ea50275$</string>
            <key>textureFileName</key>
            <string>effect_054.png</string>
        </dict>
    </dict>
</plist>
