<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_110_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,248},{150,156}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,40},{150,156}}</string>
                <key>sourceSize</key>
                <string>{320,230}</string>
            </dict>
            <key>effect_110_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,666},{228,192}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,20},{228,192}}</string>
                <key>sourceSize</key>
                <string>{320,230}</string>
            </dict>
            <key>effect_110_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{276,204}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,17},{276,204}}</string>
                <key>sourceSize</key>
                <string>{320,230}</string>
            </dict>
            <key>effect_110_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{316,220}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{316,220}}</string>
                <key>sourceSize</key>
                <string>{320,230}</string>
            </dict>
            <key>effect_110_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{320,218}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{320,218}}</string>
                <key>sourceSize</key>
                <string>{320,230}</string>
            </dict>
            <key>effect_110_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,220}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{320,220}}</string>
                <key>sourceSize</key>
                <string>{320,230}</string>
            </dict>
            <key>effect_110_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{244,164}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,36},{244,164}}</string>
                <key>sourceSize</key>
                <string>{320,230}</string>
            </dict>
            <key>effect_110_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,400},{144,142}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,43},{144,142}}</string>
                <key>sourceSize</key>
                <string>{320,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_110.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:462a815f62baf811a9932228f06749ff$</string>
            <key>textureFileName</key>
            <string>effect_110.png</string>
        </dict>
    </dict>
</plist>
