<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_360_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,71},{34,33}}</string>
                <key>offset</key>
                <string>{4,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,60},{34,33}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>effect_360_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,71},{30,45}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,48},{30,45}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>effect_360_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,224},{30,49}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,44},{30,49}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>effect_360_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,173},{32,49}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,44},{32,49}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>effect_360_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,120},{38,51}}</string>
                <key>offset</key>
                <string>{5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,42},{38,51}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>effect_360_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,120},{40,53}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,32},{40,53}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>effect_360_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,175},{58,67}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{58,67}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>effect_360_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{78,67}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{78,67}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>effect_360_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,59},{78,59}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{78,59}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>effect_360_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{76,59}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{76,59}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>effect_360_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,59}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{84,59}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>effect_360_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{80,55}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{80,55}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>effect_360_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{78,51}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{78,51}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>effect_360_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,177},{74,47}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,14},{74,47}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>effect_360_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{76,45}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,15},{76,45}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_360.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab82c0c3d96589f125002a2df3fcd30f$</string>
            <key>textureFileName</key>
            <string>effect_360.png</string>
        </dict>
    </dict>
</plist>
