<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_chongfeng_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{120,136}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,32},{120,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_chongfeng_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{120,136}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,32},{120,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_chongfeng_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,136}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,32},{120,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_chongfeng_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{118,136}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,32},{118,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_chongfeng_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{118,136}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,32},{118,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_chongfeng_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,122},{126,132}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,33},{126,132}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_chongfeng_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,242},{120,132}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,33},{120,132}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_chongfeng_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,122},{118,134}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,31},{118,134}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_chongfeng_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,122},{112,132}}</string>
                <key>offset</key>
                <string>{-15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,33},{112,132}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_chongfeng.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c707541f369e1e8eb1e44b2a5d98f61$</string>
            <key>textureFileName</key>
            <string>effect_chongfeng.png</string>
        </dict>
    </dict>
</plist>
