<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_061_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,32}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{174,32}}</string>
                <key>sourceSize</key>
                <string>{182,36}</string>
            </dict>
            <key>effect_061_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{164,28}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{164,28}}</string>
                <key>sourceSize</key>
                <string>{182,36}</string>
            </dict>
            <key>effect_061_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{142,32}}</string>
                <key>offset</key>
                <string>{-19,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{142,32}}</string>
                <key>sourceSize</key>
                <string>{182,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_061.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:949a47a3522233c8a69654e54468a3f7$</string>
            <key>textureFileName</key>
            <string>effect_061.png</string>
        </dict>
    </dict>
</plist>
