<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_251_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{216,190}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{216,190}}</string>
                <key>sourceSize</key>
                <string>{230,210}</string>
            </dict>
            <key>effect_251_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,204}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{224,204}}</string>
                <key>sourceSize</key>
                <string>{230,210}</string>
            </dict>
            <key>effect_251_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{210,190}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{210,190}}</string>
                <key>sourceSize</key>
                <string>{230,210}</string>
            </dict>
            <key>effect_251_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,194},{212,178}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{212,178}}</string>
                <key>sourceSize</key>
                <string>{230,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_251.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cae113ebe17eba331570ea54de8b1a60$</string>
            <key>textureFileName</key>
            <string>effect_251.png</string>
        </dict>
    </dict>
</plist>
