<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_098_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,209},{39,34}}</string>
                <key>offset</key>
                <string>{-49,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,82},{39,34}}</string>
                <key>sourceSize</key>
                <string>{143,120}</string>
            </dict>
            <key>effect_098_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{39,50}}</string>
                <key>offset</key>
                <string>{-39,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,62},{39,50}}</string>
                <key>sourceSize</key>
                <string>{143,120}</string>
            </dict>
            <key>effect_098_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,114},{53,66}}</string>
                <key>offset</key>
                <string>{-32,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,46},{53,66}}</string>
                <key>sourceSize</key>
                <string>{143,120}</string>
            </dict>
            <key>effect_098_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,114},{81,92}}</string>
                <key>offset</key>
                <string>{-18,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,19},{81,92}}</string>
                <key>sourceSize</key>
                <string>{143,120}</string>
            </dict>
            <key>effect_098_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{95,102}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{95,102}}</string>
                <key>sourceSize</key>
                <string>{143,120}</string>
            </dict>
            <key>effect_098_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2},{115,110}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{115,110}}</string>
                <key>sourceSize</key>
                <string>{143,120}</string>
            </dict>
            <key>effect_098_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{127,108}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{127,108}}</string>
                <key>sourceSize</key>
                <string>{143,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_098.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c51a349f453c8da1db8451d56ed55e6a$</string>
            <key>textureFileName</key>
            <string>effect_098.png</string>
        </dict>
    </dict>
</plist>
