<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_384_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,162},{120,72}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{120,72}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>effect_384_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{118,74}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{118,74}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>effect_384_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{126,78}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{126,78}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>effect_384_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,236},{118,80}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{118,80}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>effect_384_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{128,80}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{128,80}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>effect_384_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,80},{122,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{122,80}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>effect_384_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{104,76}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,5},{104,76}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>effect_384_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{118,74}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{118,74}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>effect_384_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,74}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{134,74}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_384.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b6866c37b85fc7985cd811cd0909bc2$</string>
            <key>textureFileName</key>
            <string>effect_384.png</string>
        </dict>
    </dict>
</plist>
