<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_241_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,87},{78,69}}</string>
                <key>offset</key>
                <string>{6,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,66},{78,69}}</string>
                <key>sourceSize</key>
                <string>{110,135}</string>
            </dict>
            <key>effect_241_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{102,83}}</string>
                <key>offset</key>
                <string>{-2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,47},{102,83}}</string>
                <key>sourceSize</key>
                <string>{110,135}</string>
            </dict>
            <key>effect_241_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{110,117}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{110,117}}</string>
                <key>sourceSize</key>
                <string>{110,135}</string>
            </dict>
            <key>effect_241_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,133}}</string>
                <key>sourceSize</key>
                <string>{110,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_241.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fa52c90cdcd7d6cba5cfa5b3fa78ceb$</string>
            <key>textureFileName</key>
            <string>effect_241.png</string>
        </dict>
    </dict>
</plist>
