<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_bluerose_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1226},{262,260}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,20},{262,260}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_bluerose_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,754},{264,268}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,15},{264,268}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_bluerose_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,494},{264,268}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,18},{264,268}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_bluerose_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,758},{264,266}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,23},{264,266}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_bluerose_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,760},{266,260}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,27},{266,260}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_bluerose_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1018},{264,256}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,32},{264,256}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_bluerose_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,756},{266,254}}</string>
                <key>offset</key>
                <string>{7,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,36},{266,254}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_bluerose_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,1012},{266,220}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,40},{266,220}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_bluerose_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{266,216}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,45},{266,216}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_bluerose_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,800},{266,212}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,50},{266,212}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_bluerose_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1014},{266,210}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,53},{266,210}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_bluerose_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,748},{268,206}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,58},{268,206}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_bluerose_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,1020},{254,264}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{254,264}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_bluerose_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,956},{254,266}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{254,266}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_bluerose_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,494},{268,262}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,4},{268,262}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_bluerose_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,494},{272,258}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{272,258}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_bluerose_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,490},{274,256}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{274,256}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_bluerose_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,240},{276,252}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{276,252}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_bluerose_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,244},{276,248}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{276,248}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_bluerose_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,258},{276,244}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,26},{276,244}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_bluerose_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{278,240}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,31},{278,240}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_bluerose_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{278,238}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,35},{278,238}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_bluerose_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,2},{278,236}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,38},{278,236}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_bluerose_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,2},{278,232}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,44},{278,232}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_bluerose_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{278,256}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,22},{278,256}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_bluerose_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{278,256}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,23},{278,256}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_bluerose_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,2},{276,254}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,26},{276,254}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_bluerose_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,236},{276,252}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,30},{276,252}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_bluerose_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,242},{276,250}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,33},{276,250}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_bluerose_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,504},{274,250}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,35},{274,250}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_bluerose_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{272,272}}</string>
                <key>offset</key>
                <string>{7,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{272,272}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_bluerose_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,260},{272,270}}</string>
                <key>offset</key>
                <string>{6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{272,270}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_bluerose_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,532},{270,266}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,8},{270,266}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_bluerose_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{268,264}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{268,264}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_bluerose_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1276},{250,262}}</string>
                <key>offset</key>
                <string>{16,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,16},{250,262}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_bluerose.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8546585fbd8c46d3a42d35485fcae99$</string>
            <key>textureFileName</key>
            <string>effect_bluerose.png</string>
        </dict>
    </dict>
</plist>
