<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_441_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,76},{72,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{72,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>effect_441_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,76},{72,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{72,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>effect_441_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,372},{72,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{72,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>effect_441_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,298},{72,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{72,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>effect_441_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,224},{72,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{72,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>effect_441_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,150},{72,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{72,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>effect_441_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,76},{72,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{72,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>effect_441_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{72,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{72,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>effect_441_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{72,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{72,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>effect_441_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{72,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{72,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>effect_441_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{72,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{72,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>effect_441_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{72,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{72,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>effect_441_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{72,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{72,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>effect_441_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,76},{70,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{70,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>effect_441_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{72,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{72,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>effect_441_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{72,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{72,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>effect_441_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{72,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{72,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>effect_441_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{72,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{72,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>effect_441_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{72,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>effect_441_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,76},{72,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{72,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_441.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7dae2269924d1197cc9b6df7b65accbb$</string>
            <key>textureFileName</key>
            <string>effect_441.png</string>
        </dict>
    </dict>
</plist>
