<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_366_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,98},{59,56}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{59,56}}</string>
                <key>sourceSize</key>
                <string>{85,68}</string>
            </dict>
            <key>effect_366_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,60},{61,50}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{61,50}}</string>
                <key>sourceSize</key>
                <string>{85,68}</string>
            </dict>
            <key>effect_366_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,50},{65,46}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{65,46}}</string>
                <key>sourceSize</key>
                <string>{85,68}</string>
            </dict>
            <key>effect_366_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{71,46}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{71,46}}</string>
                <key>sourceSize</key>
                <string>{85,68}</string>
            </dict>
            <key>effect_366_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{77,52}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{77,52}}</string>
                <key>sourceSize</key>
                <string>{85,68}</string>
            </dict>
            <key>effect_366_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{69,56}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{69,56}}</string>
                <key>sourceSize</key>
                <string>{85,68}</string>
            </dict>
            <key>effect_366_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{63,54}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{63,54}}</string>
                <key>sourceSize</key>
                <string>{85,68}</string>
            </dict>
            <key>effect_366_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{59,46}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,17},{59,46}}</string>
                <key>sourceSize</key>
                <string>{85,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_366.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f45beab293b2b331db4084c661d6c8b$</string>
            <key>textureFileName</key>
            <string>effect_366.png</string>
        </dict>
    </dict>
</plist>
