<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_vipxingxing_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,134},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,28},{24,24}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>effect_vipxingxing_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,104},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,26},{28,28}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>effect_vipxingxing_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,196},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{32,32}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>effect_vipxingxing_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,188},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{34,34}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>effect_vipxingxing_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,160},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{34,34}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>effect_vipxingxing_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{32,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,22},{32,34}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>effect_vipxingxing_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,150},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{36,36}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>effect_vipxingxing_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,18},{42,44}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>effect_vipxingxing_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{48,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>effect_vipxingxing_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{52,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>effect_vipxingxing_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{50,50}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>effect_vipxingxing_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,54},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{48,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>effect_vipxingxing_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,104},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{44,44}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>effect_vipxingxing_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{40,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>effect_vipxingxing_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{1,1}}</string>
                <key>offset</key>
                <string>{-39.5,39.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_vipxingxing.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1de1b15adf7ed86c66745e620017f02$</string>
            <key>textureFileName</key>
            <string>effect_vipxingxing.png</string>
        </dict>
    </dict>
</plist>
