<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_daoguang_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{110,82}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{110,82}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>effect_daoguang_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,78}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,17},{114,78}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>effect_daoguang_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{112,82}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{112,82}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_daoguang.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc030447a7e92835b2f23c326b0f91ee$</string>
            <key>textureFileName</key>
            <string>effect_daoguang.png</string>
        </dict>
    </dict>
</plist>
