<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_401_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{102,52}}</string>
                <key>offset</key>
                <string>{-1,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{102,52}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>effect_401_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{102,104}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,29},{102,104}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>effect_401_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,202},{102,94}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,28},{102,94}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>effect_401_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,202},{102,94}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,28},{102,94}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>effect_401_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{102,94}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,28},{102,94}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>effect_401_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,106},{102,94}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,28},{102,94}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>effect_401_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,94}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,28},{110,94}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>effect_401_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{102,104}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,31},{102,104}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>effect_401_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{102,52}}</string>
                <key>offset</key>
                <string>{-1,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{102,52}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_401.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37086d7caace42870b94c5af0a894da5$</string>
            <key>textureFileName</key>
            <string>effect_401.png</string>
        </dict>
    </dict>
</plist>
