<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_019_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,212},{106,71}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,35},{106,71}}</string>
                <key>sourceSize</key>
                <string>{126,137}</string>
            </dict>
            <key>effect_019_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,285},{104,75}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,27},{104,75}}</string>
                <key>sourceSize</key>
                <string>{126,137}</string>
            </dict>
            <key>effect_019_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{104,101}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{104,101}}</string>
                <key>sourceSize</key>
                <string>{126,137}</string>
            </dict>
            <key>effect_019_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{106,101}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{106,101}}</string>
                <key>sourceSize</key>
                <string>{126,137}</string>
            </dict>
            <key>effect_019_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,107},{106,103}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{106,103}}</string>
                <key>sourceSize</key>
                <string>{126,137}</string>
            </dict>
            <key>effect_019_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{106,103}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{106,103}}</string>
                <key>sourceSize</key>
                <string>{126,137}</string>
            </dict>
            <key>effect_019_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,111}}</string>
                <key>offset</key>
                <string>{-6,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{106,111}}</string>
                <key>sourceSize</key>
                <string>{126,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_019.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf1ba23afb6f6134efb94616da42723e$</string>
            <key>textureFileName</key>
            <string>effect_019.png</string>
        </dict>
    </dict>
</plist>
