<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_290_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{99,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{99,110}}</string>
                <key>sourceSize</key>
                <string>{105,110}</string>
            </dict>
            <key>effect_290_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,209},{105,104}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{105,104}}</string>
                <key>sourceSize</key>
                <string>{105,110}</string>
            </dict>
            <key>effect_290_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,315},{105,100}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{105,100}}</string>
                <key>sourceSize</key>
                <string>{105,110}</string>
            </dict>
            <key>effect_290_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{105,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{105,104}}</string>
                <key>sourceSize</key>
                <string>{105,110}</string>
            </dict>
            <key>effect_290_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{99,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{99,110}}</string>
                <key>sourceSize</key>
                <string>{105,110}</string>
            </dict>
            <key>effect_290_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,103},{105,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{105,104}}</string>
                <key>sourceSize</key>
                <string>{105,110}</string>
            </dict>
            <key>effect_290_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,315},{105,100}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{105,100}}</string>
                <key>sourceSize</key>
                <string>{105,110}</string>
            </dict>
            <key>effect_290_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{105,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{105,104}}</string>
                <key>sourceSize</key>
                <string>{105,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_290.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ccce1382ae14c78c715172824388c2b$</string>
            <key>textureFileName</key>
            <string>effect_290.png</string>
        </dict>
    </dict>
</plist>
