<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_515_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{124,184}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{124,184}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>effect_515_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,186}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{138,186}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>effect_515_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{126,180}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,13},{126,180}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>effect_515_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,190},{114,182}}</string>
                <key>offset</key>
                <string>{-16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{114,182}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>effect_515_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{86,172}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,10},{86,172}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>effect_515_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{86,168}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,14},{86,168}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>effect_515_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{86,166}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,16},{86,166}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>effect_515_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{1,1}}</string>
                <key>offset</key>
                <string>{-74.5,99.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_515.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ecd1cda548e3db530dbd0aaec5a564b$</string>
            <key>textureFileName</key>
            <string>effect_515.png</string>
        </dict>
    </dict>
</plist>
