<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_hulucanget_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,676},{124,190}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,13},{124,190}}</string>
                <key>sourceSize</key>
                <string>{180,220}</string>
            </dict>
            <key>effect_hulucanget_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,676},{124,192}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,12},{124,192}}</string>
                <key>sourceSize</key>
                <string>{180,220}</string>
            </dict>
            <key>effect_hulucanget_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,548},{126,194}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,11},{126,194}}</string>
                <key>sourceSize</key>
                <string>{180,220}</string>
            </dict>
            <key>effect_hulucanget_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{124,194}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,10},{124,194}}</string>
                <key>sourceSize</key>
                <string>{180,220}</string>
            </dict>
            <key>effect_hulucanget_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{126,192}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,10},{126,192}}</string>
                <key>sourceSize</key>
                <string>{180,220}</string>
            </dict>
            <key>effect_hulucanget_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{128,192}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,9},{128,192}}</string>
                <key>sourceSize</key>
                <string>{180,220}</string>
            </dict>
            <key>effect_hulucanget_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{130,194}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,7},{130,194}}</string>
                <key>sourceSize</key>
                <string>{180,220}</string>
            </dict>
            <key>effect_hulucanget_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,416},{130,196}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,6},{130,196}}</string>
                <key>sourceSize</key>
                <string>{180,220}</string>
            </dict>
            <key>effect_hulucanget_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,282},{132,196}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,7},{132,196}}</string>
                <key>sourceSize</key>
                <string>{180,220}</string>
            </dict>
            <key>effect_hulucanget_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{134,198}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,6},{134,198}}</string>
                <key>sourceSize</key>
                <string>{180,220}</string>
            </dict>
            <key>effect_hulucanget_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{136,200}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,5},{136,200}}</string>
                <key>sourceSize</key>
                <string>{180,220}</string>
            </dict>
            <key>effect_hulucanget_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,142},{138,202}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,4},{138,202}}</string>
                <key>sourceSize</key>
                <string>{180,220}</string>
            </dict>
            <key>effect_hulucanget_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{138,204}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,2},{138,204}}</string>
                <key>sourceSize</key>
                <string>{180,220}</string>
            </dict>
            <key>effect_hulucanget_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,206}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,1},{140,206}}</string>
                <key>sourceSize</key>
                <string>{180,220}</string>
            </dict>
            <key>effect_hulucanget_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,870},{124,190}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,13},{124,190}}</string>
                <key>sourceSize</key>
                <string>{180,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_hulucanget.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0ea63871fcf5c4b5c3291130e9eea3f$</string>
            <key>textureFileName</key>
            <string>effect_hulucanget.png</string>
        </dict>
    </dict>
</plist>
