<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_282_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{89,96}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{89,96}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>effect_282_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,85},{87,98}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{87,98}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>effect_282_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{81,100}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,10},{81,100}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>effect_282_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{85,102}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,5},{85,102}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>effect_282_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,174},{87,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,9},{87,94}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>effect_282_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{85,94}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,6},{85,94}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>effect_282_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,263},{87,92}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{87,92}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>effect_282_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{75,90}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{75,90}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>effect_282_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,267},{85,92}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,18},{85,92}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_282.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48a6ef5bd4950e3fd547d112c2b9dacf$</string>
            <key>textureFileName</key>
            <string>effect_282.png</string>
        </dict>
    </dict>
</plist>
