<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_135_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{126,134}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{126,134}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>effect_135_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{144,152}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{144,152}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>effect_135_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,170}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{160,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>effect_135_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,310},{124,132}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,17},{124,132}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_135.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:005e9449e6890047ecfef2a53f598a88$</string>
            <key>textureFileName</key>
            <string>effect_135.png</string>
        </dict>
    </dict>
</plist>
