<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_homebox_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,224},{76,72}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,45},{76,72}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_homebox_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,224},{76,72}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,45},{76,72}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_homebox_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,224},{76,72}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,45},{76,72}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_homebox_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,380},{76,72}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,45},{76,72}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_homebox_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,302},{76,72}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,45},{76,72}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_homebox_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,224},{76,72}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,45},{76,72}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_homebox_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,150},{76,72}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,45},{76,72}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_homebox_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,150},{76,72}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,45},{76,72}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_homebox_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,150},{76,72}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,45},{76,72}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_homebox_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,150},{76,72}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,45},{76,72}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_homebox_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,384},{76,72}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,45},{76,72}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_homebox_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,306},{76,72}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,45},{76,72}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_homebox_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,228},{76,72}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,45},{76,72}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_homebox_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,150},{76,72}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,45},{76,72}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_homebox_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,76},{76,72}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,45},{76,72}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_homebox_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,76},{76,72}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,45},{76,72}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_homebox_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,76},{76,72}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,45},{76,72}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_homebox_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,76},{76,72}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,45},{76,72}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_homebox_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,76},{76,72}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,45},{76,72}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_homebox_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{76,72}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,45},{76,72}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_homebox_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{76,72}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,45},{76,72}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_homebox_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{76,72}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,45},{76,72}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_homebox_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{76,72}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,45},{76,72}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_homebox_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{76,72}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,45},{76,72}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_homebox_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{76,72}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,45},{76,72}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_homebox_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{76,72}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,45},{76,72}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_homebox_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{76,72}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,45},{76,72}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_homebox_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{76,72}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,45},{76,72}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_homebox_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,72}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,45},{76,72}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_homebox_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,72}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,45},{76,72}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_homebox.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95aa5e1415b01b15e7612ae193a4dd7e$</string>
            <key>textureFileName</key>
            <string>effect_homebox.png</string>
        </dict>
    </dict>
</plist>
