<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_514_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{128,184}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{128,184}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>effect_514_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,560},{128,184}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{128,184}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>effect_514_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,526},{128,184}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,9},{128,184}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>effect_514_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{128,184}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,9},{128,184}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>effect_514_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,396},{128,184}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,9},{128,184}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>effect_514_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,134},{130,184}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{130,184}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>effect_514_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{130,184}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{130,184}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>effect_514_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{130,184}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{130,184}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>effect_514_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{130,184}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{130,184}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>effect_514_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,184}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{130,184}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>effect_514_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{128,184}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,9},{128,184}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>effect_514_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,374},{128,184}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{128,184}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>effect_514_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,266},{128,184}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,9},{128,184}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>effect_514_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{128,184}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{128,184}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>effect_514_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,188},{128,184}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{128,184}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_514.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7467e95ece1b89ffe10ceb3343705db0$</string>
            <key>textureFileName</key>
            <string>effect_514.png</string>
        </dict>
    </dict>
</plist>
