<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_507_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,250},{134,44}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,11},{134,44}}</string>
                <key>sourceSize</key>
                <string>{250,80}</string>
            </dict>
            <key>effect_507_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{144,40}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,15},{144,40}}</string>
                <key>sourceSize</key>
                <string>{250,80}</string>
            </dict>
            <key>effect_507_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{152,44}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,13},{152,44}}</string>
                <key>sourceSize</key>
                <string>{250,80}</string>
            </dict>
            <key>effect_507_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{164,42}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,13},{164,42}}</string>
                <key>sourceSize</key>
                <string>{250,80}</string>
            </dict>
            <key>effect_507_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{176,44}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,12},{176,44}}</string>
                <key>sourceSize</key>
                <string>{250,80}</string>
            </dict>
            <key>effect_507_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,110},{190,48}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,10},{190,48}}</string>
                <key>sourceSize</key>
                <string>{250,80}</string>
            </dict>
            <key>effect_507_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{202,48}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{202,48}}</string>
                <key>sourceSize</key>
                <string>{250,80}</string>
            </dict>
            <key>effect_507_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{214,52}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{214,52}}</string>
                <key>sourceSize</key>
                <string>{250,80}</string>
            </dict>
            <key>effect_507_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,52}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{226,52}}</string>
                <key>sourceSize</key>
                <string>{250,80}</string>
            </dict>
            <key>effect_507_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,302},{128,40}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,13},{128,40}}</string>
                <key>sourceSize</key>
                <string>{250,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_507.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:406e464881c176545eb155b351931b8b$</string>
            <key>textureFileName</key>
            <string>effect_507.png</string>
        </dict>
    </dict>
</plist>
