<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_178_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,84},{27,26}}</string>
                <key>offset</key>
                <string>{-12,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,112},{27,26}}</string>
                <key>sourceSize</key>
                <string>{77,140}</string>
            </dict>
            <key>effect_178_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,114},{27,24}}</string>
                <key>offset</key>
                <string>{-11,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,84},{27,24}}</string>
                <key>sourceSize</key>
                <string>{77,140}</string>
            </dict>
            <key>effect_178_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,112},{27,24}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,61},{27,24}}</string>
                <key>sourceSize</key>
                <string>{77,140}</string>
            </dict>
            <key>effect_178_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,85},{27,24}}</string>
                <key>offset</key>
                <string>{-10,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,45},{27,24}}</string>
                <key>sourceSize</key>
                <string>{77,140}</string>
            </dict>
            <key>effect_178_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,56},{27,26}}</string>
                <key>offset</key>
                <string>{-10,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,34},{27,26}}</string>
                <key>sourceSize</key>
                <string>{77,140}</string>
            </dict>
            <key>effect_178_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,56},{27,24}}</string>
                <key>offset</key>
                <string>{-10,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,32},{27,24}}</string>
                <key>sourceSize</key>
                <string>{77,140}</string>
            </dict>
            <key>effect_178_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,55},{69,66}}</string>
                <key>offset</key>
                <string>{-1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{69,66}}</string>
                <key>sourceSize</key>
                <string>{77,140}</string>
            </dict>
            <key>effect_178_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{69,64}}</string>
                <key>offset</key>
                <string>{2,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{69,64}}</string>
                <key>sourceSize</key>
                <string>{77,140}</string>
            </dict>
            <key>effect_178_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{49,52}}</string>
                <key>offset</key>
                <string>{-9,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{49,52}}</string>
                <key>sourceSize</key>
                <string>{77,140}</string>
            </dict>
            <key>effect_178_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,72}}</string>
                <key>offset</key>
                <string>{-10,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,12},{51,72}}</string>
                <key>sourceSize</key>
                <string>{77,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_178.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db5caae39675df01242d0e23f0bf4af0$</string>
            <key>textureFileName</key>
            <string>effect_178.png</string>
        </dict>
    </dict>
</plist>
