<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_197_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,86},{65,66}}</string>
                <key>offset</key>
                <string>{23,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,14},{65,66}}</string>
                <key>sourceSize</key>
                <string>{115,82}</string>
            </dict>
            <key>effect_197_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{75,82}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{75,82}}</string>
                <key>sourceSize</key>
                <string>{115,82}</string>
            </dict>
            <key>effect_197_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{81,70}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{81,70}}</string>
                <key>sourceSize</key>
                <string>{115,82}</string>
            </dict>
            <key>effect_197_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{77,66}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,10},{77,66}}</string>
                <key>sourceSize</key>
                <string>{115,82}</string>
            </dict>
            <key>effect_197_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,169},{73,48}}</string>
                <key>offset</key>
                <string>{-13,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,28},{73,48}}</string>
                <key>sourceSize</key>
                <string>{115,82}</string>
            </dict>
            <key>effect_197_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{23,18}}</string>
                <key>offset</key>
                <string>{-43,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,54},{23,18}}</string>
                <key>sourceSize</key>
                <string>{115,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_197.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f903145b66d74b1f344b83b98a48c52e$</string>
            <key>textureFileName</key>
            <string>effect_197.png</string>
        </dict>
    </dict>
</plist>
