<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_375_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,550},{244,300}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,300}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>effect_375_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,248},{244,300}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,300}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>effect_375_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{244,300}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,300}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>effect_375_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{244,300}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,300}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>effect_375_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{244,300}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,300}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>effect_375_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{244,300}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,300}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>effect_375_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,300}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,300}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_375.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:376fd7189c8a492a6fb3fb8a8df3440d$</string>
            <key>textureFileName</key>
            <string>effect_375.png</string>
        </dict>
    </dict>
</plist>
