<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_198_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,186},{94,88}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{94,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_198_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{94,86}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{94,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_198_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{94,86}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{94,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_198_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,96},{94,88}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{94,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_198_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{94,90}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_198_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{94,92}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_198_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,92}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_198.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afc42f38c4fad44ac02f0f12ae62b6d4$</string>
            <key>textureFileName</key>
            <string>effect_198.png</string>
        </dict>
    </dict>
</plist>
