<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_326_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{56,50}}</string>
                <key>offset</key>
                <string>{-53,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,32},{56,50}}</string>
                <key>sourceSize</key>
                <string>{230,120}</string>
            </dict>
            <key>effect_326_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,390},{78,64}}</string>
                <key>offset</key>
                <string>{-40,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,27},{78,64}}</string>
                <key>sourceSize</key>
                <string>{230,120}</string>
            </dict>
            <key>effect_326_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{92,84}}</string>
                <key>offset</key>
                <string>{-42,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,19},{92,84}}</string>
                <key>sourceSize</key>
                <string>{230,120}</string>
            </dict>
            <key>effect_326_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,228},{116,106}}</string>
                <key>offset</key>
                <string>{-40,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,7},{116,106}}</string>
                <key>sourceSize</key>
                <string>{230,120}</string>
            </dict>
            <key>effect_326_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{126,104}}</string>
                <key>offset</key>
                <string>{-36,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{126,104}}</string>
                <key>sourceSize</key>
                <string>{230,120}</string>
            </dict>
            <key>effect_326_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,96},{130,96}}</string>
                <key>offset</key>
                <string>{-28,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,11},{130,96}}</string>
                <key>sourceSize</key>
                <string>{230,120}</string>
            </dict>
            <key>effect_326_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{136,78}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,21},{136,78}}</string>
                <key>sourceSize</key>
                <string>{230,120}</string>
            </dict>
            <key>effect_326_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{138,64}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,28},{138,64}}</string>
                <key>sourceSize</key>
                <string>{230,120}</string>
            </dict>
            <key>effect_326_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{150,54}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,37},{150,54}}</string>
                <key>sourceSize</key>
                <string>{230,120}</string>
            </dict>
            <key>effect_326_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,50}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{162,50}}</string>
                <key>sourceSize</key>
                <string>{230,120}</string>
            </dict>
            <key>effect_326_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{128,42}}</string>
                <key>offset</key>
                <string>{30,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,44},{128,42}}</string>
                <key>sourceSize</key>
                <string>{230,120}</string>
            </dict>
            <key>effect_326_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{130,42}}</string>
                <key>offset</key>
                <string>{38,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,44},{130,42}}</string>
                <key>sourceSize</key>
                <string>{230,120}</string>
            </dict>
            <key>effect_326_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,450},{126,40}}</string>
                <key>offset</key>
                <string>{44,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,46},{126,40}}</string>
                <key>sourceSize</key>
                <string>{230,120}</string>
            </dict>
            <key>effect_326_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,346},{116,42}}</string>
                <key>offset</key>
                <string>{47,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,44},{116,42}}</string>
                <key>sourceSize</key>
                <string>{230,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_326.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:beb78e330a498a85d723408d879ce14e$</string>
            <key>textureFileName</key>
            <string>effect_326.png</string>
        </dict>
    </dict>
</plist>
