<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_400_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{114,85}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,4},{114,85}}</string>
                <key>sourceSize</key>
                <string>{140,95}</string>
            </dict>
            <key>effect_400_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,89},{114,85}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,4},{114,85}}</string>
                <key>sourceSize</key>
                <string>{140,95}</string>
            </dict>
            <key>effect_400_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{114,85}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,4},{114,85}}</string>
                <key>sourceSize</key>
                <string>{140,95}</string>
            </dict>
            <key>effect_400_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{112,85}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{112,85}}</string>
                <key>sourceSize</key>
                <string>{140,95}</string>
            </dict>
            <key>effect_400_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,176},{112,85}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{112,85}}</string>
                <key>sourceSize</key>
                <string>{140,95}</string>
            </dict>
            <key>effect_400_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,89},{112,89}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,3},{112,89}}</string>
                <key>sourceSize</key>
                <string>{140,95}</string>
            </dict>
            <key>effect_400_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,180},{96,85}}</string>
                <key>offset</key>
                <string>{17,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,4},{96,85}}</string>
                <key>sourceSize</key>
                <string>{140,95}</string>
            </dict>
            <key>effect_400_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,176},{102,89}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,3},{102,89}}</string>
                <key>sourceSize</key>
                <string>{140,95}</string>
            </dict>
            <key>effect_400_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,89},{104,85}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,4},{104,85}}</string>
                <key>sourceSize</key>
                <string>{140,95}</string>
            </dict>
            <key>effect_400_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{126,85}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{126,85}}</string>
                <key>sourceSize</key>
                <string>{140,95}</string>
            </dict>
            <key>effect_400_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,91}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{130,91}}</string>
                <key>sourceSize</key>
                <string>{140,95}</string>
            </dict>
            <key>effect_400_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{126,85}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{126,85}}</string>
                <key>sourceSize</key>
                <string>{140,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_400.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:290fb1a90d72ec51e79032fbeed271a9$</string>
            <key>textureFileName</key>
            <string>effect_400.png</string>
        </dict>
    </dict>
</plist>
