<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_409_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{126,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{126,66}}</string>
                <key>sourceSize</key>
                <string>{146,74}</string>
            </dict>
            <key>effect_409_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{128,66}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{128,66}}</string>
                <key>sourceSize</key>
                <string>{146,74}</string>
            </dict>
            <key>effect_409_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,136},{130,66}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{130,66}}</string>
                <key>sourceSize</key>
                <string>{146,74}</string>
            </dict>
            <key>effect_409_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{132,66}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{132,66}}</string>
                <key>sourceSize</key>
                <string>{146,74}</string>
            </dict>
            <key>effect_409_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{130,66}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{130,66}}</string>
                <key>sourceSize</key>
                <string>{146,74}</string>
            </dict>
            <key>effect_409_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,66}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{134,66}}</string>
                <key>sourceSize</key>
                <string>{146,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_409.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63e078fc3396e32964c96a2457b6f166$</string>
            <key>textureFileName</key>
            <string>effect_409.png</string>
        </dict>
    </dict>
</plist>
