<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_102_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{336,260}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{336,260}}</string>
                <key>sourceSize</key>
                <string>{340,272}</string>
            </dict>
            <key>effect_102_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,264},{334,270}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{334,270}}</string>
                <key>sourceSize</key>
                <string>{340,272}</string>
            </dict>
            <key>effect_102_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{336,270}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{336,270}}</string>
                <key>sourceSize</key>
                <string>{340,272}</string>
            </dict>
            <key>effect_102_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{336,266}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{336,266}}</string>
                <key>sourceSize</key>
                <string>{340,272}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_102.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ccac08f143ae1a46bd0d39dbf141d20$</string>
            <key>textureFileName</key>
            <string>effect_102.png</string>
        </dict>
    </dict>
</plist>
