<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_108_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{132,128}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,51},{132,128}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>effect_108_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,350},{160,158}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,32},{160,158}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>effect_108_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{176,180}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{176,180}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>effect_108_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,188}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{190,188}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>effect_108_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{190,170}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{190,170}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>effect_108_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,184},{190,164}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{190,164}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>effect_108_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{190,138}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,37},{190,138}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>effect_108_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,350},{144,142}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,36},{144,142}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_108.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9092786e83686d01e2f106548e7ccf4d$</string>
            <key>textureFileName</key>
            <string>effect_108.png</string>
        </dict>
    </dict>
</plist>
