<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_262_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{164,136}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,25},{164,136}}</string>
                <key>sourceSize</key>
                <string>{220,190}</string>
            </dict>
            <key>effect_262_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,192},{194,180}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{194,180}}</string>
                <key>sourceSize</key>
                <string>{220,190}</string>
            </dict>
            <key>effect_262_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{206,188}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{206,188}}</string>
                <key>sourceSize</key>
                <string>{220,190}</string>
            </dict>
            <key>effect_262_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,190}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{216,190}}</string>
                <key>sourceSize</key>
                <string>{220,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_262.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e34077dee7cc0ef33d72ad4c8150f9c$</string>
            <key>textureFileName</key>
            <string>effect_262.png</string>
        </dict>
    </dict>
</plist>
