<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_373_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{88,64}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,22},{88,64}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>effect_373_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{98,72}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{98,72}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>effect_373_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,94},{104,78}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{104,78}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>effect_373_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,174},{92,86}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{92,86}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>effect_373_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{108,90}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{108,90}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>effect_373_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,98}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{114,98}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>effect_373_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{80,66}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,21},{80,66}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_373.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15894c508ee39ecba6b2a837cbac93ff$</string>
            <key>textureFileName</key>
            <string>effect_373.png</string>
        </dict>
    </dict>
</plist>
