<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_yi_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,240},{112,118}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,57},{112,118}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>effect_yi_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,352},{118,118}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,57},{118,118}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>effect_yi_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{120,118}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,57},{120,118}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>effect_yi_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,238},{120,116}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,60},{120,116}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>effect_yi_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,116}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,60},{124,116}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>effect_yi_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{122,116}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,61},{122,116}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>effect_yi_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{122,118}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,60},{122,118}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>effect_yi_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{122,118}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,60},{122,118}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>effect_yi_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,122},{120,116}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,62},{120,116}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>effect_yi_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,354},{116,116}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,62},{116,116}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>effect_yi_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,122},{120,116}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,62},{120,116}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>effect_yi_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{114,116}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,62},{114,116}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>effect_yi_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{118,116}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,61},{118,116}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>effect_yi_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,472},{114,112}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,61},{114,112}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>effect_yi_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,356},{114,114}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,59},{114,114}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>effect_yi_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,472},{112,112}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,61},{112,112}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>effect_yi_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,240},{110,120}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,56},{110,120}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>effect_yi_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{110,110}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,62},{110,110}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>effect_yi_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{112,114}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,57},{112,114}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>effect_yi_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,586},{112,110}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,62},{112,110}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>effect_yi_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,472},{112,112}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,62},{112,112}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>effect_yi_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,120},{120,116}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,58},{120,116}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_yi.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63a4a766e1909b61efd3bc2c33ac1405$</string>
            <key>textureFileName</key>
            <string>effect_yi.png</string>
        </dict>
    </dict>
</plist>
