<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_315_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,730},{256,172}}</string>
                <key>offset</key>
                <string>{37,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,65},{256,172}}</string>
                <key>sourceSize</key>
                <string>{450,250}</string>
            </dict>
            <key>effect_315_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{382,244}}</string>
                <key>offset</key>
                <string>{34,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,3},{382,244}}</string>
                <key>sourceSize</key>
                <string>{450,250}</string>
            </dict>
            <key>effect_315_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{386,208}}</string>
                <key>offset</key>
                <string>{13,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,37},{386,208}}</string>
                <key>sourceSize</key>
                <string>{450,250}</string>
            </dict>
            <key>effect_315_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{364,220}}</string>
                <key>offset</key>
                <string>{26,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,20},{364,220}}</string>
                <key>sourceSize</key>
                <string>{450,250}</string>
            </dict>
            <key>effect_315_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,248},{362,222}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,18},{362,222}}</string>
                <key>sourceSize</key>
                <string>{450,250}</string>
            </dict>
            <key>effect_315_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{318,218}}</string>
                <key>offset</key>
                <string>{-23,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,18},{318,218}}</string>
                <key>sourceSize</key>
                <string>{450,250}</string>
            </dict>
            <key>effect_315_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{302,224}}</string>
                <key>offset</key>
                <string>{-19,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,10},{302,224}}</string>
                <key>sourceSize</key>
                <string>{450,250}</string>
            </dict>
            <key>effect_315_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,472},{314,222}}</string>
                <key>offset</key>
                <string>{-31,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,12},{314,222}}</string>
                <key>sourceSize</key>
                <string>{450,250}</string>
            </dict>
            <key>effect_315_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,524},{306,204}}</string>
                <key>offset</key>
                <string>{-33,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,30},{306,204}}</string>
                <key>sourceSize</key>
                <string>{450,250}</string>
            </dict>
            <key>effect_315_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{306,212}}</string>
                <key>offset</key>
                <string>{-34,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,23},{306,212}}</string>
                <key>sourceSize</key>
                <string>{450,250}</string>
            </dict>
            <key>effect_315_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,306},{278,216}}</string>
                <key>offset</key>
                <string>{-49,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,20},{278,216}}</string>
                <key>sourceSize</key>
                <string>{450,250}</string>
            </dict>
            <key>effect_315_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,730},{258,204}}</string>
                <key>offset</key>
                <string>{-50,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,32},{258,204}}</string>
                <key>sourceSize</key>
                <string>{450,250}</string>
            </dict>
            <key>effect_315_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,696},{274,206}}</string>
                <key>offset</key>
                <string>{-66,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,30},{274,206}}</string>
                <key>sourceSize</key>
                <string>{450,250}</string>
            </dict>
            <key>effect_315_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,868},{260,186}}</string>
                <key>offset</key>
                <string>{-95,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,51},{260,186}}</string>
                <key>sourceSize</key>
                <string>{450,250}</string>
            </dict>
            <key>effect_315_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,904},{224,168}}</string>
                <key>offset</key>
                <string>{-112,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,55},{224,168}}</string>
                <key>sourceSize</key>
                <string>{450,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_315.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c9e66d4bb0edc3bae7825f5a20f39c0$</string>
            <key>textureFileName</key>
            <string>effect_315.png</string>
        </dict>
    </dict>
</plist>
