<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_462_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{1,1}}</string>
                <key>offset</key>
                <string>{-143,143}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{287,287}</string>
            </dict>
            <key>effect_462_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,597},{159,231}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,25},{159,231}}</string>
                <key>sourceSize</key>
                <string>{287,287}</string>
            </dict>
            <key>effect_462_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,583},{161,233}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,24},{161,233}}</string>
                <key>sourceSize</key>
                <string>{287,287}</string>
            </dict>
            <key>effect_462_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,434},{161,233}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,24},{161,233}}</string>
                <key>sourceSize</key>
                <string>{287,287}</string>
            </dict>
            <key>effect_462_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,269},{163,235}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,23},{163,235}}</string>
                <key>sourceSize</key>
                <string>{287,287}</string>
            </dict>
            <key>effect_462_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{169,233}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,24},{169,233}}</string>
                <key>sourceSize</key>
                <string>{287,287}</string>
            </dict>
            <key>effect_462_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{183,243}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,23},{183,243}}</string>
                <key>sourceSize</key>
                <string>{287,287}</string>
            </dict>
            <key>effect_462_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,2},{203,265}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,12},{203,265}}</string>
                <key>sourceSize</key>
                <string>{287,287}</string>
            </dict>
            <key>effect_462_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{223,285}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,2},{223,285}}</string>
                <key>sourceSize</key>
                <string>{287,287}</string>
            </dict>
            <key>effect_462_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{1,1}}</string>
                <key>offset</key>
                <string>{-143,143}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{287,287}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_462.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a73a826de6667154ccc3681fe06f7ba6$</string>
            <key>textureFileName</key>
            <string>effect_462.png</string>
        </dict>
    </dict>
</plist>
