<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_xt_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{165,149}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{165,149}}</string>
                <key>sourceSize</key>
                <string>{197,197}</string>
            </dict>
            <key>effect_xt_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,324},{163,161}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{163,161}}</string>
                <key>sourceSize</key>
                <string>{197,197}</string>
            </dict>
            <key>effect_xt_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,475},{149,163}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,17},{149,163}}</string>
                <key>sourceSize</key>
                <string>{197,197}</string>
            </dict>
            <key>effect_xt_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{163,165}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,17},{163,165}}</string>
                <key>sourceSize</key>
                <string>{197,197}</string>
            </dict>
            <key>effect_xt_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,318},{165,149}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,23},{165,149}}</string>
                <key>sourceSize</key>
                <string>{197,197}</string>
            </dict>
            <key>effect_xt_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,2},{167,157}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,24},{167,157}}</string>
                <key>sourceSize</key>
                <string>{197,197}</string>
            </dict>
            <key>effect_xt_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{159,165}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,19},{159,165}}</string>
                <key>sourceSize</key>
                <string>{197,197}</string>
            </dict>
            <key>effect_xt_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{159,167}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,14},{159,167}}</string>
                <key>sourceSize</key>
                <string>{197,197}</string>
            </dict>
            <key>effect_xt_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,161},{165,161}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{165,161}}</string>
                <key>sourceSize</key>
                <string>{197,197}</string>
            </dict>
            <key>effect_xt_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,167},{165,149}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,22},{165,149}}</string>
                <key>sourceSize</key>
                <string>{197,197}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_xt.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a329416fddf1ccc7e78e238755d83d8$</string>
            <key>textureFileName</key>
            <string>effect_xt.png</string>
        </dict>
    </dict>
</plist>
