<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_497_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,250}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{102,250}}</string>
                <key>sourceSize</key>
                <string>{120,260}</string>
            </dict>
            <key>effect_497_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,742},{84,250}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{84,250}}</string>
                <key>sourceSize</key>
                <string>{120,260}</string>
            </dict>
            <key>effect_497_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{84,250}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{84,250}}</string>
                <key>sourceSize</key>
                <string>{120,260}</string>
            </dict>
            <key>effect_497_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,194},{94,250}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{94,250}}</string>
                <key>sourceSize</key>
                <string>{120,260}</string>
            </dict>
            <key>effect_497_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{94,250}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{94,250}}</string>
                <key>sourceSize</key>
                <string>{120,260}</string>
            </dict>
            <key>effect_497_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,98},{94,250}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{94,250}}</string>
                <key>sourceSize</key>
                <string>{120,260}</string>
            </dict>
            <key>effect_497_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{94,250}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{94,250}}</string>
                <key>sourceSize</key>
                <string>{120,260}</string>
            </dict>
            <key>effect_497_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,290},{92,250}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{92,250}}</string>
                <key>sourceSize</key>
                <string>{120,260}</string>
            </dict>
            <key>effect_497_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{92,250}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{92,250}}</string>
                <key>sourceSize</key>
                <string>{120,260}</string>
            </dict>
            <key>effect_497_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,384},{90,250}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{90,250}}</string>
                <key>sourceSize</key>
                <string>{120,260}</string>
            </dict>
            <key>effect_497_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,656},{84,250}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{84,250}}</string>
                <key>sourceSize</key>
                <string>{120,260}</string>
            </dict>
            <key>effect_497_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{84,250}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{84,250}}</string>
                <key>sourceSize</key>
                <string>{120,260}</string>
            </dict>
            <key>effect_497_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{84,250}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{84,250}}</string>
                <key>sourceSize</key>
                <string>{120,260}</string>
            </dict>
            <key>effect_497_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,566},{88,250}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{88,250}}</string>
                <key>sourceSize</key>
                <string>{120,260}</string>
            </dict>
            <key>effect_497_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{88,250}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{88,250}}</string>
                <key>sourceSize</key>
                <string>{120,260}</string>
            </dict>
            <key>effect_497_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{90,250}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{90,250}}</string>
                <key>sourceSize</key>
                <string>{120,260}</string>
            </dict>
            <key>effect_497_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,476},{88,250}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{88,250}}</string>
                <key>sourceSize</key>
                <string>{120,260}</string>
            </dict>
            <key>effect_497_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{88,250}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{88,250}}</string>
                <key>sourceSize</key>
                <string>{120,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_497.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4547da05e29ed1af104bc1906f4b96d$</string>
            <key>textureFileName</key>
            <string>effect_497.png</string>
        </dict>
    </dict>
</plist>
