<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_059_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{366,74}}</string>
                <key>offset</key>
                <string>{-49,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,39},{366,74}}</string>
                <key>sourceSize</key>
                <string>{464,148}</string>
            </dict>
            <key>effect_059_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{384,104}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,18},{384,104}}</string>
                <key>sourceSize</key>
                <string>{464,148}</string>
            </dict>
            <key>effect_059_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{360,114}}</string>
                <key>offset</key>
                <string>{42,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,21},{360,114}}</string>
                <key>sourceSize</key>
                <string>{464,148}</string>
            </dict>
            <key>effect_059_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{328,118}}</string>
                <key>offset</key>
                <string>{68,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,18},{328,118}}</string>
                <key>sourceSize</key>
                <string>{464,148}</string>
            </dict>
            <key>effect_059_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{256,126}}</string>
                <key>offset</key>
                <string>{66,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,15},{256,126}}</string>
                <key>sourceSize</key>
                <string>{464,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_059.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b2da91abf622da217342b40723f6d8a$</string>
            <key>textureFileName</key>
            <string>effect_059.png</string>
        </dict>
    </dict>
</plist>
