<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_225_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,849},{173,181}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,67},{173,181}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>effect_225_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,297},{207,227}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,47},{207,227}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>effect_225_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,297},{227,267}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,21},{227,267}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>effect_225_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{273,285}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{273,285}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>effect_225_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,275},{289,285}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{289,285}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>effect_225_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{305,293}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{305,293}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>effect_225_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,2},{293,303}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{293,303}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
            <key>effect_225_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{295,271}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,37},{295,271}}</string>
                <key>sourceSize</key>
                <string>{315,315}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_225.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2bd713b4605f4e3d94ae3220303ae890$</string>
            <key>textureFileName</key>
            <string>effect_225.png</string>
        </dict>
    </dict>
</plist>
