<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_410_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,158},{110,74}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{110,74}}</string>
                <key>sourceSize</key>
                <string>{148,92}</string>
            </dict>
            <key>effect_410_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{110,74}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{110,74}}</string>
                <key>sourceSize</key>
                <string>{148,92}</string>
            </dict>
            <key>effect_410_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{112,76}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{112,76}}</string>
                <key>sourceSize</key>
                <string>{148,92}</string>
            </dict>
            <key>effect_410_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,80}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{120,80}}</string>
                <key>sourceSize</key>
                <string>{148,92}</string>
            </dict>
            <key>effect_410_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{110,76}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{110,76}}</string>
                <key>sourceSize</key>
                <string>{148,92}</string>
            </dict>
            <key>effect_410_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,80},{110,76}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{110,76}}</string>
                <key>sourceSize</key>
                <string>{148,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_410.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cfd160c9422e181b9ae00cdbe1f3ec31$</string>
            <key>textureFileName</key>
            <string>effect_410.png</string>
        </dict>
    </dict>
</plist>
