<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_457_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,588},{251,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,89},{251,253}}</string>
                <key>sourceSize</key>
                <string>{431,431}</string>
            </dict>
            <key>effect_457_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,588},{267,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,82},{267,267}}</string>
                <key>sourceSize</key>
                <string>{431,431}</string>
            </dict>
            <key>effect_457_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,303},{283,283}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,74},{283,283}}</string>
                <key>sourceSize</key>
                <string>{431,431}</string>
            </dict>
            <key>effect_457_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{297,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,66},{297,299}}</string>
                <key>sourceSize</key>
                <string>{431,431}</string>
            </dict>
            <key>effect_457_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{313,313}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,59},{313,313}}</string>
                <key>sourceSize</key>
                <string>{431,431}</string>
            </dict>
            <key>effect_457_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,2},{299,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,65},{299,301}}</string>
                <key>sourceSize</key>
                <string>{431,431}</string>
            </dict>
            <key>effect_457_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,301},{285,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,72},{285,287}}</string>
                <key>sourceSize</key>
                <string>{431,431}</string>
            </dict>
            <key>effect_457_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{271,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,79},{271,273}}</string>
                <key>sourceSize</key>
                <string>{431,431}</string>
            </dict>
            <key>effect_457_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{255,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,87},{255,257}}</string>
                <key>sourceSize</key>
                <string>{431,431}</string>
            </dict>
            <key>effect_457_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,841},{243,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,93},{243,245}}</string>
                <key>sourceSize</key>
                <string>{431,431}</string>
            </dict>
            <key>effect_457_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1086},{241,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,94},{241,243}}</string>
                <key>sourceSize</key>
                <string>{431,431}</string>
            </dict>
            <key>effect_457_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,1321},{233,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,99},{233,233}}</string>
                <key>sourceSize</key>
                <string>{431,431}</string>
            </dict>
            <key>effect_457_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,841},{223,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,103},{223,225}}</string>
                <key>sourceSize</key>
                <string>{431,431}</string>
            </dict>
            <key>effect_457_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,1086},{233,233}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,99},{233,233}}</string>
                <key>sourceSize</key>
                <string>{431,431}</string>
            </dict>
            <key>effect_457_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,857},{241,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,94},{241,243}}</string>
                <key>sourceSize</key>
                <string>{431,431}</string>
            </dict>
            <key>effect_457_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,847},{251,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,89},{251,253}}</string>
                <key>sourceSize</key>
                <string>{431,431}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_457.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a502650a858e9d90c4c41d5f47e4c641$</string>
            <key>textureFileName</key>
            <string>effect_457.png</string>
        </dict>
    </dict>
</plist>
