<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_240_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{49,49}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>effect_240_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{55,55}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>effect_240_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,184},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{61,61}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>effect_240_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{67,67}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>effect_240_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,178},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{73,73}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>effect_240_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,97},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{79,79}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>effect_240_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{85,85}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>effect_240_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_240.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9491aa99b6e8f9278667cff78c293a25$</string>
            <key>textureFileName</key>
            <string>effect_240.png</string>
        </dict>
    </dict>
</plist>
