<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_064_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,2},{57,57}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{57,57}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>effect_064_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,61},{55,55}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{55,55}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>effect_064_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,118},{53,53}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{53,53}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>effect_064_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,173},{51,51}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{51,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>effect_064_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{51,51}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{51,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>effect_064_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{53,53}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{53,53}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>effect_064_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,61},{55,55}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{55,55}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>effect_064_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{57,57}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{57,57}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_064.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03f749e97fe3683766ea68c6a7e9d954$</string>
            <key>textureFileName</key>
            <string>effect_064.png</string>
        </dict>
    </dict>
</plist>
