<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_120_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,98},{46,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,53}}</string>
                <key>sourceSize</key>
                <string>{46,53}</string>
            </dict>
            <key>effect_120_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{46,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,53}}</string>
                <key>sourceSize</key>
                <string>{46,53}</string>
            </dict>
            <key>effect_120_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,50},{46,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,53}}</string>
                <key>sourceSize</key>
                <string>{46,53}</string>
            </dict>
            <key>effect_120_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{46,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,53}}</string>
                <key>sourceSize</key>
                <string>{46,53}</string>
            </dict>
            <key>effect_120_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,2},{46,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,53}}</string>
                <key>sourceSize</key>
                <string>{46,53}</string>
            </dict>
            <key>effect_120_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,53}}</string>
                <key>sourceSize</key>
                <string>{46,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_120.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc84514f546a60564aa0020197bea259$</string>
            <key>textureFileName</key>
            <string>effect_120.png</string>
        </dict>
    </dict>
</plist>
