<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_216_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{183,190}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{183,190}}</string>
                <key>sourceSize</key>
                <string>{195,190}</string>
            </dict>
            <key>effect_216_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,187},{181,188}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{181,188}}</string>
                <key>sourceSize</key>
                <string>{195,190}</string>
            </dict>
            <key>effect_216_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{155,180}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,8},{155,180}}</string>
                <key>sourceSize</key>
                <string>{195,190}</string>
            </dict>
            <key>effect_216_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{161,188}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{161,188}}</string>
                <key>sourceSize</key>
                <string>{195,190}</string>
            </dict>
            <key>effect_216_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,370},{171,184}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,2},{171,184}}</string>
                <key>sourceSize</key>
                <string>{195,190}</string>
            </dict>
            <key>effect_216_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,543},{175,176}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,11},{175,176}}</string>
                <key>sourceSize</key>
                <string>{195,190}</string>
            </dict>
            <key>effect_216_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{191,188}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{191,188}}</string>
                <key>sourceSize</key>
                <string>{195,190}</string>
            </dict>
            <key>effect_216_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{171,188}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{171,188}}</string>
                <key>sourceSize</key>
                <string>{195,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_216.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:302edc7966fe5799fb00e46eb667c311$</string>
            <key>textureFileName</key>
            <string>effect_216.png</string>
        </dict>
    </dict>
</plist>
