<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_002_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{60,74}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,61},{60,74}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>effect_002_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{110,146}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,18},{110,146}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>effect_002_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{120,160}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,12},{120,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>effect_002_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,160}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,11},{128,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_002.png</string>
            <key>size</key>
            <string>{240,366}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5dbc785fae5bac362dd890ec47ebf9f$</string>
            <key>textureFileName</key>
            <string>effect_002.png</string>
        </dict>
    </dict>
</plist>
