<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_389_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{100,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{100,150}}</string>
                <key>sourceSize</key>
                <string>{118,180}</string>
            </dict>
            <key>effect_389_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,346},{102,162}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,18},{102,162}}</string>
                <key>sourceSize</key>
                <string>{118,180}</string>
            </dict>
            <key>effect_389_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{114,160}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{114,160}}</string>
                <key>sourceSize</key>
                <string>{118,180}</string>
            </dict>
            <key>effect_389_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,176}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{112,176}}</string>
                <key>sourceSize</key>
                <string>{118,180}</string>
            </dict>
            <key>effect_389_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{110,174}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{110,174}}</string>
                <key>sourceSize</key>
                <string>{118,180}</string>
            </dict>
            <key>effect_389_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,180},{106,164}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{106,164}}</string>
                <key>sourceSize</key>
                <string>{118,180}</string>
            </dict>
            <key>effect_389_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,356},{96,140}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{96,140}}</string>
                <key>sourceSize</key>
                <string>{118,180}</string>
            </dict>
            <key>effect_389_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,164},{92,140}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,21},{92,140}}</string>
                <key>sourceSize</key>
                <string>{118,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_389.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4e7028b91ca7dca293bf1dcc3ad636b$</string>
            <key>textureFileName</key>
            <string>effect_389.png</string>
        </dict>
    </dict>
</plist>
