<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_239_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,136},{88,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,35},{88,74}}</string>
                <key>sourceSize</key>
                <string>{150,140}</string>
            </dict>
            <key>effect_239_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{130,118}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{130,118}}</string>
                <key>sourceSize</key>
                <string>{150,140}</string>
            </dict>
            <key>effect_239_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{144,132}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{144,132}}</string>
                <key>sourceSize</key>
                <string>{150,140}</string>
            </dict>
            <key>effect_239_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{150,132}}</string>
                <key>sourceSize</key>
                <string>{150,140}</string>
            </dict>
            <key>effect_239_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{146,126}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{146,126}}</string>
                <key>sourceSize</key>
                <string>{150,140}</string>
            </dict>
            <key>effect_239_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,130},{144,120}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{144,120}}</string>
                <key>sourceSize</key>
                <string>{150,140}</string>
            </dict>
            <key>effect_239_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{82,82}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,32},{82,82}}</string>
                <key>sourceSize</key>
                <string>{150,140}</string>
            </dict>
            <key>effect_239_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,252},{82,82}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,32},{82,82}}</string>
                <key>sourceSize</key>
                <string>{150,140}</string>
            </dict>
            <key>effect_239_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,220},{82,82}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,32},{82,82}}</string>
                <key>sourceSize</key>
                <string>{150,140}</string>
            </dict>
            <key>effect_239_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,212},{82,82}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,32},{82,82}}</string>
                <key>sourceSize</key>
                <string>{150,140}</string>
            </dict>
            <key>effect_239_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,136},{82,82}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,32},{82,82}}</string>
                <key>sourceSize</key>
                <string>{150,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_239.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18ef05df5cffda88bd62dfbc0a501621$</string>
            <key>textureFileName</key>
            <string>effect_239.png</string>
        </dict>
    </dict>
</plist>
