<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_318_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,235},{318,231}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,14},{318,231}}</string>
                <key>sourceSize</key>
                <string>{350,245}</string>
            </dict>
            <key>effect_318_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,235},{318,231}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,14},{318,231}}</string>
                <key>sourceSize</key>
                <string>{350,245}</string>
            </dict>
            <key>effect_318_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{318,231}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,14},{318,231}}</string>
                <key>sourceSize</key>
                <string>{350,245}</string>
            </dict>
            <key>effect_318_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{318,231}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,14},{318,231}}</string>
                <key>sourceSize</key>
                <string>{350,245}</string>
            </dict>
            <key>effect_318_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{318,231}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,14},{318,231}}</string>
                <key>sourceSize</key>
                <string>{350,245}</string>
            </dict>
            <key>effect_318_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,231}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,14},{318,231}}</string>
                <key>sourceSize</key>
                <string>{350,245}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_318.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8a54d83fd55bceb709208739ae42eb9$</string>
            <key>textureFileName</key>
            <string>effect_318.png</string>
        </dict>
    </dict>
</plist>
