<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_297_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{156,156}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>effect_297_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,160},{138,128}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,18},{138,128}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>effect_297_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,312},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{138,138}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>effect_297_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{144,144}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>effect_297_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{150,150}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_297.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f836216e438e6f1d461f01f21d650e0$</string>
            <key>textureFileName</key>
            <string>effect_297.png</string>
        </dict>
    </dict>
</plist>
