<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_056_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{275,142}}</string>
                <key>offset</key>
                <string>{20,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,13},{275,142}}</string>
                <key>sourceSize</key>
                <string>{335,172}</string>
            </dict>
            <key>effect_056_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{287,142}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,13},{287,142}}</string>
                <key>sourceSize</key>
                <string>{335,172}</string>
            </dict>
            <key>effect_056_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{329,152}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{329,152}}</string>
                <key>sourceSize</key>
                <string>{335,172}</string>
            </dict>
            <key>effect_056_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{287,152}}</string>
                <key>offset</key>
                <string>{18,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,7},{287,152}}</string>
                <key>sourceSize</key>
                <string>{335,172}</string>
            </dict>
            <key>effect_056_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,317},{305,162}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,1},{305,162}}</string>
                <key>sourceSize</key>
                <string>{335,172}</string>
            </dict>
            <key>effect_056_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,2},{313,162}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{313,162}}</string>
                <key>sourceSize</key>
                <string>{335,172}</string>
            </dict>
            <key>effect_056_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{307,120}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,26},{307,120}}</string>
                <key>sourceSize</key>
                <string>{335,172}</string>
            </dict>
            <key>effect_056_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{315,120}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,26},{315,120}}</string>
                <key>sourceSize</key>
                <string>{335,172}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_056.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c98f70ade5206296f9342af27b49a254$</string>
            <key>textureFileName</key>
            <string>effect_056.png</string>
        </dict>
    </dict>
</plist>
