<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_423_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{193,196}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,18},{193,196}}</string>
                <key>sourceSize</key>
                <string>{225,230}</string>
            </dict>
            <key>effect_423_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,205},{191,198}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,18},{191,198}}</string>
                <key>sourceSize</key>
                <string>{225,230}</string>
            </dict>
            <key>effect_423_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{191,188}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,19},{191,188}}</string>
                <key>sourceSize</key>
                <string>{225,230}</string>
            </dict>
            <key>effect_423_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,398},{193,194}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,17},{193,194}}</string>
                <key>sourceSize</key>
                <string>{225,230}</string>
            </dict>
            <key>effect_423_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{201,206}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{201,206}}</string>
                <key>sourceSize</key>
                <string>{225,230}</string>
            </dict>
            <key>effect_423_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{213,218}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{213,218}}</string>
                <key>sourceSize</key>
                <string>{225,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_423.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f15edab1e70585937a1e0687a80e5c75$</string>
            <key>textureFileName</key>
            <string>effect_423.png</string>
        </dict>
    </dict>
</plist>
