<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_186_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{66,64}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,35},{66,64}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>effect_186_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{112,110}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,13},{112,110}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>effect_186_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{140,130}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{140,130}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>effect_186_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>effect_186_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,144},{128,130}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{128,130}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>effect_186_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{134,136}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{134,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>effect_186_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{124,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,15},{124,110}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_186.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1bb432b013b5d94827d6e2f85f5d8b98$</string>
            <key>textureFileName</key>
            <string>effect_186.png</string>
        </dict>
    </dict>
</plist>
