<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_421_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{150,99}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{150,99}}</string>
                <key>sourceSize</key>
                <string>{160,105}</string>
            </dict>
            <key>effect_421_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,154},{146,99}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,2},{146,99}}</string>
                <key>sourceSize</key>
                <string>{160,105}</string>
            </dict>
            <key>effect_421_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{148,85}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{148,85}}</string>
                <key>sourceSize</key>
                <string>{160,105}</string>
            </dict>
            <key>effect_421_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{150,85}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{150,85}}</string>
                <key>sourceSize</key>
                <string>{160,105}</string>
            </dict>
            <key>effect_421_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,99}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{156,99}}</string>
                <key>sourceSize</key>
                <string>{160,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_421.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f0236262a71bf1dd8a461758ef3dad2$</string>
            <key>textureFileName</key>
            <string>effect_421.png</string>
        </dict>
    </dict>
</plist>
