<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_496_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,804},{256,68}}</string>
                <key>offset</key>
                <string>{12,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,0},{256,68}}</string>
                <key>sourceSize</key>
                <string>{380,280}</string>
            </dict>
            <key>effect_496_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{256,182}}</string>
                <key>offset</key>
                <string>{12,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,0},{256,182}}</string>
                <key>sourceSize</key>
                <string>{380,280}</string>
            </dict>
            <key>effect_496_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{290,276}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{290,276}}</string>
                <key>sourceSize</key>
                <string>{380,280}</string>
            </dict>
            <key>effect_496_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,280},{304,280}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,0},{304,280}}</string>
                <key>sourceSize</key>
                <string>{380,280}</string>
            </dict>
            <key>effect_496_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,586},{330,258}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{330,258}}</string>
                <key>sourceSize</key>
                <string>{380,280}</string>
            </dict>
            <key>effect_496_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{346,252}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{346,252}}</string>
                <key>sourceSize</key>
                <string>{380,280}</string>
            </dict>
            <key>effect_496_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,270},{352,254}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{352,254}}</string>
                <key>sourceSize</key>
                <string>{380,280}</string>
            </dict>
            <key>effect_496_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{360,266}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{360,266}}</string>
                <key>sourceSize</key>
                <string>{380,280}</string>
            </dict>
            <key>effect_496_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{364,270}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,270}}</string>
                <key>sourceSize</key>
                <string>{380,280}</string>
            </dict>
            <key>effect_496_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,526},{334,272}}</string>
                <key>offset</key>
                <string>{-22,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{334,272}}</string>
                <key>sourceSize</key>
                <string>{380,280}</string>
            </dict>
            <key>effect_496_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{328,274}}</string>
                <key>offset</key>
                <string>{-20,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{328,274}}</string>
                <key>sourceSize</key>
                <string>{380,280}</string>
            </dict>
            <key>effect_496_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,800},{326,250}}</string>
                <key>offset</key>
                <string>{-20,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{326,250}}</string>
                <key>sourceSize</key>
                <string>{380,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_496.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc85afa331aabc4a8ce3a4ff0ec458ac$</string>
            <key>textureFileName</key>
            <string>effect_496.png</string>
        </dict>
    </dict>
</plist>
