<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_029_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,109},{34,33}}</string>
                <key>offset</key>
                <string>{13,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,43},{34,33}}</string>
                <key>sourceSize</key>
                <string>{64,77}</string>
            </dict>
            <key>effect_029_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{44,41}}</string>
                <key>offset</key>
                <string>{10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,32},{44,41}}</string>
                <key>sourceSize</key>
                <string>{64,77}</string>
            </dict>
            <key>effect_029_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,49},{50,39}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,23},{50,39}}</string>
                <key>sourceSize</key>
                <string>{64,77}</string>
            </dict>
            <key>effect_029_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,45}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,45}}</string>
                <key>sourceSize</key>
                <string>{64,77}</string>
            </dict>
            <key>effect_029_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{60,41}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,41}}</string>
                <key>sourceSize</key>
                <string>{64,77}</string>
            </dict>
            <key>effect_029_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,45},{56,39}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{56,39}}</string>
                <key>sourceSize</key>
                <string>{64,77}</string>
            </dict>
            <key>effect_029_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,86},{50,21}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{50,21}}</string>
                <key>sourceSize</key>
                <string>{64,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_029.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f7d000e28ee2d52d618b90018de95d3$</string>
            <key>textureFileName</key>
            <string>effect_029.png</string>
        </dict>
    </dict>
</plist>
