<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_459_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{369,373}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,30},{369,373}}</string>
                <key>sourceSize</key>
                <string>{431,431}</string>
            </dict>
            <key>effect_459_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,2},{357,361}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,35},{357,361}}</string>
                <key>sourceSize</key>
                <string>{431,431}</string>
            </dict>
            <key>effect_459_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,361},{343,347}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,43},{343,347}}</string>
                <key>sourceSize</key>
                <string>{431,431}</string>
            </dict>
            <key>effect_459_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,373},{329,333}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,50},{329,333}}</string>
                <key>sourceSize</key>
                <string>{431,431}</string>
            </dict>
            <key>effect_459_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{315,321}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,55},{315,321}}</string>
                <key>sourceSize</key>
                <string>{431,431}</string>
            </dict>
            <key>effect_459_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,706},{303,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,62},{303,307}}</string>
                <key>sourceSize</key>
                <string>{431,431}</string>
            </dict>
            <key>effect_459_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,544},{289,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,69},{289,293}}</string>
                <key>sourceSize</key>
                <string>{431,431}</string>
            </dict>
            <key>effect_459_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{275,279}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,76},{275,279}}</string>
                <key>sourceSize</key>
                <string>{431,431}</string>
            </dict>
            <key>effect_459_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,279},{263,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,82},{263,267}}</string>
                <key>sourceSize</key>
                <string>{431,431}</string>
            </dict>
            <key>effect_459_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,835},{251,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,88},{251,255}}</string>
                <key>sourceSize</key>
                <string>{431,431}</string>
            </dict>
            <key>effect_459_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1011},{167,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,130},{167,171}}</string>
                <key>sourceSize</key>
                <string>{431,431}</string>
            </dict>
            <key>effect_459_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,706},{81,85}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,173},{81,85}}</string>
                <key>sourceSize</key>
                <string>{431,431}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_459.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e751b9f45fc757329ae0fa984a55b254$</string>
            <key>textureFileName</key>
            <string>effect_459.png</string>
        </dict>
    </dict>
</plist>
