<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_089_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{95,58}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{95,58}}</string>
                <key>sourceSize</key>
                <string>{105,70}</string>
            </dict>
            <key>effect_089_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,70},{85,64}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{85,64}}</string>
                <key>sourceSize</key>
                <string>{105,70}</string>
            </dict>
            <key>effect_089_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{97,62}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{97,62}}</string>
                <key>sourceSize</key>
                <string>{105,70}</string>
            </dict>
            <key>effect_089_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{91,60}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{91,60}}</string>
                <key>sourceSize</key>
                <string>{105,70}</string>
            </dict>
            <key>effect_089_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,126},{87,66}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{87,66}}</string>
                <key>sourceSize</key>
                <string>{105,70}</string>
            </dict>
            <key>effect_089_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,2},{95,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{95,66}}</string>
                <key>sourceSize</key>
                <string>{105,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_089.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6582060f0a1db4609c8f4b8a1e9338d3$</string>
            <key>textureFileName</key>
            <string>effect_089.png</string>
        </dict>
    </dict>
</plist>
