<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_192_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,111},{86,67}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,27},{86,67}}</string>
                <key>sourceSize</key>
                <string>{200,125}</string>
            </dict>
            <key>effect_192_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{200,59}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{200,59}}</string>
                <key>sourceSize</key>
                <string>{200,125}</string>
            </dict>
            <key>effect_192_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{200,63}}</string>
                <key>sourceSize</key>
                <string>{200,125}</string>
            </dict>
            <key>effect_192_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{164,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{164,93}}</string>
                <key>sourceSize</key>
                <string>{200,125}</string>
            </dict>
            <key>effect_192_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,111},{92,99}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,12},{92,99}}</string>
                <key>sourceSize</key>
                <string>{200,125}</string>
            </dict>
            <key>effect_192_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,97},{94,103}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,10},{94,103}}</string>
                <key>sourceSize</key>
                <string>{200,125}</string>
            </dict>
            <key>effect_192_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{98,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,9},{98,107}}</string>
                <key>sourceSize</key>
                <string>{200,125}</string>
            </dict>
            <key>effect_192_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,128},{102,113}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,6},{102,113}}</string>
                <key>sourceSize</key>
                <string>{200,125}</string>
            </dict>
            <key>effect_192_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{104,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,4},{104,117}}</string>
                <key>sourceSize</key>
                <string>{200,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_192.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:331be9e273b565ae7a5fe33b460a515c$</string>
            <key>textureFileName</key>
            <string>effect_192.png</string>
        </dict>
    </dict>
</plist>
