<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_087_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{85,53}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{85,53}}</string>
                <key>sourceSize</key>
                <string>{95,65}</string>
            </dict>
            <key>effect_087_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,57},{75,59}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{75,59}}</string>
                <key>sourceSize</key>
                <string>{95,65}</string>
            </dict>
            <key>effect_087_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{85,55}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{85,55}}</string>
                <key>sourceSize</key>
                <string>{95,65}</string>
            </dict>
            <key>effect_087_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{81,53}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{81,53}}</string>
                <key>sourceSize</key>
                <string>{95,65}</string>
            </dict>
            <key>effect_087_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{75,59}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{75,59}}</string>
                <key>sourceSize</key>
                <string>{95,65}</string>
            </dict>
            <key>effect_087_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,63},{85,59}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{85,59}}</string>
                <key>sourceSize</key>
                <string>{95,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_087.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a301c496d38456731912e3a25dba8d82$</string>
            <key>textureFileName</key>
            <string>effect_087.png</string>
        </dict>
    </dict>
</plist>
