<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_116_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{27,29}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,18},{27,29}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>effect_116_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{51,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{51,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>effect_116_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{53,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{53,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>effect_116_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{57,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{57,53}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>effect_116_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{51,51}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{51,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_116.png</string>
            <key>size</key>
            <string>{64,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a589c782466907d9a440b98670e96eeb$</string>
            <key>textureFileName</key>
            <string>effect_116.png</string>
        </dict>
    </dict>
</plist>
