<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_331_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{150,162}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{150,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>effect_331_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,168},{148,158}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{148,158}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>effect_331_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,328},{150,156}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{150,156}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>effect_331_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{150,164}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{150,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>effect_331_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,164}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{154,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>effect_331_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{150,156}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{150,156}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_331.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:866c8fb01aec3cb4369039c92b783959$</string>
            <key>textureFileName</key>
            <string>effect_331.png</string>
        </dict>
    </dict>
</plist>
