<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_311_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,324},{36,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,34},{36,32}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_311_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,31},{40,38}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_311_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,324},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,28},{44,44}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_311_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,312},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,26},{46,48}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_311_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,318},{46,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,24},{46,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_311_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,268},{48,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,23},{48,54}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_311_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,268},{54,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,21},{54,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_311_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,252},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,20},{58,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_311_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,136},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{62,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_311_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{66,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,20},{66,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_311_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,64},{70,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,19},{70,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_311_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,198},{72,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{72,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_311_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{74,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_311_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,176},{74,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{74,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_311_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{74,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{74,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_311_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{76,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{76,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_311_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,92},{82,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{82,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_311_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{88,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_311_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{94,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_311.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9bb736d72ea5f379c879d43664eaa50$</string>
            <key>textureFileName</key>
            <string>effect_311.png</string>
        </dict>
    </dict>
</plist>
