<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_045_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,110},{104,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,126}}</string>
                <key>sourceSize</key>
                <string>{110,126}</string>
            </dict>
            <key>effect_045_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{108,122}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{108,122}}</string>
                <key>sourceSize</key>
                <string>{110,126}</string>
            </dict>
            <key>effect_045_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,126}}</string>
                <key>sourceSize</key>
                <string>{110,126}</string>
            </dict>
            <key>effect_045_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{106,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,126}}</string>
                <key>sourceSize</key>
                <string>{110,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_045.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5482ec3c712ae70d65264948b71a0f67$</string>
            <key>textureFileName</key>
            <string>effect_045.png</string>
        </dict>
    </dict>
</plist>
