<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_333_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,360},{168,172}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,19},{168,172}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>effect_333_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{168,174}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,18},{168,174}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>effect_333_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{168,170}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,19},{168,170}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>effect_333_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,186},{172,176}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,17},{172,176}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>effect_333_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{182,186}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,12},{182,186}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>effect_333_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{192,198}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_333.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6dc522140eb430957d927eb7135ad9d0$</string>
            <key>textureFileName</key>
            <string>effect_333.png</string>
        </dict>
    </dict>
</plist>
