<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_140_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{107,75}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{107,75}}</string>
                <key>sourceSize</key>
                <string>{113,75}</string>
            </dict>
            <key>effect_140_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{111,75}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{111,75}}</string>
                <key>sourceSize</key>
                <string>{113,75}</string>
            </dict>
            <key>effect_140_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{113,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,75}}</string>
                <key>sourceSize</key>
                <string>{113,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_140.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:810b1ef6ab102ccdd14b286b32f4cd71$</string>
            <key>textureFileName</key>
            <string>effect_140.png</string>
        </dict>
    </dict>
</plist>
