<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_342_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,110},{78,44}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{78,44}}</string>
                <key>sourceSize</key>
                <string>{100,70}</string>
            </dict>
            <key>effect_342_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{86,50}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{86,50}}</string>
                <key>sourceSize</key>
                <string>{100,70}</string>
            </dict>
            <key>effect_342_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,114},{60,54}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,9},{60,54}}</string>
                <key>sourceSize</key>
                <string>{100,70}</string>
            </dict>
            <key>effect_342_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{72,54}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,9},{72,54}}</string>
                <key>sourceSize</key>
                <string>{100,70}</string>
            </dict>
            <key>effect_342_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{82,54}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{82,54}}</string>
                <key>sourceSize</key>
                <string>{100,70}</string>
            </dict>
            <key>effect_342_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,58},{74,54}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,9},{74,54}}</string>
                <key>sourceSize</key>
                <string>{100,70}</string>
            </dict>
            <key>effect_342_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,54},{84,54}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{84,54}}</string>
                <key>sourceSize</key>
                <string>{100,70}</string>
            </dict>
            <key>effect_342_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,52}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{90,52}}</string>
                <key>sourceSize</key>
                <string>{100,70}</string>
            </dict>
            <key>effect_342_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{72,42}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{72,42}}</string>
                <key>sourceSize</key>
                <string>{100,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_342.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e82f09d4ec544d4ac4922f3683894a2a$</string>
            <key>textureFileName</key>
            <string>effect_342.png</string>
        </dict>
    </dict>
</plist>
