<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_513_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{508,240}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{508,240}}</string>
                <key>sourceSize</key>
                <string>{520,250}</string>
            </dict>
            <key>effect_513_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{508,240}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{508,240}}</string>
                <key>sourceSize</key>
                <string>{520,250}</string>
            </dict>
            <key>effect_513_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{504,240}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{504,240}}</string>
                <key>sourceSize</key>
                <string>{520,250}</string>
            </dict>
            <key>effect_513_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,486},{504,240}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{504,240}}</string>
                <key>sourceSize</key>
                <string>{520,250}</string>
            </dict>
            <key>effect_513_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,728},{502,238}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{502,238}}</string>
                <key>sourceSize</key>
                <string>{520,250}</string>
            </dict>
            <key>effect_513_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{508,240}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{508,240}}</string>
                <key>sourceSize</key>
                <string>{520,250}</string>
            </dict>
            <key>effect_513_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,968},{478,240}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,4},{478,240}}</string>
                <key>sourceSize</key>
                <string>{520,250}</string>
            </dict>
            <key>effect_513_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{504,240}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{504,240}}</string>
                <key>sourceSize</key>
                <string>{520,250}</string>
            </dict>
            <key>effect_513_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,244},{506,240}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{506,240}}</string>
                <key>sourceSize</key>
                <string>{520,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_513.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07bac34546f3c15919b62aa372d8b56b$</string>
            <key>textureFileName</key>
            <string>effect_513.png</string>
        </dict>
    </dict>
</plist>
