<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_491_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{142,270}}</string>
                <key>offset</key>
                <string>{-9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{142,270}}</string>
                <key>sourceSize</key>
                <string>{180,300}</string>
            </dict>
            <key>effect_491_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,148},{142,270}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{142,270}}</string>
                <key>sourceSize</key>
                <string>{180,300}</string>
            </dict>
            <key>effect_491_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{146,276}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{146,276}}</string>
                <key>sourceSize</key>
                <string>{180,300}</string>
            </dict>
            <key>effect_491_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{146,276}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{146,276}}</string>
                <key>sourceSize</key>
                <string>{180,300}</string>
            </dict>
            <key>effect_491_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,840},{146,274}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{146,274}}</string>
                <key>sourceSize</key>
                <string>{180,300}</string>
            </dict>
            <key>effect_491_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,840},{146,274}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,14},{146,274}}</string>
                <key>sourceSize</key>
                <string>{180,300}</string>
            </dict>
            <key>effect_491_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{150,278}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{150,278}}</string>
                <key>sourceSize</key>
                <string>{180,300}</string>
            </dict>
            <key>effect_491_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,278}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{150,278}}</string>
                <key>sourceSize</key>
                <string>{180,300}</string>
            </dict>
            <key>effect_491_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{144,276}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,18},{144,276}}</string>
                <key>sourceSize</key>
                <string>{180,300}</string>
            </dict>
            <key>effect_491_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,562},{144,276}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,16},{144,276}}</string>
                <key>sourceSize</key>
                <string>{180,300}</string>
            </dict>
            <key>effect_491_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,292},{140,266}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,24},{140,266}}</string>
                <key>sourceSize</key>
                <string>{180,300}</string>
            </dict>
            <key>effect_491_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,292},{140,266}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,22},{140,266}}</string>
                <key>sourceSize</key>
                <string>{180,300}</string>
            </dict>
            <key>effect_491_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,292},{140,266}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{140,266}}</string>
                <key>sourceSize</key>
                <string>{180,300}</string>
            </dict>
            <key>effect_491_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,434},{140,264}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,19},{140,264}}</string>
                <key>sourceSize</key>
                <string>{180,300}</string>
            </dict>
            <key>effect_491_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,274},{142,264}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{142,264}}</string>
                <key>sourceSize</key>
                <string>{180,300}</string>
            </dict>
            <key>effect_491_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,274},{142,264}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{142,264}}</string>
                <key>sourceSize</key>
                <string>{180,300}</string>
            </dict>
            <key>effect_491_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,2},{142,270}}</string>
                <key>offset</key>
                <string>{-9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{142,270}}</string>
                <key>sourceSize</key>
                <string>{180,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_491.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a6391080aec2b5a19f5bdb664ff344d$</string>
            <key>textureFileName</key>
            <string>effect_491.png</string>
        </dict>
    </dict>
</plist>
