<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_383_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,113},{101,103}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{101,103}}</string>
                <key>sourceSize</key>
                <string>{109,111}</string>
            </dict>
            <key>effect_383_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,216},{97,99}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{97,99}}</string>
                <key>sourceSize</key>
                <string>{109,111}</string>
            </dict>
            <key>effect_383_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{87,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{87,89}}</string>
                <key>sourceSize</key>
                <string>{109,111}</string>
            </dict>
            <key>effect_383_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{79,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,15},{79,81}}</string>
                <key>sourceSize</key>
                <string>{109,111}</string>
            </dict>
            <key>effect_383_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{71,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,19},{71,73}}</string>
                <key>sourceSize</key>
                <string>{109,111}</string>
            </dict>
            <key>effect_383_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{109,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,111}}</string>
                <key>sourceSize</key>
                <string>{109,111}</string>
            </dict>
            <key>effect_383_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{109,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,111}}</string>
                <key>sourceSize</key>
                <string>{109,111}</string>
            </dict>
            <key>effect_383_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{105,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{105,107}}</string>
                <key>sourceSize</key>
                <string>{109,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_383.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cec1a44bb5101c8553513600c241d925$</string>
            <key>textureFileName</key>
            <string>effect_383.png</string>
        </dict>
    </dict>
</plist>
