<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_226_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,140},{70,68}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,65},{70,68}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>effect_226_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{136,136}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,32},{136,136}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>effect_226_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{168,170}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{168,170}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>effect_226_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{180,182}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{180,182}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>effect_226_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,186}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,11},{184,186}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>effect_226_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,184},{176,176}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{176,176}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>effect_226_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{172,170}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,19},{172,170}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>effect_226_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{170,170}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,20},{170,170}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>effect_226_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,362},{168,170}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,20},{168,170}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>effect_226_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{168,168}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,22},{168,168}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_226.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49403d896b912f68b892c6321b4f5afc$</string>
            <key>textureFileName</key>
            <string>effect_226.png</string>
        </dict>
    </dict>
</plist>
