<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_321_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,86}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{166,86}}</string>
                <key>sourceSize</key>
                <string>{170,100}</string>
            </dict>
            <key>effect_321_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{150,90}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{150,90}}</string>
                <key>sourceSize</key>
                <string>{170,100}</string>
            </dict>
            <key>effect_321_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{156,90}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{156,90}}</string>
                <key>sourceSize</key>
                <string>{170,100}</string>
            </dict>
            <key>effect_321_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,178},{158,90}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{158,90}}</string>
                <key>sourceSize</key>
                <string>{170,100}</string>
            </dict>
            <key>effect_321_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{160,88}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{160,88}}</string>
                <key>sourceSize</key>
                <string>{170,100}</string>
            </dict>
            <key>effect_321_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{158,84}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,11},{158,84}}</string>
                <key>sourceSize</key>
                <string>{170,100}</string>
            </dict>
            <key>effect_321_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{164,86}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{164,86}}</string>
                <key>sourceSize</key>
                <string>{170,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_321.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2f4eca7b67eb37ab30ee41f2bb623bd$</string>
            <key>textureFileName</key>
            <string>effect_321.png</string>
        </dict>
    </dict>
</plist>
