<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_107_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{87,88}}</string>
                <key>offset</key>
                <string>{-7,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,54},{87,88}}</string>
                <key>sourceSize</key>
                <string>{165,170}</string>
            </dict>
            <key>effect_107_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,170},{127,130}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,30},{127,130}}</string>
                <key>sourceSize</key>
                <string>{165,170}</string>
            </dict>
            <key>effect_107_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{147,160}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{147,160}}</string>
                <key>sourceSize</key>
                <string>{165,170}</string>
            </dict>
            <key>effect_107_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{163,166}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{163,166}}</string>
                <key>sourceSize</key>
                <string>{165,170}</string>
            </dict>
            <key>effect_107_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,302},{127,124}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,32},{127,124}}</string>
                <key>sourceSize</key>
                <string>{165,170}</string>
            </dict>
            <key>effect_107_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{129,126}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,33},{129,126}}</string>
                <key>sourceSize</key>
                <string>{165,170}</string>
            </dict>
            <key>effect_107_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,332},{131,128}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,32},{131,128}}</string>
                <key>sourceSize</key>
                <string>{165,170}</string>
            </dict>
            <key>effect_107_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{133,132}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,31},{133,132}}</string>
                <key>sourceSize</key>
                <string>{165,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_107.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7776666aad06b8ebc0b413478c65851d$</string>
            <key>textureFileName</key>
            <string>effect_107.png</string>
        </dict>
    </dict>
</plist>
