<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_427_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{172,75}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{172,75}}</string>
                <key>sourceSize</key>
                <string>{180,75}</string>
            </dict>
            <key>effect_427_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{176,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{176,75}}</string>
                <key>sourceSize</key>
                <string>{180,75}</string>
            </dict>
            <key>effect_427_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,75}}</string>
                <key>sourceSize</key>
                <string>{180,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_427.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bce965049189c15c7fc74e2100ae99a3$</string>
            <key>textureFileName</key>
            <string>effect_427.png</string>
        </dict>
    </dict>
</plist>
