<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_370_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,82},{92,86}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,28},{92,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_370_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,112}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{122,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_370_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{78,112}}</string>
                <key>offset</key>
                <string>{-14,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,5},{78,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_370_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,160},{28,30}}</string>
                <key>offset</key>
                <string>{-8,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,62},{28,30}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_370_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,82},{32,34}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,54},{32,34}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_370_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,116},{32,42}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,46},{32,42}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_370_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,190},{66,68}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,32},{66,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_370_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,170},{64,82}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,22},{64,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_370_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,236},{60,78}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,35},{60,78}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_370_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{66,62}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,33},{66,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_370_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{62,78}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,22},{62,78}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_370_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{60,90}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,14},{60,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_370.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d2040ffc1e97f25040438f2b95537ba$</string>
            <key>textureFileName</key>
            <string>effect_370.png</string>
        </dict>
    </dict>
</plist>
