<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_502_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{186,246}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,3},{186,246}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>effect_502_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1636},{154,202}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,25},{154,202}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>effect_502_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1792},{182,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,33},{182,184}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>effect_502_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1420},{214,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,17},{214,216}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>effect_502_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{246,246}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>effect_502_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,930},{244,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{244,244}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>effect_502_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{244,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{244,244}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>effect_502_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{244,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{244,244}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>effect_502_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1176},{242,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{242,242}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_502.png</string>
            <key>size</key>
            <string>{256,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2c9497504ced6f3d35a3d256930a5e7$</string>
            <key>textureFileName</key>
            <string>effect_502.png</string>
        </dict>
    </dict>
</plist>
