<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_461_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{1,1}}</string>
                <key>offset</key>
                <string>{-107.5,129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{216,259}</string>
            </dict>
            <key>effect_461_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{168,245}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,5},{168,245}}</string>
                <key>sourceSize</key>
                <string>{216,259}</string>
            </dict>
            <key>effect_461_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,255},{170,249}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,3},{170,249}}</string>
                <key>sourceSize</key>
                <string>{216,259}</string>
            </dict>
            <key>effect_461_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{170,249}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,3},{170,249}}</string>
                <key>sourceSize</key>
                <string>{216,259}</string>
            </dict>
            <key>effect_461_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,251}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{174,251}}</string>
                <key>sourceSize</key>
                <string>{216,259}</string>
            </dict>
            <key>effect_461_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{170,249}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,3},{170,249}}</string>
                <key>sourceSize</key>
                <string>{216,259}</string>
            </dict>
            <key>effect_461_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,255},{170,249}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,3},{170,249}}</string>
                <key>sourceSize</key>
                <string>{216,259}</string>
            </dict>
            <key>effect_461_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{168,245}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,5},{168,245}}</string>
                <key>sourceSize</key>
                <string>{216,259}</string>
            </dict>
            <key>effect_461_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{1,1}}</string>
                <key>offset</key>
                <string>{-107.5,129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{216,259}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_461.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fca26203b9ff0ec1d940d6eb229d35dd$</string>
            <key>textureFileName</key>
            <string>effect_461.png</string>
        </dict>
    </dict>
</plist>
