<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_369_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,328},{56,56}}</string>
                <key>offset</key>
                <string>{-35,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,76},{56,56}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
            <key>effect_369_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,416},{58,74}}</string>
                <key>offset</key>
                <string>{-33,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,59},{58,74}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
            <key>effect_369_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{86,110}}</string>
                <key>offset</key>
                <string>{-18,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,24},{86,110}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
            <key>effect_369_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,122},{122,116}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{122,116}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
            <key>effect_369_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{122,118}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{122,118}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
            <key>effect_369_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,128}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{122,128}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
            <key>effect_369_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{100,94}}</string>
                <key>offset</key>
                <string>{14,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,13},{100,94}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
            <key>effect_369_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,240},{106,86}}</string>
                <key>offset</key>
                <string>{11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,19},{106,86}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
            <key>effect_369_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{84,94}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{84,94}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
            <key>effect_369_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,396},{76,94}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,15},{76,94}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
            <key>effect_369_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,328},{86,86}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,18},{86,86}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
            <key>effect_369_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{84,108}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,2},{84,108}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_369.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1cac9e46144db3229de261aab7d863a1$</string>
            <key>textureFileName</key>
            <string>effect_369.png</string>
        </dict>
    </dict>
</plist>
