<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_193_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{300,206}}</string>
                <key>offset</key>
                <string>{15,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,40},{300,206}}</string>
                <key>sourceSize</key>
                <string>{330,274}</string>
            </dict>
            <key>effect_193_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,614},{298,212}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,32},{298,212}}</string>
                <key>sourceSize</key>
                <string>{330,274}</string>
            </dict>
            <key>effect_193_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{328,200}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,37},{328,200}}</string>
                <key>sourceSize</key>
                <string>{330,274}</string>
            </dict>
            <key>effect_193_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{328,200}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{328,200}}</string>
                <key>sourceSize</key>
                <string>{330,274}</string>
            </dict>
            <key>effect_193_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{302,206}}</string>
                <key>offset</key>
                <string>{14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,40},{302,206}}</string>
                <key>sourceSize</key>
                <string>{330,274}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_193.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:803f038ee6a36e6ffde1f1f673580610$</string>
            <key>textureFileName</key>
            <string>effect_193.png</string>
        </dict>
    </dict>
</plist>
