<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_228_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,256},{256,248}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{256,248}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>effect_228_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,264},{258,244}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{258,244}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>effect_228_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{272,250}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{272,250}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>effect_228_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,256}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{270,256}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>effect_228_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{266,260}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{266,260}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>effect_228_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{266,252}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{266,252}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_228.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05ce76ce38229aaf1ea4fa05122c135d$</string>
            <key>textureFileName</key>
            <string>effect_228.png</string>
        </dict>
    </dict>
</plist>
