<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_278_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{88,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{88,84}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>effect_278_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,102},{104,96}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{104,96}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>effect_278_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{98,92}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{98,92}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>effect_278_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,290},{94,88}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{94,88}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>effect_278_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{108,102}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>effect_278_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{104,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{104,98}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>effect_278_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{100,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{100,92}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>effect_278_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,200},{94,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{94,88}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_278.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21125dfdeece1c8ee67f2f2065e3a5e4$</string>
            <key>textureFileName</key>
            <string>effect_278.png</string>
        </dict>
    </dict>
</plist>
