<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_411_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{103,91}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{103,91}}</string>
                <key>sourceSize</key>
                <string>{123,115}</string>
            </dict>
            <key>effect_411_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{103,91}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{103,91}}</string>
                <key>sourceSize</key>
                <string>{123,115}</string>
            </dict>
            <key>effect_411_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{93,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{93,91}}</string>
                <key>sourceSize</key>
                <string>{123,115}</string>
            </dict>
            <key>effect_411_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,95},{99,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{99,93}}</string>
                <key>sourceSize</key>
                <string>{123,115}</string>
            </dict>
            <key>effect_411_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{91,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{91,103}}</string>
                <key>sourceSize</key>
                <string>{123,115}</string>
            </dict>
            <key>effect_411_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,190},{91,91}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{91,91}}</string>
                <key>sourceSize</key>
                <string>{123,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_411.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6cc68a668ff5942308b5e5051bde12a$</string>
            <key>textureFileName</key>
            <string>effect_411.png</string>
        </dict>
    </dict>
</plist>
