<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_076_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{103,86}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{103,86}}</string>
                <key>sourceSize</key>
                <string>{115,90}</string>
            </dict>
            <key>effect_076_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{103,86}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{103,86}}</string>
                <key>sourceSize</key>
                <string>{115,90}</string>
            </dict>
            <key>effect_076_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{103,86}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{103,86}}</string>
                <key>sourceSize</key>
                <string>{115,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_076.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f73f77bcf9f4fb7312e4d4493f004c3$</string>
            <key>textureFileName</key>
            <string>effect_076.png</string>
        </dict>
    </dict>
</plist>
