<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_405_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,298},{158,148}}</string>
                <key>offset</key>
                <string>{17,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,28},{158,148}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>effect_405_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{188,162}}</string>
                <key>offset</key>
                <string>{12,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,18},{188,162}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>effect_405_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{192,168}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,6},{192,168}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>effect_405_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,168}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,3},{198,168}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>effect_405_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,298},{180,164}}</string>
                <key>offset</key>
                <string>{-13,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{180,164}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>effect_405_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{110,150}}</string>
                <key>offset</key>
                <string>{-32,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{110,150}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>effect_405_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,154},{98,142}}</string>
                <key>offset</key>
                <string>{-38,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,14},{98,142}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>effect_405_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{94,138}}</string>
                <key>offset</key>
                <string>{-41,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,17},{94,138}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_405.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eea1a0e978160bd3350ebf72d4b493ee$</string>
            <key>textureFileName</key>
            <string>effect_405.png</string>
        </dict>
    </dict>
</plist>
