<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_395_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,47},{30,31}}</string>
                <key>offset</key>
                <string>{-43,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,51},{30,31}}</string>
                <key>sourceSize</key>
                <string>{120,85}</string>
            </dict>
            <key>effect_395_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{32,43}}</string>
                <key>offset</key>
                <string>{-43,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,39},{32,43}}</string>
                <key>sourceSize</key>
                <string>{120,85}</string>
            </dict>
            <key>effect_395_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,79},{42,71}}</string>
                <key>offset</key>
                <string>{-39,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{42,71}}</string>
                <key>sourceSize</key>
                <string>{120,85}</string>
            </dict>
            <key>effect_395_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,171},{82,81}}</string>
                <key>offset</key>
                <string>{-17,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{82,81}}</string>
                <key>sourceSize</key>
                <string>{120,85}</string>
            </dict>
            <key>effect_395_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{102,81}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{102,81}}</string>
                <key>sourceSize</key>
                <string>{120,85}</string>
            </dict>
            <key>effect_395_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{104,75}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{104,75}}</string>
                <key>sourceSize</key>
                <string>{120,85}</string>
            </dict>
            <key>effect_395_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,75}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{104,75}}</string>
                <key>sourceSize</key>
                <string>{120,85}</string>
            </dict>
            <key>effect_395_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,79},{90,73}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,9},{90,73}}</string>
                <key>sourceSize</key>
                <string>{120,85}</string>
            </dict>
            <key>effect_395_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{96,71}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{96,71}}</string>
                <key>sourceSize</key>
                <string>{120,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_395.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b77aa88966758283edd38a2970a9f708$</string>
            <key>textureFileName</key>
            <string>effect_395.png</string>
        </dict>
    </dict>
</plist>
