<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_176_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,226},{82,71}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,22},{82,71}}</string>
                <key>sourceSize</key>
                <string>{120,115}</string>
            </dict>
            <key>effect_176_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{108,101}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{108,101}}</string>
                <key>sourceSize</key>
                <string>{120,115}</string>
            </dict>
            <key>effect_176_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{120,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{120,111}}</string>
                <key>sourceSize</key>
                <string>{120,115}</string>
            </dict>
            <key>effect_176_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,115}}</string>
                <key>sourceSize</key>
                <string>{120,115}</string>
            </dict>
            <key>effect_176_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,115},{118,109}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{118,109}}</string>
                <key>sourceSize</key>
                <string>{120,115}</string>
            </dict>
            <key>effect_176_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{118,99}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{118,99}}</string>
                <key>sourceSize</key>
                <string>{120,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_176.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b9d1cdbf995d1e9c4c144da937bbe53$</string>
            <key>textureFileName</key>
            <string>effect_176.png</string>
        </dict>
    </dict>
</plist>
