<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_295_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,158},{122,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,100},{122,118}}</string>
                <key>sourceSize</key>
                <string>{330,320}</string>
            </dict>
            <key>effect_295_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{154,158}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,82},{154,158}}</string>
                <key>sourceSize</key>
                <string>{330,320}</string>
            </dict>
            <key>effect_295_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,314},{196,204}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,57},{196,204}}</string>
                <key>sourceSize</key>
                <string>{330,320}</string>
            </dict>
            <key>effect_295_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{292,280}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{292,280}}</string>
                <key>sourceSize</key>
                <string>{330,320}</string>
            </dict>
            <key>effect_295_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{330,310}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{330,310}}</string>
                <key>sourceSize</key>
                <string>{330,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_295.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:feffbcacbd938d219931a2e081c4c5f4$</string>
            <key>textureFileName</key>
            <string>effect_295.png</string>
        </dict>
    </dict>
</plist>
