<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_086_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{80,80}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{80,80}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>effect_086_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,84},{76,80}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{76,80}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>effect_086_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{82,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{82,80}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>effect_086_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{82,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{82,80}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>effect_086_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{82,80}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>effect_086_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{80,80}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{80,80}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_086.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6432b5e0d272661797fd08caf1ca4385$</string>
            <key>textureFileName</key>
            <string>effect_086.png</string>
        </dict>
    </dict>
</plist>
