<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_redbag1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,284},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{136,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>effect_redbag1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,144},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{138,138}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>effect_redbag1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{140,140}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>effect_redbag1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{144,144}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>effect_redbag1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,160},{146,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{146,148}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>effect_redbag1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,316},{148,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{148,150}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>effect_redbag1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{152,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{152,152}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>effect_redbag1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{154,154}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>effect_redbag1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{156,156}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_redbag1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e21a3bbfd31a8171c9fc3bff6a259f9f$</string>
            <key>textureFileName</key>
            <string>effect_redbag1.png</string>
        </dict>
    </dict>
</plist>
