<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_456_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,415},{91,135}}</string>
                <key>offset</key>
                <string>{127,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,56},{91,135}}</string>
                <key>sourceSize</key>
                <string>{359,359}</string>
            </dict>
            <key>effect_456_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,139},{91,135}}</string>
                <key>offset</key>
                <string>{104,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,92},{91,135}}</string>
                <key>sourceSize</key>
                <string>{359,359}</string>
            </dict>
            <key>effect_456_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,278},{91,135}}</string>
                <key>offset</key>
                <string>{82,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,127},{91,135}}</string>
                <key>sourceSize</key>
                <string>{359,359}</string>
            </dict>
            <key>effect_456_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,417},{91,135}}</string>
                <key>offset</key>
                <string>{59,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,163},{91,135}}</string>
                <key>sourceSize</key>
                <string>{359,359}</string>
            </dict>
            <key>effect_456_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,2},{91,135}}</string>
                <key>offset</key>
                <string>{37,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,198},{91,135}}</string>
                <key>sourceSize</key>
                <string>{359,359}</string>
            </dict>
            <key>effect_456_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,91},{105,123}}</string>
                <key>offset</key>
                <string>{47,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,214},{105,123}}</string>
                <key>sourceSize</key>
                <string>{359,359}</string>
            </dict>
            <key>effect_456_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,198},{121,107}}</string>
                <key>offset</key>
                <string>{56,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,231},{121,107}}</string>
                <key>sourceSize</key>
                <string>{359,359}</string>
            </dict>
            <key>effect_456_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,276},{129,97}}</string>
                <key>offset</key>
                <string>{20,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,202},{129,97}}</string>
                <key>sourceSize</key>
                <string>{359,359}</string>
            </dict>
            <key>effect_456_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,139},{137,87}}</string>
                <key>offset</key>
                <string>{-16,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,173},{137,87}}</string>
                <key>sourceSize</key>
                <string>{359,359}</string>
            </dict>
            <key>effect_456_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{137,87}}</string>
                <key>offset</key>
                <string>{-16,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,173},{137,87}}</string>
                <key>sourceSize</key>
                <string>{359,359}</string>
            </dict>
            <key>effect_456_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{137,87}}</string>
                <key>offset</key>
                <string>{-16,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,173},{137,87}}</string>
                <key>sourceSize</key>
                <string>{359,359}</string>
            </dict>
            <key>effect_456_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{137,87}}</string>
                <key>offset</key>
                <string>{-16,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,173},{137,87}}</string>
                <key>sourceSize</key>
                <string>{359,359}</string>
            </dict>
            <key>effect_456_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,2},{137,87}}</string>
                <key>offset</key>
                <string>{-16,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,173},{137,87}}</string>
                <key>sourceSize</key>
                <string>{359,359}</string>
            </dict>
            <key>effect_456_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{137,87}}</string>
                <key>offset</key>
                <string>{-16,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,173},{137,87}}</string>
                <key>sourceSize</key>
                <string>{359,359}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_456.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92ad271116f3e4c0c4de97b48ad7eb1f$</string>
            <key>textureFileName</key>
            <string>effect_456.png</string>
        </dict>
    </dict>
</plist>
