<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fangyu_effect0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,156},{34,86}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,40},{34,86}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fangyu_effect0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,140},{46,114}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,23},{46,114}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fangyu_effect0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{56,136}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,12},{56,136}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fangyu_effect0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,152}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,2},{60,152}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fangyu_effect0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{38,98}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,34},{38,98}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fangyu.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17a07625da2bbed007e573b249dcc54b$</string>
            <key>textureFileName</key>
            <string>fangyu.png</string>
        </dict>
    </dict>
</plist>
