<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guildtask_denglong2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,148},{16,32}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{16,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{18,32}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,10},{18,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,146},{18,32}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,10},{18,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,128},{18,32}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,10},{18,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{18,32}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,10},{18,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,138},{18,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{18,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,126},{18,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{18,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,108},{18,32}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,10},{18,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{18,32}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,10},{18,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,106},{18,32}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,10},{18,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,46},{20,32}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{20,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{20,32}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{20,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong2_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,88},{18,32}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,9},{18,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong2_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,36},{20,32}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{20,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong2_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,24},{20,32}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{20,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong2_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,24},{20,32}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{20,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong2_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{20,32}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,9},{20,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong2_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{20,32}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{20,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong2_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{20,32}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{20,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong2_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{18,32}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,9},{18,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong2_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{20,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,9},{20,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong2_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{20,32}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{20,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong2_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,104},{18,32}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{18,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong2_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,86},{18,32}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,10},{18,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong2_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,68},{18,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{18,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong2_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{18,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{18,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong2_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,70},{18,32}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{18,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong2_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,66},{18,32}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,10},{18,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong2_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,46},{18,32}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,10},{18,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong2_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,148},{16,32}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{16,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guildtask_denglong2.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb7c4479acd0233a043adc09cd5fbbf8$</string>
            <key>textureFileName</key>
            <string>guildtask_denglong2.png</string>
        </dict>
    </dict>
</plist>
