<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guildtask_denglong6_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,122},{14,30}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,12},{14,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong6_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,122},{14,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,11},{14,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong6_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,70},{16,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{16,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong6_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{14,30}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,11},{14,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong6_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,106},{14,30}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,12},{14,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong6_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,56},{16,30}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,11},{16,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong6_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,106},{14,30}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{14,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong6_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{14,30}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,12},{14,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong6_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,20},{16,28}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,13},{16,28}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong6_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,56},{16,30}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,11},{16,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong6_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{16,30}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,11},{16,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong6_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,38},{16,30}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{16,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong6_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,38},{16,30}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{16,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong6_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,38},{16,30}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,11},{16,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong6_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{16,30}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,11},{16,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong6_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,20},{16,30}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,11},{16,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong6_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{16,28}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,13},{16,28}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong6_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,102},{14,30}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{14,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong6_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,90},{14,30}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,12},{14,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong6_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,90},{14,30}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{14,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong6_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,20},{16,30}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,12},{16,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong6_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,20},{16,30}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,12},{16,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong6_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{16,30}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,11},{16,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong6_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{14,30}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,12},{14,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong6_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,74},{14,30}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,11},{14,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong6_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,74},{14,30}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,11},{14,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong6_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{16,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{16,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong6_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{16,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{16,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong6_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{14,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,11},{14,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong6_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,122},{14,30}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,12},{14,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guildtask_denglong6.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:202c2668c0960eb8ce68c19328c30c8d$</string>
            <key>textureFileName</key>
            <string>guildtask_denglong6.png</string>
        </dict>
    </dict>
</plist>
