<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guildtask_denglong5_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,38},{16,30}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,8},{16,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong5_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,120},{14,30}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,8},{14,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong5_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{14,30}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,8},{14,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong5_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{16,30}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,8},{16,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong5_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,34},{16,30}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{16,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong5_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,130},{14,30}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,8},{14,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong5_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,118},{14,30}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,8},{14,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong5_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,104},{14,30}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,8},{14,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong5_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,20},{16,30}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,8},{16,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong5_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{14,30}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,8},{14,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong5_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,102},{14,30}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,8},{14,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong5_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,88},{14,30}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,8},{14,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong5_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{14,30}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,8},{14,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong5_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,20},{16,30}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,8},{16,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong5_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,98},{14,30}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{14,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong5_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,20},{16,30}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,8},{16,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong5_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{16,30}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,8},{16,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong5_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{16,30}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,8},{16,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong5_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{16,30}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,8},{16,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong5_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,86},{14,30}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,8},{14,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong5_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,72},{14,30}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,8},{14,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong5_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{14,30}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,8},{14,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong5_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,70},{14,30}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,8},{14,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong5_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,56},{14,30}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,9},{14,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong5_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{14,30}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,8},{14,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong5_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,66},{14,30}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,8},{14,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong5_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{16,30}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,8},{16,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong5_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,54},{14,30}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,8},{14,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong5_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,38},{14,30}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,8},{14,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong5_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,38},{16,30}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,8},{16,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guildtask_denglong5.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64f7ed1929669a1b05ae8f7fe9c6cc42$</string>
            <key>textureFileName</key>
            <string>guildtask_denglong5.png</string>
        </dict>
    </dict>
</plist>
