<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guildtask_denglong4_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{18,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,11},{18,28}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong4_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,112},{16,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{16,28}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong4_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{16,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{16,28}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong4_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,74},{16,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,10},{16,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong4_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,110},{16,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,11},{16,28}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong4_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,106},{16,28}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,12},{16,28}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong4_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,56},{16,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,10},{16,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong4_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{16,30}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,10},{16,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong4_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,56},{16,30}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,10},{16,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong4_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,38},{16,30}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,10},{16,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong4_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{14,30}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,10},{14,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong4_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{16,30}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,10},{16,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong4_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,90},{14,30}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,10},{14,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong4_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,38},{16,30}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,10},{16,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong4_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,74},{14,30}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,10},{14,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong4_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{14,30}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,10},{14,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong4_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,20},{16,30}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,10},{16,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong4_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,22},{16,30}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,10},{16,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong4_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,20},{16,30}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,10},{16,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong4_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{16,28}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,12},{16,28}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong4_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{16,30}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,10},{16,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong4_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{16,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,10},{16,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong4_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,92},{16,28}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,12},{16,28}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong4_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,94},{16,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,11},{16,28}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong4_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,76},{16,28}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,12},{16,28}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong4_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,58},{16,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{16,28}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong4_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,40},{16,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{16,28}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong4_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,22},{16,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{16,28}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong4_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{18,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{18,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong4_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{18,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,11},{18,28}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guildtask_denglong4.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59cc3c24d529750c53c67bfc37a19baa$</string>
            <key>textureFileName</key>
            <string>guildtask_denglong4.png</string>
        </dict>
    </dict>
</plist>
