<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guildwish_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{204,318}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,28},{204,318}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>guildwish_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{214,320}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,29},{214,320}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>guildwish_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,318}}</string>
                <key>offset</key>
                <string>{-11,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,28},{218,318}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guildwish.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62172ef3c02bc7d3d88ddb1f730e409f$</string>
            <key>textureFileName</key>
            <string>guildwish.png</string>
        </dict>
    </dict>
</plist>
