<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guildskill_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1140},{254,176}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,138},{254,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>guildskill_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1174},{274,180}}</string>
                <key>offset</key>
                <string>{-2,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,135},{274,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>guildskill_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{292,162}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,154},{292,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>guildskill_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{310,166}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,153},{310,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>guildskill_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,190},{328,170}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,150},{328,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>guildskill_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{346,176}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,148},{346,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>guildskill_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{340,186}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,142},{340,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>guildskill_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{334,188}}</string>
                <key>offset</key>
                <string>{-2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,139},{334,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>guildskill_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{328,192}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,140},{328,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>guildskill_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,196},{320,222}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,125},{320,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>guildskill_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,362},{314,226}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,123},{314,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>guildskill_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{308,228}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,122},{308,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>guildskill_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,420},{300,232}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,120},{300,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>guildskill_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,590},{294,234}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,119},{294,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>guildskill_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,654},{288,238}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,117},{288,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>guildskill_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,932},{282,240}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,116},{282,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>guildskill_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1074},{278,242}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,115},{278,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>guildskill_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,894},{280,244}}</string>
                <key>offset</key>
                <string>{4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,114},{280,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>guildskill_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,826},{282,246}}</string>
                <key>offset</key>
                <string>{9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,113},{282,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>guildskill_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1140},{254,176}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,138},{254,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guildskill.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc10bd504610e108dda6d369cd3145c4$</string>
            <key>textureFileName</key>
            <string>guildskill.png</string>
        </dict>
    </dict>
</plist>
