<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guildshopdenglong2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{38,100}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,12},{38,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>guildshopdenglong2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{36,100}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,12},{36,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>guildshopdenglong2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,308},{36,100}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,12},{36,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>guildshopdenglong2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{34,102}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,11},{34,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>guildshopdenglong2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{32,102}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,11},{32,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>guildshopdenglong2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,96},{32,102}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,11},{32,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>guildshopdenglong2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,162},{30,102}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,11},{30,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>guildshopdenglong2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{28,102}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,12},{28,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>guildshopdenglong2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,194},{28,102}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,12},{28,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>guildshopdenglong2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,252},{26,102}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,12},{26,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>guildshopdenglong2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{24,102}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,12},{24,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>guildshopdenglong2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,280},{24,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,12},{24,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>guildshopdenglong2_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,330},{22,102}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,12},{22,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>guildshopdenglong2_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,26},{22,104}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,11},{22,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>guildshopdenglong2_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{22,104}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,11},{22,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>guildshopdenglong2_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{22,104}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,11},{22,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>guildshopdenglong2_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{22,102}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,12},{22,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>guildshopdenglong2_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,306},{22,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,12},{22,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>guildshopdenglong2_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{24,102}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,12},{24,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>guildshopdenglong2_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{26,102}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,12},{26,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>guildshopdenglong2_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,224},{26,102}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,12},{26,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>guildshopdenglong2_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{28,102}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,11},{28,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>guildshopdenglong2_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{30,102}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,11},{30,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>guildshopdenglong2_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,130},{30,102}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,11},{30,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>guildshopdenglong2_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{32,102}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,11},{32,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>guildshopdenglong2_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,62},{32,102}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,11},{32,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>guildshopdenglong2_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,26},{34,102}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,11},{34,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>guildshopdenglong2_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,206},{36,100}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,12},{36,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>guildshopdenglong2_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,104},{36,100}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,12},{36,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>guildshopdenglong2_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{38,100}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,12},{38,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guildshopdenglong2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a495c7c4f8bba70d1781dd29946bed70$</string>
            <key>textureFileName</key>
            <string>guildshopdenglong2.png</string>
        </dict>
    </dict>
</plist>
