<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guildtask_denglong3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,120},{18,32}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,9},{18,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,120},{18,32}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,9},{18,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{18,32}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,9},{18,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,108},{18,32}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{18,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,100},{18,32}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,9},{18,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,100},{18,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{18,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{18,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{18,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,142},{16,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{16,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,140},{16,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,9},{16,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong3_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,140},{16,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{16,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong3_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,42},{16,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{16,34}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong3_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,42},{16,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{16,34}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong3_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,22},{18,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{18,34}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong3_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,22},{18,34}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{18,34}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong3_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,22},{18,34}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{18,34}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong3_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{18,34}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{18,34}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong3_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{18,34}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{18,34}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong3_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{16,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,8},{16,34}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong3_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{18,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{18,34}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong3_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,38},{16,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{16,34}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong3_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{16,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{16,34}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong3_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,80},{18,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,9},{18,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong3_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{16,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,9},{16,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong3_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,80},{18,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{18,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong3_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{18,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{18,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong3_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,74},{18,32}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{18,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong3_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,60},{18,32}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,9},{18,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong3_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,60},{18,32}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,9},{18,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong3_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{18,32}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,9},{18,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guildtask_denglong3_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,120},{18,32}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,9},{18,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guildtask_denglong3.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:964a699c76dde8a693cf05b91d32a3e3$</string>
            <key>textureFileName</key>
            <string>guildtask_denglong3.png</string>
        </dict>
    </dict>
</plist>
