<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_huixue_effect0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,100},{104,68}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,45},{104,68}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hit_huixue_effect0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{104,68}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,43},{104,68}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hit_huixue_effect0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,436},{104,68}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,40},{104,68}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hit_huixue_effect0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{104,70}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,36},{104,70}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hit_huixue_effect0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{104,96}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,32},{104,96}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hit_huixue_effect0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{104,96}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,29},{104,96}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hit_huixue_effect0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{106,98}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,25},{106,98}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hit_huixue_effect0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,112},{106,102}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,23},{106,102}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hit_huixue_effect0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,328},{106,102}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,21},{106,102}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hit_huixue_effect0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{106,102}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,18},{106,102}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hit_huixue_effect0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{106,104}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,14},{106,104}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hit_huixue_effect0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{106,104}}</string>
                <key>offset</key>
                <string>{7,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,11},{106,104}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hit_huixue_effect0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,108}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,10},{106,108}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hit_huixue_effect0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,220},{106,100}}</string>
                <key>offset</key>
                <string>{6,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,16},{106,100}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_huixue.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9599bca34133ae7bb4c15417032b80c6$</string>
            <key>textureFileName</key>
            <string>hit_huixue.png</string>
        </dict>
    </dict>
</plist>
