<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jinse_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,472},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,26},{148,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jinse_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,322},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,26},{148,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jinse_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,25},{150,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jinse_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,322},{152,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{152,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jinse_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{154,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jinse_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,164},{156,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{156,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jinse_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,162},{158,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{158,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jinse_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{160,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jinse_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{164,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jinse_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{158,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{158,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jinse.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7057ef5f5118471bb173c57375c8656e$</string>
            <key>textureFileName</key>
            <string>jinse.png</string>
        </dict>
    </dict>
</plist>
