<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>money_effect0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{48,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,25},{48,48}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>money_effect0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,25},{50,48}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>money_effect0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,144},{40,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,25},{40,48}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>money_effect0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{10,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,25},{10,48}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>money_effect0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,102},{40,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,25},{40,48}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>money_effect0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,52},{48,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,25},{48,48}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>money_effect0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{36,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,25},{36,48}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>money_effect0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,52},{24,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,25},{24,48}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>money_effect0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{48,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,25},{48,48}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>money_effect0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,25},{48,48}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>money.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ccedd2bf23b897bf05b22afd7887d35b$</string>
            <key>textureFileName</key>
            <string>money.png</string>
        </dict>
    </dict>
</plist>
