<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>nv1_sg_ryzp8.png</key>
      <dict>
        <key>frame</key>
        <string>{{1004,0},{18,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,18}}</string>
        <key>sourceSize</key>
        <string>{18,18}</string>
      </dict>
      <key>nv1_sg_ryzp7.png</key>
      <dict>
        <key>frame</key>
        <string>{{1004,60},{16,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,18}}</string>
        <key>sourceSize</key>
        <string>{16,18}</string>
      </dict>
      <key>nv1_sg_ryzp6.png</key>
      <dict>
        <key>frame</key>
        <string>{{1004,100},{14,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,18}}</string>
        <key>sourceSize</key>
        <string>{14,18}</string>
      </dict>
      <key>nv1_sg_ryzp5.png</key>
      <dict>
        <key>frame</key>
        <string>{{1004,140},{12,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,18}}</string>
        <key>sourceSize</key>
        <string>{12,18}</string>
      </dict>
      <key>nv1_sg_ryzp4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1004,120},{12,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,18}}</string>
        <key>sourceSize</key>
        <string>{12,18}</string>
      </dict>
      <key>nv1_sg_ryzp3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1004,80},{14,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,18}}</string>
        <key>sourceSize</key>
        <string>{14,18}</string>
      </dict>
      <key>nv1_sg_ryzp2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1004,40},{16,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,18}}</string>
        <key>sourceSize</key>
        <string>{16,18}</string>
      </dict>
      <key>nv1_sg_ryzp1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1004,20},{18,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,18}}</string>
        <key>sourceSize</key>
        <string>{18,18}</string>
      </dict>
      <key>ryzp_nv1xx.png</key>
      <dict>
        <key>frame</key>
        <string>{{1022,40},{0,0}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{0,0}}</string>
        <key>sourceSize</key>
        <string>{0,0}</string>
      </dict>
      <key>nv1_xxzryzp.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,572},{94,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,36}}</string>
        <key>sourceSize</key>
        <string>{94,36}</string>
      </dict>
      <key>nv1_sz_ryzp_ts.png</key>
      <dict>
        <key>frame</key>
        <string>{{764,598},{128,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,116}}</string>
        <key>sourceSize</key>
        <string>{128,116}</string>
      </dict>
      <key>nv1_sz_ryzp_toushi25.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,292},{278,158}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{278,158}}</string>
        <key>sourceSize</key>
        <string>{278,158}</string>
      </dict>
      <key>nv1_sz_ryzp_toushi24.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,916},{278,158}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{278,158}}</string>
        <key>sourceSize</key>
        <string>{278,158}</string>
      </dict>
      <key>nv1_sz_ryzp_toushi23.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,772},{278,158}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{278,158}}</string>
        <key>sourceSize</key>
        <string>{278,158}</string>
      </dict>
      <key>nv1_sz_ryzp_toushi22.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,612},{278,158}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{278,158}}</string>
        <key>sourceSize</key>
        <string>{278,158}</string>
      </dict>
      <key>nv1_sz_ryzp_toushi21.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,452},{278,158}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{278,158}}</string>
        <key>sourceSize</key>
        <string>{278,158}</string>
      </dict>
      <key>nv1_sz_ryzp_yangjing3.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,644},{64,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,34}}</string>
        <key>sourceSize</key>
        <string>{64,34}</string>
      </dict>
      <key>nv1_sz_ryzp_yangjing2.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,610},{66,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,32}}</string>
        <key>sourceSize</key>
        <string>{66,32}</string>
      </dict>
      <key>nv1_sz_ryzp_yanjing1.png</key>
      <dict>
        <key>frame</key>
        <string>{{668,668},{60,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,28}}</string>
        <key>sourceSize</key>
        <string>{60,28}</string>
      </dict>
      <key>nv1_sz_ryzp_tou1.png</key>
      <dict>
        <key>frame</key>
        <string>{{894,654},{116,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,120}}</string>
        <key>sourceSize</key>
        <string>{116,120}</string>
      </dict>
      <key>nv1_sz_ryzp_youshangbi.png</key>
      <dict>
        <key>frame</key>
        <string>{{668,628},{34,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,28}}</string>
        <key>sourceSize</key>
        <string>{34,28}</string>
      </dict>
      <key>nv1_sz_ryzp_di15.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,476},{144,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,120}}</string>
        <key>sourceSize</key>
        <string>{144,120}</string>
      </dict>
      <key>nv1_sz_ryzp_di14.png</key>
      <dict>
        <key>frame</key>
        <string>{{522,598},{144,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,120}}</string>
        <key>sourceSize</key>
        <string>{144,120}</string>
      </dict>
      <key>nv1_sz_ryzp_di13.png</key>
      <dict>
        <key>frame</key>
        <string>{{766,476},{144,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,120}}</string>
        <key>sourceSize</key>
        <string>{144,120}</string>
      </dict>
      <key>nv1_sz_ryzp_di12.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,476},{144,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,120}}</string>
        <key>sourceSize</key>
        <string>{144,120}</string>
      </dict>
      <key>nv1_sz_ryzp_di11.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,598},{144,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,120}}</string>
        <key>sourceSize</key>
        <string>{144,120}</string>
      </dict>
      <key>nv1_sz_ryzp_qunjia.png</key>
      <dict>
        <key>frame</key>
        <string>{{722,580},{40,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,30}}</string>
        <key>sourceSize</key>
        <string>{40,30}</string>
      </dict>
      <key>nv1_sz_ryzp_di28.png</key>
      <dict>
        <key>frame</key>
        <string>{{798,776},{112,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,96}}</string>
        <key>sourceSize</key>
        <string>{112,96}</string>
      </dict>
      <key>nv1_sz_ryzp_di27.png</key>
      <dict>
        <key>frame</key>
        <string>{{530,720},{112,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,96}}</string>
        <key>sourceSize</key>
        <string>{112,96}</string>
      </dict>
      <key>nv1_sz_ryzp_di26.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,818},{112,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,96}}</string>
        <key>sourceSize</key>
        <string>{112,96}</string>
      </dict>
      <key>nv1_sz_ryzp_di25.png</key>
      <dict>
        <key>frame</key>
        <string>{{758,874},{112,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,96}}</string>
        <key>sourceSize</key>
        <string>{112,96}</string>
      </dict>
      <key>nv1_sz_ryzp_di24.png</key>
      <dict>
        <key>frame</key>
        <string>{{872,874},{112,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,96}}</string>
        <key>sourceSize</key>
        <string>{112,96}</string>
      </dict>
      <key>nv1_sz_ryzp_di23.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,818},{112,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,96}}</string>
        <key>sourceSize</key>
        <string>{112,96}</string>
      </dict>
      <key>nv1_sz_ryzp_di22.png</key>
      <dict>
        <key>frame</key>
        <string>{{644,804},{112,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,96}}</string>
        <key>sourceSize</key>
        <string>{112,96}</string>
      </dict>
      <key>nv1_sz_ryzp_di21.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,800},{112,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,96}}</string>
        <key>sourceSize</key>
        <string>{112,96}</string>
      </dict>
      <key>nv1_sz_ryzptx_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,0},{236,236}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{236,236}}</string>
        <key>sourceSize</key>
        <string>{236,236}</string>
      </dict>
      <key>nv1_sz_ryzptx_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{766,238},{236,236}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{236,236}}</string>
        <key>sourceSize</key>
        <string>{236,236}</string>
      </dict>
      <key>nv1_sz_ryzptx_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,0},{236,236}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{236,236}}</string>
        <key>sourceSize</key>
        <string>{236,236}</string>
      </dict>
      <key>nv1_sz_ryzptx_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,238},{236,236}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{236,236}}</string>
        <key>sourceSize</key>
        <string>{236,236}</string>
      </dict>
      <key>nv1_sz_ryzptx_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,238},{236,236}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{236,236}}</string>
        <key>sourceSize</key>
        <string>{236,236}</string>
      </dict>
      <key>nv1_sz_ryzptx_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{766,0},{236,236}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{236,236}}</string>
        <key>sourceSize</key>
        <string>{236,236}</string>
      </dict>
      <key>nv1_sz_ryzp_gong1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{288,290}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{288,290}}</string>
        <key>sourceSize</key>
        <string>{288,290}</string>
      </dict>
      <key>nv1_sz_ryzp_toufa66.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,476},{100,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,94}}</string>
        <key>sourceSize</key>
        <string>{100,94}</string>
      </dict>
      <key>nv1_sz_ryzp_toufa56.png</key>
      <dict>
        <key>frame</key>
        <string>{{912,476},{104,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,94}}</string>
        <key>sourceSize</key>
        <string>{104,94}</string>
      </dict>
      <key>nv1_sz_ryzp_toufa46.png</key>
      <dict>
        <key>frame</key>
        <string>{{668,716},{128,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,86}}</string>
        <key>sourceSize</key>
        <string>{128,86}</string>
      </dict>
      <key>nv1_sz_ryzp_toufa36.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,720},{132,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,78}}</string>
        <key>sourceSize</key>
        <string>{132,78}</string>
      </dict>
      <key>nv1_sz_ryzp_toufa26.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,902},{124,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,82}}</string>
        <key>sourceSize</key>
        <string>{124,82}</string>
      </dict>
      <key>nv1_sz_ryzp_toufa16.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,720},{114,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,96}}</string>
        <key>sourceSize</key>
        <string>{114,96}</string>
      </dict>
      <key>nv1_sz_ryzp_nu.png</key>
      <dict>
        <key>frame</key>
        <string>{{912,572},{110,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,80}}</string>
        <key>sourceSize</key>
        <string>{110,80}</string>
      </dict>
      <key>nv1_sz_ryzp_hand1.png</key>
      <dict>
        <key>frame</key>
        <string>{{704,644},{38,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,22}}</string>
        <key>sourceSize</key>
        <string>{38,22}</string>
      </dict>
      <key>nv1_sz_ryzp_foot.png</key>
      <dict>
        <key>frame</key>
        <string>{{722,526},{42,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,52}}</string>
        <key>sourceSize</key>
        <string>{42,52}</string>
      </dict>
      <key>nv1_sz_ryzp_leg.png</key>
      <dict>
        <key>frame</key>
        <string>{{734,476},{30,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,34}}</string>
        <key>sourceSize</key>
        <string>{30,34}</string>
      </dict>
      <key>nv1_sz_ryzp_body.png</key>
      <dict>
        <key>frame</key>
        <string>{{674,526},{46,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,54}}</string>
        <key>sourceSize</key>
        <string>{46,54}</string>
      </dict>
      <key>nv1_sz_ryzp_foot_l.png</key>
      <dict>
        <key>frame</key>
        <string>{{674,476},{58,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,48}}</string>
        <key>sourceSize</key>
        <string>{58,48}</string>
      </dict>
      <key>nv1_sz_ryzp_leg_l.png</key>
      <dict>
        <key>frame</key>
        <string>{{674,582},{44,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,44}}</string>
        <key>sourceSize</key>
        <string>{44,44}</string>
      </dict>
      <key>nv1_sz_ryzp_hand_l.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,612},{36,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,30}}</string>
        <key>sourceSize</key>
        <string>{36,30}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>nv1_sz_ryzp.png</string>
      <key>textureFileName</key>
      <string>nv1_sz_ryzp.png</string>
      <key>size</key>
      <string>{1024,2048}</string>
    </dict>
  </dict>
</plist>