<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>panfeng_fly_effect0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,110},{60,62}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{60,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>panfeng_fly_effect0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{62,60}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{62,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>panfeng_fly_effect0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{56,64}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{56,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>panfeng_fly_effect0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,48}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,18},{68,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>panfeng_fly.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07c184c5ff9d83b86451e96d556c0d22$</string>
            <key>textureFileName</key>
            <string>panfeng_fly.png</string>
        </dict>
    </dict>
</plist>
