<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qiao_attack_effect0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,656},{152,132}}</string>
                <key>offset</key>
                <string>{14,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,118},{152,132}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>qiao_attack_effect0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{248,176}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,35},{248,176}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>qiao_attack_effect0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{300,204}}</string>
                <key>offset</key>
                <string>{7,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{300,204}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>qiao_attack_effect0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{316,186}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,17},{316,186}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>qiao_attack_effect0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,152}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,50},{320,152}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>qiao_attack_effect0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,502},{220,152}}</string>
                <key>offset</key>
                <string>{20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,50},{220,152}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>qiao_attack_effect0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{218,166}}</string>
                <key>offset</key>
                <string>{21,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,51},{218,166}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>qiao_attack_effect0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,320},{184,180}}</string>
                <key>offset</key>
                <string>{8,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,53},{184,180}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qiao_attack.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5d053124ba338dd6d5c60c90ad0344b$</string>
            <key>textureFileName</key>
            <string>qiao_attack.png</string>
        </dict>
    </dict>
</plist>
