<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qiyu_zhiyuzhiquan_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{174,164}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,55},{174,164}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>qiyu_zhiyuzhiquan_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,194},{188,162}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,54},{188,162}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>qiyu_zhiyuzhiquan_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{190,188}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,53},{190,188}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>qiyu_zhiyuzhiquan_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{190,184}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,51},{190,184}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>qiyu_zhiyuzhiquan_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,202}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,52},{190,202}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>qiyu_zhiyuzhiquan_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{192,198}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,51},{192,198}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>qiyu_zhiyuzhiquan_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{190,186}}</string>
                <key>offset</key>
                <string>{2,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,57},{190,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>qiyu_zhiyuzhiquan_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{190,180}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,57},{190,180}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>qiyu_zhiyuzhiquan_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,790},{190,176}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,55},{190,176}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>qiyu_zhiyuzhiquan_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,598},{188,172}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,55},{188,172}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>qiyu_zhiyuzhiquan_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,406},{188,164}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,60},{188,164}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>qiyu_zhiyuzhiquan_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,184},{178,164}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,56},{178,164}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>qiyu_zhiyuzhiquan_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{180,158}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,58},{180,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>qiyu_zhiyuzhiquan_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,194},{186,162}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,57},{186,162}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>qiyu_zhiyuzhiquan_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,384},{186,170}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,56},{186,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>qiyu_zhiyuzhiquan_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{172,174}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,49},{172,174}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qiyu_zhiyuzhiquan.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82db4df91eb6b5cc567771c5731f282f$</string>
            <key>textureFileName</key>
            <string>qiyu_zhiyuzhiquan.png</string>
        </dict>
    </dict>
</plist>
