<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>redbagRainBig_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,382},{172,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,61},{172,178}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>redbagRainBig_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,198},{182,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,57},{182,186}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>redbagRainBig_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{194,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,51},{194,198}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>redbagRainBig_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,528},{212,212}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,44},{212,212}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>redbagRainBig_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,528},{226,224}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,38},{226,224}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>redbagRainBig_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,744},{230,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,33},{230,234}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>redbagRainBig_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{246,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,25},{246,250}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>redbagRainBig_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,266},{260,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,18},{260,264}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>redbagRainBig_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{270,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,14},{270,272}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>redbagRainBig_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{254,244}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,30},{254,244}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>redbagRainBig_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,2},{262,268}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,17},{262,268}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>redbagRainBig_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{270,242}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,27},{270,242}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>redbagRainBig_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{274,250}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,26},{274,250}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>redbagRainBig_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,274},{250,258}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,23},{250,258}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>redbagRainBig_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,254},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>redbagRainBig_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,254},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>redbagRainBig.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85625480f4ebc1dfc84569ee737d6166$</string>
            <key>textureFileName</key>
            <string>redbagRainBig.png</string>
        </dict>
    </dict>
</plist>
