<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>redbagRainSmall_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{176,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,59},{176,182}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>redbagRainSmall_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,230},{188,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,55},{188,190}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>redbagRainSmall_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,798},{200,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,49},{200,202}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>redbagRainSmall_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{218,216}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,42},{218,216}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>redbagRainSmall_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{232,226}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,37},{232,226}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>redbagRainSmall_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,776},{234,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,31},{234,238}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>redbagRainSmall_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,276},{250,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,24},{250,252}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>redbagRainSmall_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{262,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{262,264}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>redbagRainSmall_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{270,272}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>redbagRainSmall_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,804},{230,216}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,41},{230,216}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>redbagRainSmall_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{236,230}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,34},{236,230}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>redbagRainSmall_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,530},{244,242}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,29},{244,242}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>redbagRainSmall_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,542},{252,254}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,24},{252,254}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>redbagRainSmall_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{252,260}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,21},{252,260}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>redbagRainSmall_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,798},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>redbagRainSmall.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22b99156f0c6a108b37f2bb45234a5c5$</string>
            <key>textureFileName</key>
            <string>redbagRainSmall.png</string>
        </dict>
    </dict>
</plist>
