<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>smokingdie_effect0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,226},{42,31}}</string>
                <key>offset</key>
                <string>{3,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,116},{42,31}}</string>
                <key>sourceSize</key>
                <string>{98,155}</string>
            </dict>
            <key>smokingdie_effect0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{62,63}}</string>
                <key>offset</key>
                <string>{4,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,92},{62,63}}</string>
                <key>sourceSize</key>
                <string>{98,155}</string>
            </dict>
            <key>smokingdie_effect0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,100},{98,93}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,62},{98,93}}</string>
                <key>sourceSize</key>
                <string>{98,155}</string>
            </dict>
            <key>smokingdie_effect0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{96,107}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,47},{96,107}}</string>
                <key>sourceSize</key>
                <string>{98,155}</string>
            </dict>
            <key>smokingdie_effect0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{84,127}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,22},{84,127}}</string>
                <key>sourceSize</key>
                <string>{98,155}</string>
            </dict>
            <key>smokingdie_effect0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,129}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,5},{56,129}}</string>
                <key>sourceSize</key>
                <string>{98,155}</string>
            </dict>
            <key>smokingdie_effect0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{78,125}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,2},{78,125}}</string>
                <key>sourceSize</key>
                <string>{98,155}</string>
            </dict>
            <key>smokingdie_effect0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,195},{80,95}}</string>
                <key>offset</key>
                <string>{9,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,1},{80,95}}</string>
                <key>sourceSize</key>
                <string>{98,155}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>smokingdie.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b58aca72521ccf5835841b30f1230fc4$</string>
            <key>textureFileName</key>
            <string>smokingdie.png</string>
        </dict>
    </dict>
</plist>
