<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TeaRankEff1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,388},{191,252}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{191,252}}</string>
                <key>sourceSize</key>
                <string>{197,252}</string>
            </dict>
            <key>TeaRankEff1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,642},{191,252}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{191,252}}</string>
                <key>sourceSize</key>
                <string>{197,252}</string>
            </dict>
            <key>TeaRankEff1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,388},{191,252}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{191,252}}</string>
                <key>sourceSize</key>
                <string>{197,252}</string>
            </dict>
            <key>TeaRankEff1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,195},{191,252}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{191,252}}</string>
                <key>sourceSize</key>
                <string>{197,252}</string>
            </dict>
            <key>TeaRankEff1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,195},{191,252}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{191,252}}</string>
                <key>sourceSize</key>
                <string>{197,252}</string>
            </dict>
            <key>TeaRankEff1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,703},{191,252}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{191,252}}</string>
                <key>sourceSize</key>
                <string>{197,252}</string>
            </dict>
            <key>TeaRankEff1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,449},{191,252}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{191,252}}</string>
                <key>sourceSize</key>
                <string>{197,252}</string>
            </dict>
            <key>TeaRankEff1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,195},{191,252}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{191,252}}</string>
                <key>sourceSize</key>
                <string>{197,252}</string>
            </dict>
            <key>TeaRankEff1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,2},{191,252}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{191,252}}</string>
                <key>sourceSize</key>
                <string>{197,252}</string>
            </dict>
            <key>TeaRankEff1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,2},{191,252}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{191,252}}</string>
                <key>sourceSize</key>
                <string>{197,252}</string>
            </dict>
            <key>TeaRankEff1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{191,252}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{191,252}}</string>
                <key>sourceSize</key>
                <string>{197,252}</string>
            </dict>
            <key>TeaRankEff1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{191,252}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{191,252}}</string>
                <key>sourceSize</key>
                <string>{197,252}</string>
            </dict>
            <key>TeaRankEff1_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{191,252}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{191,252}}</string>
                <key>sourceSize</key>
                <string>{197,252}</string>
            </dict>
            <key>TeaRankEff1_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{191,252}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{191,252}}</string>
                <key>sourceSize</key>
                <string>{197,252}</string>
            </dict>
            <key>TeaRankEff1_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{191,252}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{191,252}}</string>
                <key>sourceSize</key>
                <string>{197,252}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TeaRankEff1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:856dd2fd36701ae849cddbda758d6823$</string>
            <key>textureFileName</key>
            <string>TeaRankEff1.png</string>
        </dict>
    </dict>
</plist>
