<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TeaRankEff2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{80,234}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{80,234}}</string>
                <key>sourceSize</key>
                <string>{108,252}</string>
            </dict>
            <key>TeaRankEff2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,494},{80,234}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{80,234}}</string>
                <key>sourceSize</key>
                <string>{108,252}</string>
            </dict>
            <key>TeaRankEff2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{80,234}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{80,234}}</string>
                <key>sourceSize</key>
                <string>{108,252}</string>
            </dict>
            <key>TeaRankEff2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,412},{80,234}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{80,234}}</string>
                <key>sourceSize</key>
                <string>{108,252}</string>
            </dict>
            <key>TeaRankEff2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{80,234}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{80,234}}</string>
                <key>sourceSize</key>
                <string>{108,252}</string>
            </dict>
            <key>TeaRankEff2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,330},{80,234}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{80,234}}</string>
                <key>sourceSize</key>
                <string>{108,252}</string>
            </dict>
            <key>TeaRankEff2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{80,234}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{80,234}}</string>
                <key>sourceSize</key>
                <string>{108,252}</string>
            </dict>
            <key>TeaRankEff2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,248},{80,234}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{80,234}}</string>
                <key>sourceSize</key>
                <string>{108,252}</string>
            </dict>
            <key>TeaRankEff2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{80,234}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{80,234}}</string>
                <key>sourceSize</key>
                <string>{108,252}</string>
            </dict>
            <key>TeaRankEff2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,166},{80,234}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{80,234}}</string>
                <key>sourceSize</key>
                <string>{108,252}</string>
            </dict>
            <key>TeaRankEff2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{80,234}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{80,234}}</string>
                <key>sourceSize</key>
                <string>{108,252}</string>
            </dict>
            <key>TeaRankEff2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,84},{80,234}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{80,234}}</string>
                <key>sourceSize</key>
                <string>{108,252}</string>
            </dict>
            <key>TeaRankEff2_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{80,234}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{80,234}}</string>
                <key>sourceSize</key>
                <string>{108,252}</string>
            </dict>
            <key>TeaRankEff2_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{80,234}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{80,234}}</string>
                <key>sourceSize</key>
                <string>{108,252}</string>
            </dict>
            <key>TeaRankEff2_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,234}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{80,234}}</string>
                <key>sourceSize</key>
                <string>{108,252}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TeaRankEff2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9367f7b31c45109e48376e82a5564241$</string>
            <key>textureFileName</key>
            <string>TeaRankEff2.png</string>
        </dict>
    </dict>
</plist>
